type cploader_block_device;
typealias gpu_device alias mrvlgpu_device;
type env;
type env_exec;
type env_tmpfs;
type iml;
type iml_exec;
type iml_tmpfs;
type fota_block_device;
type kmsg;
type kmsg_exec;
type kmsg_tmpfs;
type splash_block_device;
type nvm;
type nvm_block_device;
type nvm_data_file;
type nvm_device;
type nvm_exec;
type nvm_tmpfs;
type diag;
type diag_device;
type diag_exec;
type diag_tmpfs;
type recovery_block_device;
type boot_block_device;
type mwireless_device;
type memsic_device;
type FMRadiod, domain;
type FMRadiod_exec, exec_type, file_type;
type FMRadiod_service, service_manager_type;
type eeh;
type eeh_device;
type eeh_exec;
type eeh_tmpfs;
type log_on_boot;
type log_on_boot_exec;
type log_on_boot_tmpfs;
type system_app_device;
type phservice, domain;
type phservice_exec, exec_type, file_type;
type memsicp;
type memsicp_exec;
type memsicp_tmpfs;
type memsic_device, dev_type;
type mrd_block_device;
type kinitlog;
type kinitlog_exec;
type kinitlog_tmpfs;
type teecsstdca;
type teecsstdca_device;
type teecsstdca_exec;
type teecsstdca_tmpfs;
type run_hawk_on_boot;
type run_hawk_on_boot_exec;
type run_hawk_on_boot_tmpfs;
type embmsd_socket;
type marvelltel;
type marvelltel_device;
type marvelltel_tmpfs;
type bootloader_block_device;
type mwirelessd;
type mwirelessd_exec;
type mwirelessd_tmpfs;
type wireless_data_file;
type mwireless_device, dev_type;

type geu_device, dev_type;
type ipc_device, dev_type;
type core_compressor;
type core_compressor_exec;
type mediaserver_device;
type pppmodem;
type pppmodem_device;
type pppmodem_exec;
type pppmodem_tmpfs;
type mrd1_block_device;
type codecIPC_server, domain;
type codecIPC_server_exec, exec_type, file_type;
type atcmdsrv;
type atcmdsrv_device;
type atcmdsrv_exec;
type atcmdsrv_tmpfs;
type setup_fs;
type setup_fs_exec;
type setup_fs_tmpfs;
type sensor_device;
type teesst_data_file;
type mlan2040coex;
type mlan2040coex_exec;
type mlan2040coex_tmpfs;
type infor_device, dev_type;
type dtim_block_device;
type memsicd;
type memsicd_exec;
type memsicd_tmpfs;
type marvelltel_exec;
type mep2_block_device;
type ts_device;
type touch_updater;
type touch_updater_exec;
type touch_updater_tmpfs;
type dump_log_data_file;
type load_g_sensor;
type load_g_sensor_exec;
type load_g_sensor_tmpfs;
type misc_block_device;
type smartcard;
type smartcard_data_file;
type smartcard_tmpfs;
type wpa_device;
type mned;
type mned_exec;
type mned_tmpfs;
type root_detect;
type root_detect_exec;
type root_detect_tmpfs;
type imsc_exec;
type imsd_socket;
type vpu_device, dev_type;
type tel_data_file;
type mlaninit;
type mlaninit_exec;
type mlaninit_tmpfs;
type i2c_device;
type ssipc_device;
type imsc;
type imsc_tmpfs;
type at_router;
type at_router_exec;
type at_router_tmpfs;
type system_block_device;
type security_block_device;
type hawk;
type hawk_exec;
type hawk_tmpfs;
type bluetooth_device;
type mrvl_gpsd;
type mrvl_gpsd_exec;
type mrvl_gpsd_tmpfs;
type radio_block_device;
type load_g_cali_data;
type load_g_cali_data_exec;
type load_g_cali_data_tmpfs;
