typeattribute bootloader_block_device dev_type;
typeattribute at_router domain;
typeattribute at_router_exec exec_type, file_type;
typeattribute at_router_tmpfs file_type;
typeattribute atcmdsrv domain;
typeattribute atcmdsrv_device dev_type;
typeattribute atcmdsrv_exec exec_type, file_type;
typeattribute atcmdsrv_tmpfs file_type;
typeattribute codecIPC_server domain;
typeattribute codecIPC_server_exec exec_type, file_type;
typeattribute codecIPC_server_tmpfs file_type;
typeattribute core_compressor domain;
typeattribute core_compressor_exec exec_type, file_type;
typeattribute eeh domain;
typeattribute eeh_device dev_type;
typeattribute eeh_exec exec_type, file_type;
typeattribute eeh_tmpfs file_type;
typeattribute env domain;
typeattribute env_exec exec_type, file_type;
typeattribute env_tmpfs file_type;
typeattribute fota_block_device dev_type;
typeattribute frp_block_device dev_type;
typeattribute geu_device dev_type;
typeattribute gps_control file_type;
typeattribute gps_data_file data_file_type, file_type;
typeattribute gps_device dev_type;
typeattribute gps_socket file_type;
typeattribute gpsd domain, netdomain;
typeattribute gpsd_exec exec_type, file_type;
typeattribute gpsd_tmpfs file_type;
typeattribute hawk domain;
typeattribute hawk_exec exec_type, file_type;
typeattribute hawk_tmpfs file_type;
typeattribute hci_attach domain;
typeattribute hci_attach_dev dev_type;
typeattribute hci_attach_exec exec_type, file_type;
typeattribute hci_attach_tmpfs file_type;
typeattribute i2c_device dev_type;
typeattribute iml domain;
typeattribute iml_exec exec_type, file_type;
typeattribute iml_tmpfs file_type;
typeattribute imsc domain;
typeattribute imsc_exec exec_type, file_type;
typeattribute imsc_tmpfs file_type;
typeattribute infor_device dev_type;
typeattribute kinitlog domain;
typeattribute kinitlog_exec exec_type, file_type;
typeattribute kinitlog_tmpfs file_type;
typeattribute kmsg domain;
typeattribute kmsg_device dev_type;
typeattribute kmsg_exec exec_type, file_type;
typeattribute kmsg_tmpfs file_type;
typeattribute load_g_cali_data domain;
typeattribute load_g_cali_data_exec exec_type, file_type;
typeattribute load_g_cali_data_tmpfs file_type;
typeattribute load_g_sensor domain;
typeattribute load_g_sensor_exec exec_type, file_type;
typeattribute load_g_sensor_tmpfs file_type;
typeattribute log_on_boot domain;
typeattribute log_on_boot_exec exec_type, file_type;
typeattribute log_on_boot_tmpfs file_type;
typeattribute marvelltel domain;
typeattribute marvelltel_device dev_type;
typeattribute marvelltel_exec exec_type, file_type;
typeattribute marvelltel_tmpfs file_type;
typeattribute memsic_device dev_type;
typeattribute memsicd domain;
typeattribute memsicd_exec exec_type, file_type;
typeattribute memsicd_tmpfs file_type;
typeattribute memsicp domain;
typeattribute memsicp_exec exec_type, file_type;
typeattribute memsicp_tmpfs file_type;
typeattribute mep2_block_device dev_type;
typeattribute mlan2040coex domain;
typeattribute mlan2040coex_exec exec_type, file_type;
typeattribute mlan2040coex_tmpfs file_type;
typeattribute mlaninit domain;
typeattribute mlaninit_exec exec_type, file_type;
typeattribute mlaninit_tmpfs file_type;
typeattribute mned domain;
typeattribute mned_exec exec_type, file_type;
typeattribute mned_tmpfs file_type;
typeattribute mrd1_block_device dev_type;
typeattribute mrd_block_device dev_type;
typeattribute mrvl_gpsd domain;
typeattribute mrvl_gpsd_exec exec_type, file_type;
typeattribute mrvl_gpsd_tmpfs file_type;
typeattribute mrvlgpu_device dev_type;
typeattribute mwireless_device dev_type;
typeattribute mwirelessd domain;
typeattribute mwirelessd_exec exec_type, file_type;
typeattribute mwirelessd_tmpfs file_type;
typeattribute nvm domain;
typeattribute nvm_block_device dev_type;
typeattribute nvm_data_file data_file_type, file_type;
typeattribute nvm_device dev_type;
typeattribute nvm_exec exec_type, file_type;
typeattribute nvm_tmpfs file_type;
typeattribute phservice domain;
typeattribute phservice_exec exec_type, file_type;
typeattribute phservice_tmpfs file_type;
typeattribute pppmodem domain;
typeattribute pppmodem_device dev_type;
typeattribute pppmodem_exec exec_type, file_type;
typeattribute pppmodem_tmpfs file_type;
typeattribute qtaguid_device dev_type;
typeattribute root_detect domain;
typeattribute root_detect_exec exec_type, file_type;
typeattribute root_detect_tmpfs file_type;
typeattribute run_hawk_on_boot domain;
typeattribute run_hawk_on_boot_exec exec_type, file_type;
typeattribute run_hawk_on_boot_tmpfs file_type;
typeattribute security_block_device dev_type;
typeattribute ssipc_device dev_type;
typeattribute sysfs_nfc_power_writable fs_type, mlstrustedobject, sysfs_type;
typeattribute system_ndebug_socket file_type;
typeattribute system_radio_prop property_type;
typeattribute tee domain;
typeattribute tee_data_file data_file_type, file_type;
typeattribute tee_device dev_type;
typeattribute tee_exec exec_type, file_type;
typeattribute tee_tmpfs file_type;
typeattribute teecsstdca domain;
typeattribute teecsstdca_device dev_type;
typeattribute teecsstdca_exec exec_type, file_type;
typeattribute teecsstdca_tmpfs file_type;
typeattribute teesst_data_file data_file_type, file_type;
typeattribute tel_data_file data_file_type, file_type;
typeattribute touch_updater domain;
typeattribute touch_updater_exec exec_type, file_type;
typeattribute touch_updater_tmpfs file_type;
typeattribute ts_device dev_type;
typeattribute vpu_device dev_type;
typeattribute wireless_data_file data_file_type, file_type;

type_transition FMRadiod tmpfs:file FMRadiod_tmpfs;
type_transition at_router tmpfs:file at_router_tmpfs;
type_transition atcmdsrv tmpfs:file atcmdsrv_tmpfs;
type_transition codecIPC_server tmpfs:file codecIPC_server_tmpfs;
type_transition diag system_data_file:fifo_file tel_data_file;
type_transition diag system_data_file:file tel_data_file;
type_transition diag system_data_file:lnk_file tel_data_file;
type_transition diag system_data_file:sock_file tel_data_file;
type_transition diag tmpfs:file diag_tmpfs;
type_transition eeh tmpfs:file eeh_tmpfs;
type_transition env tmpfs:file env_tmpfs;
type_transition hawk tmpfs:file hawk_tmpfs;
type_transition iml system_data_file:fifo_file tel_data_file;
type_transition iml system_data_file:file tel_data_file;
type_transition iml system_data_file:lnk_file tel_data_file;
type_transition iml system_data_file:sock_file tel_data_file;
type_transition iml tmpfs:file iml_tmpfs;
type_transition imsc socket_device:dir imsd_socket;
type_transition imsc socket_device:fifo_file imsd_socket;
type_transition imsc socket_device:file imsd_socket;
type_transition imsc socket_device:lnk_file imsd_socket;
type_transition imsc socket_device:sock_file imsd_socket;
type_transition imsc tmpfs:file imsc_tmpfs;
type_transition init FMRadiod_exec:process FMRadiod;
type_transition init at_router_exec:process at_router;
type_transition init atcmdsrv_exec:process atcmdsrv;
type_transition init codecIPC_server_exec:process codecIPC_server;
type_transition init diag_exec:process diag;
type_transition init eeh_exec:process eeh;
type_transition init env_exec:process env;
type_transition init hawk_exec:process hawk;
type_transition init iml_exec:process iml;
type_transition init imsc_exec:process imsc;
type_transition init kinitlog_exec:process kinitlog;
type_transition init kmsg_exec:process kmsg;
type_transition init load_g_cali_data_exec:process load_g_cali_data;
type_transition init load_g_sensor_exec:process load_g_sensor;
type_transition init log_on_boot_exec:process log_on_boot;
type_transition init marvelltel_exec:process marvelltel;
type_transition init memsicd_exec:process memsicd;
type_transition init memsicp_exec:process memsicp;
type_transition init mlan2040coex_exec:process mlan2040coex;
type_transition init mlaninit_exec:process mlaninit;
type_transition init mned_exec:process mned;
type_transition init mrvl_gpsd_exec:process mrvl_gpsd;
type_transition init mwirelessd_exec:process mwirelessd;
type_transition init nvm_exec:process nvm;
type_transition init phservice_exec:process phservice;
type_transition init pppmodem_exec:process pppmodem;
type_transition init root_detect_exec:process root_detect;
type_transition init run_hawk_on_boot_exec:process run_hawk_on_boot;
type_transition init setup_fs_exec:process setup_fs;
type_transition init teecsstdca_exec:process teecsstdca;
type_transition init touch_updater_exec:process touch_updater;
type_transition kernel core_compressor_exec:process core_compressor;
type_transition kinitlog tmpfs:file kinitlog_tmpfs;
type_transition kmsg tmpfs:file kmsg_tmpfs;
type_transition load_g_cali_data tmpfs:file load_g_cali_data_tmpfs;
type_transition load_g_sensor tmpfs:file load_g_sensor_tmpfs;
type_transition log_on_boot tmpfs:file log_on_boot_tmpfs;
type_transition marvelltel tmpfs:file marvelltel_tmpfs;
type_transition memsicd tmpfs:file memsicd_tmpfs;
type_transition memsicp tmpfs:file memsicp_tmpfs;
type_transition mlan2040coex tmpfs:file mlan2040coex_tmpfs;
type_transition mlaninit tmpfs:file mlaninit_tmpfs;
type_transition mned tmpfs:file mned_tmpfs;
type_transition mrvl_gpsd tmpfs:file mrvl_gpsd_tmpfs;
type_transition mwirelessd tmpfs:file mwirelessd_tmpfs;
type_transition nvm tmpfs:file nvm_tmpfs;
type_transition phservice tmpfs:file phservice_tmpfs;
type_transition pppmodem tmpfs:file pppmodem_tmpfs;
type_transition root_detect tmpfs:file root_detect_tmpfs;
type_transition run_hawk_on_boot tmpfs:file run_hawk_on_boot_tmpfs;
type_transition setup_fs tmpfs:file setup_fs_tmpfs;
type_transition smartcard tmpfs:file smartcard_tmpfs;
type_transition teecsstdca tmpfs:file teecsstdca_tmpfs;
type_transition touch_updater tmpfs:file touch_updater_tmpfs;

role r types { FMRadiod at_router atcmdsrv codecIPC_server core_compressor eeh env hawk hci_attach iml imsc init kinitlog kmsg load_g_cali_data load_g_sensor log_on_boot marvelltel memsicd memsicp mlan2040coex mlaninit mned mrvl_gpsd mwirelessd nvm phservice pppmodem root_detect run_hawk_on_boot setup_fs teecsstdca touch_updater };
