allow atcmdsrv block_device:dir { add_name create getattr ioctl link open read remove_name rename reparent rmdir search setattr unlink write };
allow diag block_device:dir { add_name create getattr ioctl link open read remove_name rename reparent rmdir search setattr unlink write };
allow eeh block_device:dir { add_name create getattr ioctl link open read remove_name rename reparent rmdir search setattr unlink write };
allow install_recovery block_device:blk_file { append getattr ioctl lock open read write };
allow install_recovery block_device:dir { search };
allow kernel block_device:blk_file { append create getattr ioctl link lock open read rename setattr unlink write };
allow marvelltel block_device:dir { add_name create getattr ioctl link open read remove_name rename reparent rmdir search setattr unlink write };
allow recovery block_device:blk_file { append create getattr ioctl link lock open read rename setattr unlink write };
allow recovery block_device:dir { add_name create getattr ioctl link open read remove_name rename reparent rmdir search setattr unlink write };
allow setup_fs block_device:dir { add_name create getattr ioctl link open read remove_name rename reparent rmdir search setattr unlink write };
allow shell block_device:blk_file { getattr };
allow shell block_device:dir { getattr open read search };
allow system_server block_device:dir { search };
allow unconfineddomain block_device:chr_file { append audit_access create getattr ioctl link lock mounton open quotaon read relabelfrom rename setattr swapon unlink write };
allow unconfineddomain block_device:file { append audit_access create getattr ioctl link lock mounton open quotaon read relabelfrom rename setattr swapon unlink write };
allow uncrypt block_device:blk_file { append open write };
allow uncrypt block_device:dir { getattr ioctl open read search };
allow untrusted_app block_device:blk_file { getattr };
allow untrusted_app block_device:dir { getattr open read search };
allow vold block_device:blk_file { append create getattr ioctl link lock open read rename setattr unlink write };
allow vold block_device:dir { add_name create getattr ioctl link open read remove_name rename reparent rmdir search setattr unlink write };
