
allow bluetooth bluetooth_data_file:dir { ioctl read write create getattr setattr unlink link rename add_name remove_name reparent search rmdir open };
allow bluetooth bluetooth_data_file:fifo_file { ioctl read write create getattr setattr lock append unlink link rename open };
allow bluetooth bluetooth_data_file:file { ioctl read write create getattr setattr lock append unlink link rename open };
allow bluetooth bluetooth_data_file:lnk_file { ioctl read write create getattr setattr lock append unlink link rename open };
allow bluetooth bluetooth_data_file:sock_file { ioctl read write create getattr setattr lock append unlink link rename open };
allow bluetooth bluetooth_device:chr_file { ioctl read write create getattr setattr lock append unlink link rename open };
allow bluetooth bluetooth_efs_file:dir { ioctl read getattr search open };
allow bluetooth bluetooth_efs_file:file { ioctl read getattr lock open };
allow bluetooth bluetooth_efs_file:lnk_file { ioctl read getattr lock open };
allow bluetooth bluetooth_socket:sock_file { ioctl read write create getattr setattr lock append unlink link rename open };
allow bluetooth bluetooth_tmpfs:file { read write execute };
allow bluetoothdomain bluetooth:unix_stream_socket { ioctl read write getattr getopt setopt shutdown };
allow debuggerd bluetooth:process { ptrace };
allow hci_attach bluetooth_efs_file:dir { ioctl read getattr search open };
allow hci_attach bluetooth_efs_file:file { ioctl read getattr lock open };
allow init bluetooth:process { noatsecure };
allow init bluetooth_data_file:blk_file { relabelto };
allow init bluetooth_data_file:chr_file { relabelto };
allow init bluetooth_data_file:dir { relabelto };
allow init bluetooth_data_file:fifo_file { relabelto };
allow init bluetooth_data_file:file { relabelto };
allow init bluetooth_data_file:lnk_file { relabelto };
allow init bluetooth_data_file:sock_file { relabelto };
allow init bluetooth_efs_file:blk_file { relabelto };
allow init bluetooth_efs_file:chr_file { relabelto };
allow init bluetooth_efs_file:dir { relabelto };
allow init bluetooth_efs_file:fifo_file { relabelto };
allow init bluetooth_efs_file:file { relabelto };
allow init bluetooth_efs_file:lnk_file { relabelto };
allow init bluetooth_efs_file:sock_file { relabelto };
allow init bluetooth_socket:blk_file { relabelto };
allow init bluetooth_socket:chr_file { relabelto };
allow init bluetooth_socket:dir { relabelto };
allow init bluetooth_socket:fifo_file { relabelto };
allow init bluetooth_socket:file { relabelto };
allow init bluetooth_socket:lnk_file { relabelto };
allow init bluetooth_socket:sock_file { relabelto };
allow init bluetooth_tmpfs:blk_file { relabelto };
allow init bluetooth_tmpfs:chr_file { relabelto };
allow init bluetooth_tmpfs:dir { relabelto };
allow init bluetooth_tmpfs:fifo_file { relabelto };
allow init bluetooth_tmpfs:file { relabelto };
allow init bluetooth_tmpfs:lnk_file { relabelto };
allow init bluetooth_tmpfs:sock_file { relabelto };
allow installd bluetooth_data_file:dir { ioctl read write create getattr setattr relabelfrom relabelto unlink link rename add_name remove_name reparent search rmdir open };
allow installd bluetooth_data_file:fifo_file { getattr setattr relabelfrom relabelto unlink rename };
allow installd bluetooth_data_file:file { getattr setattr relabelfrom relabelto unlink rename };
allow installd bluetooth_data_file:lnk_file { create getattr setattr relabelfrom relabelto unlink rename };
allow installd bluetooth_data_file:sock_file { getattr setattr relabelfrom relabelto unlink rename };
allow mediaserver bluetooth:unix_stream_socket { connectto };
allow mediaserver bluetooth_socket:sock_file { write };
allow mlan2040coex bluetooth_device:chr_file { ioctl read write create getattr setattr lock append unlink link rename open };
allow mlaninit bluetooth_device:chr_file { ioctl read write create getattr setattr lock append unlink link rename open };
allow mwirelessd bluetooth_device:chr_file { ioctl read write create getattr setattr lock append unlink link rename open };
allow rild bluetooth_efs_file:dir { ioctl read getattr search open };
allow rild bluetooth_efs_file:file { ioctl read getattr lock open };
allow runas bluetooth:process { dyntransition };
allow shell bluetooth_device:chr_file { getattr };
allow system_server bluetooth_data_file:dir { read getattr search };
allow system_server bluetooth_data_file:file { read write getattr };
allow unconfineddomain bluetooth:binder { call set_context_mgr transfer };
allow unconfineddomain bluetooth_data_file:chr_file { ioctl read write create getattr setattr lock relabelfrom append unlink link rename swapon quotaon mounton open audit_access };
allow unconfineddomain bluetooth_data_file:dir { ioctl read write create getattr setattr lock relabelfrom append unlink link rename execute swapon quotaon mounton add_name remove_name reparent search rmdir open audit_access execmod };
allow unconfineddomain bluetooth_data_file:fifo_file { ioctl read write create getattr setattr lock relabelfrom append unlink link rename execute swapon quotaon mounton open audit_access execmod };
allow unconfineddomain bluetooth_data_file:file { ioctl read write create getattr setattr lock relabelfrom append unlink link rename swapon quotaon mounton open audit_access };
allow unconfineddomain bluetooth_data_file:lnk_file { ioctl read write create getattr setattr lock relabelfrom append unlink link rename execute swapon quotaon mounton open audit_access execmod };
allow unconfineddomain bluetooth_data_file:sock_file { ioctl read write create getattr setattr lock relabelfrom append unlink link rename execute swapon quotaon mounton open audit_access execmod };
allow unconfineddomain bluetooth_device:chr_file { ioctl read write create getattr setattr lock relabelfrom append unlink link rename swapon quotaon mounton open audit_access };
allow unconfineddomain bluetooth_device:file { ioctl read write create getattr setattr lock relabelfrom append unlink link rename swapon quotaon mounton open audit_access };
allow unconfineddomain bluetooth_efs_file:chr_file { ioctl read write create getattr setattr lock relabelfrom append unlink link rename swapon quotaon mounton open audit_access };
allow unconfineddomain bluetooth_efs_file:dir { ioctl read write create getattr setattr lock relabelfrom append unlink link rename execute swapon quotaon mounton add_name remove_name reparent search rmdir open audit_access execmod };
allow unconfineddomain bluetooth_efs_file:fifo_file { ioctl read write create getattr setattr lock relabelfrom append unlink link rename execute swapon quotaon mounton open audit_access execmod };
allow unconfineddomain bluetooth_efs_file:file { ioctl read write create getattr setattr lock relabelfrom append unlink link rename swapon quotaon mounton open audit_access };
allow unconfineddomain bluetooth_efs_file:lnk_file { ioctl read write create getattr setattr lock relabelfrom append unlink link rename execute swapon quotaon mounton open audit_access execmod };
allow unconfineddomain bluetooth_efs_file:sock_file { ioctl read write create getattr setattr lock relabelfrom append unlink link rename execute swapon quotaon mounton open audit_access execmod };
allow unconfineddomain bluetooth_socket:chr_file { ioctl read write create getattr setattr lock relabelfrom append unlink link rename swapon quotaon mounton open audit_access };
allow unconfineddomain bluetooth_socket:dir { ioctl read write create getattr setattr lock relabelfrom append unlink link rename execute swapon quotaon mounton add_name remove_name reparent search rmdir open audit_access execmod };
allow unconfineddomain bluetooth_socket:fifo_file { ioctl read write create getattr setattr lock relabelfrom append unlink link rename execute swapon quotaon mounton open audit_access execmod };
allow unconfineddomain bluetooth_socket:file { ioctl read write create getattr setattr lock relabelfrom append unlink link rename swapon quotaon mounton open audit_access };
allow unconfineddomain bluetooth_socket:lnk_file { ioctl read write create getattr setattr lock relabelfrom append unlink link rename execute swapon quotaon mounton open audit_access execmod };
allow unconfineddomain bluetooth_socket:sock_file { ioctl read write create getattr setattr lock relabelfrom append unlink link rename execute swapon quotaon mounton open audit_access execmod };
allow unconfineddomain bluetooth_tmpfs:chr_file { ioctl read write create getattr setattr lock relabelfrom append unlink link rename swapon quotaon mounton open audit_access };
allow unconfineddomain bluetooth_tmpfs:dir { ioctl read write create getattr setattr lock relabelfrom append unlink link rename execute swapon quotaon mounton add_name remove_name reparent search rmdir open audit_access execmod };
allow unconfineddomain bluetooth_tmpfs:fifo_file { ioctl read write create getattr setattr lock relabelfrom append unlink link rename execute swapon quotaon mounton open audit_access execmod };
allow unconfineddomain bluetooth_tmpfs:file { ioctl read write create getattr setattr lock relabelfrom append unlink link rename swapon quotaon mounton open audit_access };
allow unconfineddomain bluetooth_tmpfs:lnk_file { ioctl read write create getattr setattr lock relabelfrom append unlink link rename execute swapon quotaon mounton open audit_access execmod };
allow unconfineddomain bluetooth_tmpfs:sock_file { ioctl read write create getattr setattr lock relabelfrom append unlink link rename execute swapon quotaon mounton open audit_access execmod };
allow untrusted_app bluetooth_data_file:dir { getattr };
allow untrusted_app bluetooth_device:chr_file { read getattr };
