type bootanim;
type bootanim_exec;
type bootanim_tmpfs;
allow bootanim bootanim_exec:file { read getattr execute entrypoint open };
allow bootanim bootanim_tmpfs:file { read write };
allow debuggerd bootanim:process { ptrace };
allow hawk bootanim:dir { getattr search };
allow hawk bootanim:file { read open };
allow init bootanim:process { transition noatsecure siginh rlimitinh };
allow init bootanim_exec:file { read getattr execute open };
allow init bootanim_tmpfs:blk_file { relabelto };
allow init bootanim_tmpfs:chr_file { relabelto };
allow init bootanim_tmpfs:dir { relabelto };
allow init bootanim_tmpfs:fifo_file { relabelto };
allow init bootanim_tmpfs:file { relabelto };
allow init bootanim_tmpfs:lnk_file { relabelto };
allow init bootanim_tmpfs:sock_file { relabelto };
allow recovery bootanim_exec:file { ioctl read write create getattr setattr lock relabelfrom relabelto append unlink link rename open };
allow servicemanager bootanim:dir { search };
allow servicemanager bootanim:file { read open };
allow servicemanager bootanim:process { getattr };
allow shell bootanim_exec:file { getattr };
allow surfaceflinger bootanim:binder { call transfer };
allow surfaceflinger bootanim:fd { use };
allow unconfineddomain bootanim:binder { call set_context_mgr transfer };
allow unconfineddomain bootanim_tmpfs:chr_file { ioctl read write create getattr setattr lock relabelfrom append unlink link rename swapon quotaon mounton open audit_access };
allow unconfineddomain bootanim_tmpfs:dir { ioctl read write create getattr setattr lock relabelfrom append unlink link rename execute swapon quotaon mounton add_name remove_name reparent search rmdir open audit_access execmod };
allow unconfineddomain bootanim_tmpfs:fifo_file { ioctl read write create getattr setattr lock relabelfrom append unlink link rename execute swapon quotaon mounton open audit_access execmod };
allow unconfineddomain bootanim_tmpfs:file { ioctl read write create getattr setattr lock relabelfrom append unlink link rename swapon quotaon mounton open audit_access };
allow unconfineddomain bootanim_tmpfs:lnk_file { ioctl read write create getattr setattr lock relabelfrom append unlink link rename execute swapon quotaon mounton open audit_access execmod };
allow unconfineddomain bootanim_tmpfs:sock_file { ioctl read write create getattr setattr lock relabelfrom append unlink link rename execute swapon quotaon mounton open audit_access execmod };
allow untrusted_app bootanim_exec:file { read getattr execute open };
dontaudit init bootanim:process { noatsecure };
