allow binderservicedomain appdomain:binder { transfer };
allow binderservicedomain appdomain:fd { use };
allow binderservicedomain appdomain:fifo_file { write };
allow binderservicedomain devpts:chr_file { ioctl read write getattr lock append open };
allow bluetooth dump_log_data_file:file { ioctl read write create getattr setattr lock append unlink link rename open };
allow bluetooth efs_file:dir { search };
allow bluetooth mwirelessd:dir search;
allow bluetooth mwirelessd:sock_file { read write };
allow bluetooth mwirelessd:unix_stream_socket connectto;

allow bluetooth property_socket:sock_file { write };
allow bluetooth self:capability { net_admin };
allow bluetooth self:capability2 { wake_alarm };
allow bluetooth self:dir { ioctl read getattr search open };
allow bluetooth self:fd { use };
allow bluetooth self:fifo_file { ioctl read write getattr lock append open };
allow bluetooth self:file { ioctl read write getattr lock append open };
allow bluetooth self:lnk_file { ioctl read getattr lock open };
allow bluetooth self:netlink_route_socket { ioctl read write create getattr setattr lock append bind connect getopt setopt shutdown nlmsg_read };
allow bluetooth self:netlink_selinux_socket { ioctl read write create getattr setattr lock relabelfrom relabelto append bind connect listen accept getopt setopt shutdown recvfrom sendto recv_msg send_msg name_bind };
allow bluetooth self:process { fork sigchld sigkill sigstop signull signal ptrace getsched setsched getsession getpgid setpgid getcap setcap getattr setrlimit execmem };
allow bluetooth self:rawip_socket { ioctl read write create getattr setattr lock append bind connect getopt setopt shutdown };
allow bluetooth self:tcp_socket { ioctl read write create getattr setattr lock append bind connect listen accept getopt setopt shutdown };
allow bluetooth self:tun_socket { ioctl read write create getattr setattr lock append bind connect getopt setopt shutdown };
allow bluetooth self:udp_socket { ioctl read write create getattr setattr lock append bind connect getopt setopt shutdown };
allow bluetooth self:unix_dgram_socket { ioctl read write create getattr setattr lock append bind connect getopt setopt shutdown sendto };
allow bluetooth self:unix_stream_socket { ioctl read write create getattr setattr lock append bind connect listen accept getopt setopt shutdown connectto };
allow bluetooth tun_device:chr_file { ioctl read write getattr lock append open };
allow bluetooth uhid_device:chr_file { ioctl read write getattr lock append open };
