allow clatd clatd_exec:file { entrypoint execute getattr open read };
allow debuggerd clatd:process { ptrace };
allow init clatd:process { noatsecure };
allow netd clatd:process { rlimitinh siginh signal transition };
allow netd clatd_exec:file { execute getattr open read };
allow recovery clatd_exec:file { append create getattr ioctl link lock open read relabelfrom relabelto rename setattr unlink write };
allow shell clatd_exec:file { getattr };
allow unconfineddomain clatd:binder { call set_context_mgr transfer };
allow untrusted_app clatd_exec:file { execute getattr open read };
dontaudit netd clatd:process { noatsecure };
