# create new domain codecIPC_server
type codecIPC_server, domain;
type codecIPC_server_exec, exec_type, file_type;
init_daemon_domain(codecIPC_server)

allow codecIPC_server servicemanager:binder { transfer call impersonate };

#SEC removed: allow codecIPC_server system_server_service:service_manager add;
allow codecIPC_server dumpstate:fd use;
allow codecIPC_server dumpstate:unix_stream_socket unix_stream_socket_perms;

#neverallow Google CTS-android-m-preview: 
#neverallow { domain -system_server -system_app -init -installd } system_data_file:file { append create link unlink relabelfrom rename setattr write }
#allow codecIPC_server system_data_file:file create_file_perms;
allow codecIPC_server system_data_file:file r_file_perms;

allow codecIPC_server shell:fd use;

allow codecIPC_server mrvlgpu_device:chr_file { open read write ioctl getattr map lock append };
