# codecIPC_server domain
type codecIPC_server, domain;
type codecIPC_server_exec, exec_type, file_type, vendor_file_type;

init_daemon_domain(codecIPC_server)

# Minimal binder access used by daemon-style services that query servicemanager.
allow codecIPC_server servicemanager:binder { call transfer };
