allow shell cpuctl_device:chr_file { getattr };
allow unconfineddomain cpuctl_device:chr_file { append audit_access create getattr ioctl link lock mounton open quotaon read relabelfrom rename setattr swapon unlink write };
allow unconfineddomain cpuctl_device:file { append audit_access create getattr ioctl link lock mounton open quotaon read relabelfrom rename setattr swapon unlink write };
allow untrusted_app cpuctl_device:chr_file { getattr };
