type ctl_bootanim_prop;
type ctl_bugreport_prop;
type ctl_default_prop;
type ctl_dhcp_pan_prop;
type ctl_dumpstate_prop;
type ctl_fuse_prop;
type ctl_mdnsd_prop;
type ctl_rildaemon_prop;
allow bluetooth ctl_dhcp_pan_prop:property_service { set };
allow debuggerd ctl_dumpstate_prop:property_service { set };
allow eeh ctl_default_prop:property_service { set };
allow init_shell ctl_default_prop:property_service { set };
allow marvelltel ctl_default_prop:property_service { set };
allow marvelltel ctl_rildaemon_prop:property_service { set };
allow mwirelessd ctl_default_prop:property_service { set };
allow netd ctl_mdnsd_prop:property_service { set };
allow radio ctl_rildaemon_prop:property_service { set };
allow servicemanager ctl_dumpstate_prop:property_service { set };
allow shell ctl_dumpstate_prop:property_service { set };
allow surfaceflinger ctl_bootanim_prop:property_service { set };
allow system_app ctl_bugreport_prop:property_service { set };
allow system_app ctl_default_prop:property_service { set };
allow system_server ctl_bugreport_prop:property_service { set };
allow system_server ctl_default_prop:property_service { set };
allow system_server ctl_dhcp_pan_prop:property_service { set };
allow system_server ctl_dumpstate_prop:property_service { set };
allow vold ctl_fuse_prop:property_service { set };
