type debugfs;
allow domain debugfs:dir { ioctl read getattr search open };
allow domain debugfs:file { write append open };
allow dumpstate debugfs:file { ioctl read getattr lock open };
allow mediaserver debugfs:file { ioctl read write create getattr setattr lock append unlink link rename open };
allow shell debugfs:file { ioctl read getattr lock open };
allow system_server debugfs:file { ioctl read getattr lock open };
allow unconfineddomain debugfs:chr_file { ioctl read write create getattr setattr lock relabelfrom append unlink link rename swapon quotaon mounton open audit_access };
allow unconfineddomain debugfs:dir { ioctl read write create getattr setattr lock relabelfrom append unlink link rename execute swapon quotaon mounton add_name remove_name reparent search rmdir open audit_access execmod };
allow unconfineddomain debugfs:fifo_file { ioctl read write create getattr setattr lock relabelfrom append unlink link rename execute swapon quotaon mounton open audit_access execmod };
allow unconfineddomain debugfs:file { ioctl read write create getattr setattr lock relabelfrom append unlink link rename swapon quotaon mounton open audit_access };
allow unconfineddomain debugfs:lnk_file { ioctl read write create getattr setattr lock relabelfrom append unlink link rename execute swapon quotaon mounton open audit_access execmod };
allow unconfineddomain debugfs:sock_file { ioctl read write create getattr setattr lock relabelfrom append unlink link rename execute swapon quotaon mounton open audit_access execmod };
allow untrusted_app debugfs:file { getattr };
allow untrusted_app debugfs:lnk_file { read getattr };
