allow domain debugfs:dir { getattr ioctl open read search };
allow domain debugfs:file { append open write };
allow dumpstate debugfs:file { getattr ioctl lock open read };
allow mediaserver debugfs:file { append create getattr ioctl link lock open read rename setattr unlink write };
allow shell debugfs:file { getattr ioctl lock open read };
allow system_server debugfs:file { getattr ioctl lock open read };
allow unconfineddomain debugfs:chr_file { append audit_access create getattr ioctl link lock mounton open quotaon read relabelfrom rename setattr swapon unlink write };
allow unconfineddomain debugfs:dir { add_name append audit_access create execmod execute getattr ioctl link lock mounton open quotaon read relabelfrom remove_name rename reparent rmdir search setattr swapon unlink write };
allow unconfineddomain debugfs:fifo_file { append audit_access create execmod execute getattr ioctl link lock mounton open quotaon read relabelfrom rename setattr swapon unlink write };
allow unconfineddomain debugfs:file { append audit_access create getattr ioctl link lock mounton open quotaon read relabelfrom rename setattr swapon unlink write };
allow unconfineddomain debugfs:lnk_file { append audit_access create execmod execute getattr ioctl link lock mounton open quotaon read relabelfrom rename setattr swapon unlink write };
allow unconfineddomain debugfs:sock_file { append audit_access create execmod execute getattr ioctl link lock mounton open quotaon read relabelfrom rename setattr swapon unlink write };
allow untrusted_app debugfs:file { getattr };
allow untrusted_app debugfs:lnk_file { getattr read };
