type nvm_device, dev_type;
type mrvlgpu_device, dev_type;

# NVM storage label
type nvm_data_file, file_type;

allow { domain -appdomain -isolated_app -untrusted_app -priv_app -platform_app -system_app } mrvlgpu_device:chr_file { open read write ioctl getattr map lock append };
allow shell mrvlgpu_device:chr_file { open read write ioctl getattr map lock append };
allow dumpstate mrvlgpu_device:chr_file { open read write ioctl getattr map lock append };
allow init mrvlgpu_device:chr_file { open read write ioctl getattr map lock append };
