type dex2oat;
type dex2oat_exec;
allow appdomain dex2oat_exec:file { ioctl read getattr lock execute execute_no_trans open };
allow debuggerd dex2oat:process { ptrace };
allow dex2oat dex2oat_exec:file { read getattr execute entrypoint open };
allow init dex2oat:process { noatsecure };
allow installd dex2oat:process { transition noatsecure siginh rlimitinh };
allow installd dex2oat_exec:file { read getattr execute open };
allow recovery dex2oat_exec:file { ioctl read write create getattr setattr lock relabelfrom relabelto append unlink link rename open };
allow unconfineddomain dex2oat:binder { call set_context_mgr transfer };
allow zygote dex2oat_exec:file { ioctl read getattr lock execute execute_no_trans open };
dontaudit installd dex2oat:process { noatsecure };
