
allow atcmdsrv diag:unix_dgram_socket { accept append bind connect create getattr getopt ioctl listen lock name_bind read recv_msg recvfrom send_msg sendto setattr setopt shutdown write };
allow debuggerd diag:process { ptrace };
allow diag diag_device:chr_file { append create getattr ioctl link lock open read rename setattr unlink write };
allow diag diag_exec:file { entrypoint execute getattr open read };
allow diag diag_tmpfs:file { read write };
allow eeh diag:unix_dgram_socket { accept append bind connect create getattr getopt ioctl listen lock name_bind read recv_msg recvfrom send_msg sendto setattr setopt shutdown write };
allow hawk diag:dir { getattr search };
allow hawk diag:file { open read };
allow init diag:process { noatsecure rlimitinh siginh transition };
allow init diag_exec:file { execute getattr open read };
allow init diag_tmpfs:blk_file { relabelto };
allow init diag_tmpfs:chr_file { relabelto };
allow init diag_tmpfs:dir { relabelto };
allow init diag_tmpfs:fifo_file { relabelto };
allow init diag_tmpfs:file { relabelto };
allow init diag_tmpfs:lnk_file { relabelto };
allow init diag_tmpfs:sock_file { relabelto };
allow marvelltel diag_device:chr_file { append create getattr ioctl link lock open read rename setattr unlink write };
allow marvelltel diag_exec:file { execute execute_no_trans getattr open read };
allow mrvl_gpsd diag_device:chr_file { append create getattr ioctl link lock open read rename setattr unlink write };
allow nvm diag:unix_dgram_socket { accept append bind connect create getattr getopt ioctl listen lock name_bind read recv_msg recvfrom send_msg sendto setattr setopt shutdown write };
allow platform_app diag:unix_stream_socket { accept acceptfrom append bind connect connectto create getattr getopt ioctl listen lock name_bind newconn read recv_msg recvfrom send_msg sendto setattr setopt shutdown write };
allow recovery diag_exec:file { append create getattr ioctl link lock open read relabelfrom relabelto rename setattr unlink write };
allow shell diag_device:chr_file { getattr };
allow shell diag_exec:file { getattr };
allow system_server diag_device:chr_file { append create getattr ioctl link lock open read rename setattr unlink write };
allow unconfineddomain diag:binder { call set_context_mgr transfer };
allow unconfineddomain diag_device:chr_file { append audit_access create getattr ioctl link lock mounton open quotaon read relabelfrom rename setattr swapon unlink write };
allow unconfineddomain diag_device:file { append audit_access create getattr ioctl link lock mounton open quotaon read relabelfrom rename setattr swapon unlink write };
allow unconfineddomain diag_tmpfs:chr_file { append audit_access create getattr ioctl link lock mounton open quotaon read relabelfrom rename setattr swapon unlink write };
allow unconfineddomain diag_tmpfs:dir { add_name append audit_access create execmod execute getattr ioctl link lock mounton open quotaon read relabelfrom remove_name rename reparent rmdir search setattr swapon unlink write };
allow unconfineddomain diag_tmpfs:fifo_file { append audit_access create execmod execute getattr ioctl link lock mounton open quotaon read relabelfrom rename setattr swapon unlink write };
allow unconfineddomain diag_tmpfs:file { append audit_access create getattr ioctl link lock mounton open quotaon read relabelfrom rename setattr swapon unlink write };
allow unconfineddomain diag_tmpfs:lnk_file { append audit_access create execmod execute getattr ioctl link lock mounton open quotaon read relabelfrom rename setattr swapon unlink write };
allow unconfineddomain diag_tmpfs:sock_file { append audit_access create execmod execute getattr ioctl link lock mounton open quotaon read relabelfrom rename setattr swapon unlink write };
allow untrusted_app diag_device:chr_file { getattr read };
allow untrusted_app diag_exec:file { execute getattr open read };
dontaudit init diag:process { noatsecure };
