allow debuggerd dnsmasq:process { ptrace };
allow dnsmasq dnsmasq_exec:file { entrypoint execute getattr open read };
allow init dnsmasq:process { noatsecure };
allow netd dnsmasq:process { rlimitinh siginh signal transition };
allow netd dnsmasq_exec:file { execute getattr open read };
allow recovery dnsmasq_exec:file { append create getattr ioctl link lock open read relabelfrom relabelto rename setattr unlink write };
allow shell dnsmasq_exec:file { getattr };
allow unconfineddomain dnsmasq:binder { call set_context_mgr transfer };
allow untrusted_app dnsmasq_exec:file { execute getattr open read };
dontaudit netd dnsmasq:process { noatsecure };
