allow appdomain domain:dir { getattr open read search };
allow appdomain domain:file { getattr open read };
allow appdomain domain:lnk_file { getattr open read };
allow appdomain domain:process { getattr };
allow debuggerd domain:dir { getattr ioctl open read search };
allow debuggerd domain:file { getattr ioctl lock open read };
allow debuggerd domain:lnk_file { read };
allow dumpstate domain:dir { getattr ioctl open read search };
allow dumpstate domain:file { getattr ioctl lock open read };
allow dumpstate domain:lnk_file { getattr ioctl lock open read };
allow dumpstate domain:process { getattr };
allow init domain:process { sigkill };
allow logd domain:dir { getattr ioctl open read search };
allow logd domain:file { getattr ioctl lock open read };
allow logd domain:lnk_file { getattr ioctl lock open read };
allow servicemanager domain:binder { transfer };
allow system_server domain:dir { getattr ioctl open read search };
allow system_server domain:file { getattr ioctl lock open read };
allow system_server domain:lnk_file { getattr ioctl lock open read };
allow unconfineddomain domain:dir { getattr ioctl open read search };
allow unconfineddomain domain:fd { use };
allow unconfineddomain domain:fifo_file { append getattr ioctl lock open read write };
allow unconfineddomain domain:file { append getattr ioctl lock open read write };
allow unconfineddomain domain:ipc { associate create destroy getattr read setattr unix_read unix_write write };
allow unconfineddomain domain:key { create link read search setattr view write };
allow unconfineddomain domain:key_socket { accept append bind connect create getattr getopt ioctl listen lock name_bind read recv_msg recvfrom relabelfrom relabelto send_msg sendto setattr setopt shutdown write };
allow unconfineddomain domain:lnk_file { getattr ioctl lock open read };
allow unconfineddomain domain:msgq { associate create destroy enqueue getattr read setattr unix_read unix_write write };
allow unconfineddomain domain:netlink_audit_socket { accept append bind connect create getattr getopt ioctl listen lock name_bind nlmsg_read nlmsg_readpriv nlmsg_relay nlmsg_tty_audit nlmsg_write read recv_msg recvfrom relabelfrom relabelto send_msg sendto setattr setopt shutdown write };
allow unconfineddomain domain:netlink_dnrt_socket { accept append bind connect create getattr getopt ioctl listen lock name_bind read recv_msg recvfrom relabelfrom relabelto send_msg sendto setattr setopt shutdown write };
allow unconfineddomain domain:netlink_firewall_socket { accept append bind connect create getattr getopt ioctl listen lock name_bind nlmsg_read nlmsg_write read recv_msg recvfrom relabelfrom relabelto send_msg sendto setattr setopt shutdown write };
allow unconfineddomain domain:netlink_ip6fw_socket { accept append bind connect create getattr getopt ioctl listen lock name_bind nlmsg_read nlmsg_write read recv_msg recvfrom relabelfrom relabelto send_msg sendto setattr setopt shutdown write };
allow unconfineddomain domain:netlink_kobject_uevent_socket { accept append bind connect create getattr getopt ioctl listen lock name_bind read recv_msg recvfrom relabelfrom relabelto send_msg sendto setattr setopt shutdown write };
allow unconfineddomain domain:netlink_nflog_socket { accept append bind connect create getattr getopt ioctl listen lock name_bind read recv_msg recvfrom relabelfrom relabelto send_msg sendto setattr setopt shutdown write };
allow unconfineddomain domain:netlink_route_socket { accept append bind connect create getattr getopt ioctl listen lock name_bind nlmsg_read nlmsg_write read recv_msg recvfrom relabelfrom relabelto send_msg sendto setattr setopt shutdown write };
allow unconfineddomain domain:netlink_selinux_socket { accept append bind connect create getattr getopt ioctl listen lock name_bind read recv_msg recvfrom relabelfrom relabelto send_msg sendto setattr setopt shutdown write };
allow unconfineddomain domain:netlink_socket { accept append bind connect create getattr getopt ioctl listen lock name_bind read recv_msg recvfrom relabelfrom relabelto send_msg sendto setattr setopt shutdown write };
allow unconfineddomain domain:netlink_tcpdiag_socket { accept append bind connect create getattr getopt ioctl listen lock name_bind nlmsg_read nlmsg_write read recv_msg recvfrom relabelfrom relabelto send_msg sendto setattr setopt shutdown write };
allow unconfineddomain domain:netlink_xfrm_socket { accept append bind connect create getattr getopt ioctl listen lock name_bind nlmsg_read nlmsg_write read recv_msg recvfrom relabelfrom relabelto send_msg sendto setattr setopt shutdown write };
allow unconfineddomain domain:peer { recv };
allow unconfineddomain domain:sem { associate create destroy getattr read setattr unix_read unix_write write };
allow unconfineddomain domain:shm { associate create destroy getattr lock read setattr unix_read unix_write write };
allow unconfineddomain domain:socket { accept append bind connect create getattr getopt ioctl listen lock name_bind read recv_msg recvfrom relabelfrom relabelto send_msg sendto setattr setopt shutdown write };
allow unconfineddomain domain:tun_socket { accept append attach_queue bind connect create getattr getopt ioctl listen lock name_bind read recv_msg recvfrom relabelfrom relabelto send_msg sendto setattr setopt shutdown write };
allow unconfineddomain domain:unix_dgram_socket { accept append bind connect create getattr getopt ioctl listen lock name_bind read recv_msg recvfrom relabelfrom relabelto send_msg sendto setattr setopt shutdown write };
allow unconfineddomain domain:unix_stream_socket { accept acceptfrom append bind connect connectto create getattr getopt ioctl listen lock name_bind newconn read recv_msg recvfrom relabelfrom relabelto send_msg sendto setattr setopt shutdown write };
allow vold domain:dir { getattr ioctl open read search };
allow vold domain:file { getattr ioctl lock open read };
allow vold domain:lnk_file { getattr ioctl lock open read };
allow vold domain:process { sigkill signal };
