attribute domain;
allow appdomain domain:dir { read getattr search open };
allow appdomain domain:file { read getattr open };
allow appdomain domain:lnk_file { read getattr open };
allow appdomain domain:process { getattr };
allow debuggerd domain:dir { ioctl read getattr search open };
allow debuggerd domain:file { ioctl read getattr lock open };
allow debuggerd domain:lnk_file { read };
allow dumpstate domain:dir { ioctl read getattr search open };
allow dumpstate domain:file { ioctl read getattr lock open };
allow dumpstate domain:lnk_file { ioctl read getattr lock open };
allow dumpstate domain:process { getattr };
allow init domain:process { sigkill };
allow logd domain:dir { ioctl read getattr search open };
allow logd domain:file { ioctl read getattr lock open };
allow logd domain:lnk_file { ioctl read getattr lock open };
allow servicemanager domain:binder { transfer };
allow system_server domain:dir { ioctl read getattr search open };
allow system_server domain:file { ioctl read getattr lock open };
allow system_server domain:lnk_file { ioctl read getattr lock open };
allow unconfineddomain domain:dir { ioctl read getattr search open };
allow unconfineddomain domain:fd { use };
allow unconfineddomain domain:fifo_file { ioctl read write getattr lock append open };
allow unconfineddomain domain:file { ioctl read write getattr lock append open };
allow unconfineddomain domain:ipc { create destroy getattr setattr read write associate unix_read unix_write };
allow unconfineddomain domain:key { view read write search link setattr create };
allow unconfineddomain domain:key_socket { ioctl read write create getattr setattr lock relabelfrom relabelto append bind connect listen accept getopt setopt shutdown recvfrom sendto recv_msg send_msg name_bind };
allow unconfineddomain domain:lnk_file { ioctl read getattr lock open };
allow unconfineddomain domain:msgq { create destroy getattr setattr read write associate unix_read unix_write enqueue };
allow unconfineddomain domain:netlink_audit_socket { ioctl read write create getattr setattr lock relabelfrom relabelto append bind connect listen accept getopt setopt shutdown recvfrom sendto recv_msg send_msg name_bind nlmsg_read nlmsg_write nlmsg_relay nlmsg_readpriv nlmsg_tty_audit };
allow unconfineddomain domain:netlink_dnrt_socket { ioctl read write create getattr setattr lock relabelfrom relabelto append bind connect listen accept getopt setopt shutdown recvfrom sendto recv_msg send_msg name_bind };
allow unconfineddomain domain:netlink_firewall_socket { ioctl read write create getattr setattr lock relabelfrom relabelto append bind connect listen accept getopt setopt shutdown recvfrom sendto recv_msg send_msg name_bind nlmsg_read nlmsg_write };
allow unconfineddomain domain:netlink_ip6fw_socket { ioctl read write create getattr setattr lock relabelfrom relabelto append bind connect listen accept getopt setopt shutdown recvfrom sendto recv_msg send_msg name_bind nlmsg_read nlmsg_write };
allow unconfineddomain domain:netlink_kobject_uevent_socket { ioctl read write create getattr setattr lock relabelfrom relabelto append bind connect listen accept getopt setopt shutdown recvfrom sendto recv_msg send_msg name_bind };
allow unconfineddomain domain:netlink_nflog_socket { ioctl read write create getattr setattr lock relabelfrom relabelto append bind connect listen accept getopt setopt shutdown recvfrom sendto recv_msg send_msg name_bind };
allow unconfineddomain domain:netlink_route_socket { ioctl read write create getattr setattr lock relabelfrom relabelto append bind connect listen accept getopt setopt shutdown recvfrom sendto recv_msg send_msg name_bind nlmsg_read nlmsg_write };
allow unconfineddomain domain:netlink_selinux_socket { ioctl read write create getattr setattr lock relabelfrom relabelto append bind connect listen accept getopt setopt shutdown recvfrom sendto recv_msg send_msg name_bind };
allow unconfineddomain domain:netlink_socket { ioctl read write create getattr setattr lock relabelfrom relabelto append bind connect listen accept getopt setopt shutdown recvfrom sendto recv_msg send_msg name_bind };
allow unconfineddomain domain:netlink_tcpdiag_socket { ioctl read write create getattr setattr lock relabelfrom relabelto append bind connect listen accept getopt setopt shutdown recvfrom sendto recv_msg send_msg name_bind nlmsg_read nlmsg_write };
allow unconfineddomain domain:netlink_xfrm_socket { ioctl read write create getattr setattr lock relabelfrom relabelto append bind connect listen accept getopt setopt shutdown recvfrom sendto recv_msg send_msg name_bind nlmsg_read nlmsg_write };
allow unconfineddomain domain:peer { recv };
allow unconfineddomain domain:sem { create destroy getattr setattr read write associate unix_read unix_write };
allow unconfineddomain domain:shm { create destroy getattr setattr read write associate unix_read unix_write lock };
allow unconfineddomain domain:socket { ioctl read write create getattr setattr lock relabelfrom relabelto append bind connect listen accept getopt setopt shutdown recvfrom sendto recv_msg send_msg name_bind };
allow unconfineddomain domain:tun_socket { ioctl read write create getattr setattr lock relabelfrom relabelto append bind connect listen accept getopt setopt shutdown recvfrom sendto recv_msg send_msg name_bind attach_queue };
allow unconfineddomain domain:unix_dgram_socket { ioctl read write create getattr setattr lock relabelfrom relabelto append bind connect listen accept getopt setopt shutdown recvfrom sendto recv_msg send_msg name_bind };
allow unconfineddomain domain:unix_stream_socket { ioctl read write create getattr setattr lock relabelfrom relabelto append bind connect listen accept getopt setopt shutdown recvfrom sendto recv_msg send_msg name_bind connectto newconn acceptfrom };
allow vold domain:dir { ioctl read getattr search open };
allow vold domain:file { ioctl read getattr lock open };
allow vold domain:lnk_file { ioctl read getattr lock open };
allow vold domain:process { sigkill signal };
