type drmserver;
type drmserver_exec;
type drmserver_service;
type drmserver_socket;
type drmserver_tmpfs;
allow appdomain drmserver:binder { transfer };
allow debuggerd drmserver:process { ptrace };
allow drmserver drmserver_exec:file { read getattr execute entrypoint open };
allow drmserver drmserver_service:service_manager { add };
allow drmserver drmserver_socket:sock_file { ioctl read write create getattr setattr lock append unlink link rename open };
allow drmserver drmserver_tmpfs:file { read write };
allow dumpstate drmserver:process { signal };
allow dumpstate drmserver_exec:file { ioctl read getattr lock open };
allow hawk drmserver:dir { getattr search };
allow hawk drmserver:file { read open };
allow init drmserver:process { transition noatsecure siginh rlimitinh };
allow init drmserver_exec:file { read getattr execute open };
allow init drmserver_socket:blk_file { relabelto };
allow init drmserver_socket:chr_file { relabelto };
allow init drmserver_socket:dir { relabelto };
allow init drmserver_socket:fifo_file { relabelto };
allow init drmserver_socket:file { relabelto };
allow init drmserver_socket:lnk_file { relabelto };
allow init drmserver_socket:sock_file { relabelto };
allow init drmserver_tmpfs:blk_file { relabelto };
allow init drmserver_tmpfs:chr_file { relabelto };
allow init drmserver_tmpfs:dir { relabelto };
allow init drmserver_tmpfs:fifo_file { relabelto };
allow init drmserver_tmpfs:file { relabelto };
allow init drmserver_tmpfs:lnk_file { relabelto };
allow init drmserver_tmpfs:sock_file { relabelto };
allow marvelltel drmserver:lnk_file { ioctl read write create getattr setattr lock append unlink link rename open };
allow mediaserver drmserver:binder { transfer };
allow mediaserver drmserver:unix_stream_socket { connectto };
allow mediaserver drmserver_socket:sock_file { write };
allow recovery drmserver_exec:file { ioctl read write create getattr setattr lock relabelfrom relabelto append unlink link rename open };
allow servicemanager drmserver:dir { search };
allow servicemanager drmserver:file { read open };
allow servicemanager drmserver:process { getattr };
allow shell drmserver_exec:file { getattr };
allow system_server drmserver:binder { transfer };
allow unconfineddomain drmserver:binder { call set_context_mgr transfer };
allow unconfineddomain drmserver_socket:chr_file { ioctl read write create getattr setattr lock relabelfrom append unlink link rename swapon quotaon mounton open audit_access };
allow unconfineddomain drmserver_socket:dir { ioctl read write create getattr setattr lock relabelfrom append unlink link rename execute swapon quotaon mounton add_name remove_name reparent search rmdir open audit_access execmod };
allow unconfineddomain drmserver_socket:fifo_file { ioctl read write create getattr setattr lock relabelfrom append unlink link rename execute swapon quotaon mounton open audit_access execmod };
allow unconfineddomain drmserver_socket:file { ioctl read write create getattr setattr lock relabelfrom append unlink link rename swapon quotaon mounton open audit_access };
allow unconfineddomain drmserver_socket:lnk_file { ioctl read write create getattr setattr lock relabelfrom append unlink link rename execute swapon quotaon mounton open audit_access execmod };
allow unconfineddomain drmserver_socket:sock_file { ioctl read write create getattr setattr lock relabelfrom append unlink link rename execute swapon quotaon mounton open audit_access execmod };
allow unconfineddomain drmserver_tmpfs:chr_file { ioctl read write create getattr setattr lock relabelfrom append unlink link rename swapon quotaon mounton open audit_access };
allow unconfineddomain drmserver_tmpfs:dir { ioctl read write create getattr setattr lock relabelfrom append unlink link rename execute swapon quotaon mounton add_name remove_name reparent search rmdir open audit_access execmod };
allow unconfineddomain drmserver_tmpfs:fifo_file { ioctl read write create getattr setattr lock relabelfrom append unlink link rename execute swapon quotaon mounton open audit_access execmod };
allow unconfineddomain drmserver_tmpfs:file { ioctl read write create getattr setattr lock relabelfrom append unlink link rename swapon quotaon mounton open audit_access };
allow unconfineddomain drmserver_tmpfs:lnk_file { ioctl read write create getattr setattr lock relabelfrom append unlink link rename execute swapon quotaon mounton open audit_access execmod };
allow unconfineddomain drmserver_tmpfs:sock_file { ioctl read write create getattr setattr lock relabelfrom append unlink link rename execute swapon quotaon mounton open audit_access execmod };
allow untrusted_app drmserver_exec:file { read getattr execute open };
dontaudit init drmserver:process { noatsecure };
