
allow init wlan_device:chr_file { ioctl read write create getattr setattr lock append unlink link rename open };
allow init sdio_device:chr_file { ioctl read write getattr lock append open };
allow init wifi_device:chr_file { ioctl read write create getattr setattr lock append unlink link rename open };

allow unconfineddomain wlan_device:chr_file { ioctl read write create getattr setattr lock relabelfrom append unlink link rename swapon quotaon mounton open audit_access };
allow unconfineddomain wlan_data_file:dir create_dir_perms;
allow unconfineddomain wlan_data_file:file create_file_perms;

allow mwirelessd wlan_device:chr_file { ioctl read write create getattr setattr lock append unlink link rename open };
allow mwirelessd sysfs:file rw_file_perms;
allow mwirelessd sysfs:dir r_dir_perms;
allow mwirelessd proc:file r_file_perms;
allow mwirelessd self:capability { net_admin net_raw setuid setgid };
allow mwirelessd self:udp_socket { create ioctl read write bind getopt setopt };
allow mwirelessd self:netlink_socket { create ioctl read write bind getopt setopt };

# mwirelessd
allow mwirelessd wlan_device:chr_file rw_file_perms;
allow mwirelessd marvellwifi_device:chr_file rw_file_perms;

# wpa / hostapd
allow wpa_supplicant wlan_device:chr_file { ioctl read write getattr lock append open };
allow wpa_supplicant wpa_socket:sock_file { ioctl read write create getattr setattr lock append unlink link rename open };
allow hostapd wlan_device:chr_file rw_file_perms;

allow init wpa_supplicant_exec:file { read getattr execute open };
allow init hostapd_exec:file { read getattr execute open };
allow system_server wpa_supplicant:unix_stream_socket connectto;
allow bluetooth bt_device:chr_file { ioctl read write create getattr setattr lock append unlink link rename open };
allow bluetooth hci_device:chr_file { ioctl read write getattr lock append open };
allow bluetooth mrvlgpu_device:chr_file rw_file_perms;

allow unconfineddomain bt_device:chr_file { ioctl read write create getattr setattr lock relabelfrom append unlink link rename open };
allow hci_attach hci_device:chr_file { ioctl read write getattr lock append open };
allow hci_attach self:capability { net_admin };
allow mediaserver audio_device:chr_file { ioctl read write getattr lock append open };
allow system_server audio_device:chr_file { ioctl read getattr lock open };
allow untrusted_app audio_device:chr_file { getattr };
allow untrusted_app sensor_device:chr_file { getattr ioctl read write };
allow mediaserver uio_device:chr_file { ioctl read write create getattr setattr lock append unlink link rename open };
allow domain ion_device:chr_file { ioctl read write getattr lock append open };
allow system_server wifi_prop:property_service set;
allow mwirelessd system_prop:property_service set;
allow recovery wlan_device:blk_file { getattr };
allow shell wlan_device:chr_file { getattr };
allow untrusted_app wlan_device:chr_file { getattr };

# mwirelessd
allow mwirelessd wlan_data_file:dir create_dir_perms;
allow mwirelessd wlan_data_file:file create_file_perms;
allow mwirelessd marvell_data_file:dir create_dir_perms;

# system_server
allow system_server wlan_device:chr_file { ioctl read write getattr lock open };
allow system_server marvellwirelessd:unix_stream_socket connectto;

# init / recovery
allow init marvellWirelessDaemon_exec:file { read getattr execute open };
allow recovery marvellWirelessDaemon_exec:file { ioctl read write create getattr setattr lock relabelfrom relabelto append unlink link rename open };
