attribute file_type;
type rootfs;
allow adbd rootfs:file { read getattr execute entrypoint open };
allow domain rootfs:dir { ioctl read getattr search open };
allow domain rootfs:file { ioctl read getattr lock open };
allow domain rootfs:lnk_file { ioctl read getattr lock open };
allow file_type rootfs:filesystem { associate };
allow healthd rootfs:file { read getattr execute entrypoint open };
allow init rootfs:file { read getattr relabelfrom execute execute_no_trans open };
allow init_shell rootfs:file { execute_no_trans };
allow kernel rootfs:file { execute_no_trans };
allow recovery rootfs:dir { ioctl read write create getattr setattr unlink link rename mounton add_name remove_name reparent search rmdir open };
allow recovery rootfs:file { getattr execute execute_no_trans entrypoint };
allow sdcardd rootfs:dir { mounton };
allow ueventd rootfs:file { read getattr execute entrypoint open };
allow unconfineddomain rootfs:dir { ioctl read write create getattr setattr lock relabelfrom append unlink link rename execute swapon quotaon mounton add_name remove_name reparent search rmdir open audit_access execmod };
allow unconfineddomain rootfs:fifo_file { ioctl read write create getattr setattr lock relabelfrom append unlink link rename execute swapon quotaon mounton open audit_access execmod };
allow unconfineddomain rootfs:file { execute };
allow unconfineddomain rootfs:lnk_file { ioctl read write create getattr setattr lock relabelfrom append unlink link rename execute swapon quotaon mounton open audit_access execmod };
allow unconfineddomain rootfs:sock_file { ioctl read write create getattr setattr lock relabelfrom append unlink link rename execute swapon quotaon mounton open audit_access execmod };
allow vold rootfs:dir { mounton };
allow watchdogd rootfs:file { read getattr execute entrypoint open };
allow zygote rootfs:dir { mounton };
