allow adbd rootfs:file { entrypoint execute getattr open read };
allow domain rootfs:dir { getattr ioctl open read search };
allow domain rootfs:file { getattr ioctl lock open read };
allow domain rootfs:lnk_file { getattr ioctl lock open read };
allow file_type rootfs:filesystem { associate };
allow healthd rootfs:file { entrypoint execute getattr open read };
allow init rootfs:file { execute execute_no_trans getattr open read relabelfrom };
allow init_shell rootfs:file { execute_no_trans };
allow kernel rootfs:file { execute_no_trans };
allow recovery rootfs:dir { add_name create getattr ioctl link mounton open read remove_name rename reparent rmdir search setattr unlink write };
allow recovery rootfs:file { entrypoint execute execute_no_trans getattr };
allow sdcardd rootfs:dir { mounton };
allow ueventd rootfs:file { entrypoint execute getattr open read };
allow unconfineddomain rootfs:dir { add_name append audit_access create execmod execute getattr ioctl link lock mounton open quotaon read relabelfrom remove_name rename reparent rmdir search setattr swapon unlink write };
allow unconfineddomain rootfs:fifo_file { append audit_access create execmod execute getattr ioctl link lock mounton open quotaon read relabelfrom rename setattr swapon unlink write };
allow unconfineddomain rootfs:file { execute };
allow unconfineddomain rootfs:lnk_file { append audit_access create execmod execute getattr ioctl link lock mounton open quotaon read relabelfrom rename setattr swapon unlink write };
allow unconfineddomain rootfs:sock_file { append audit_access create execmod execute getattr ioctl link lock mounton open quotaon read relabelfrom rename setattr swapon unlink write };
allow vold rootfs:dir { mounton };
allow watchdogd rootfs:file { entrypoint execute getattr open read };
allow zygote rootfs:dir { mounton };
