# create new domain FMRadiod
init_daemon_domain(FMRadiod)
#allow FMRadiod system_data_file:file write;
#allow FMRadiod system_data_file:file create_file_perms;
#SEC changed: allow FMRadiod system_server_service:service_manager add;

allow FMRadiod FMRadiod_service:service_manager add;
allow FMRadiod FMRadiod_tmpfs:file create_file_perms;
allow FMRadiod app_data_file:file create_file_perms;
allow FMRadiod dump_log_data_file:dir create_dir_perms;
allow FMRadiod dump_log_data_file:file create_file_perms;
allow FMRadiod dumpstate:fd use;
allow FMRadiod dumpstate:unix_stream_socket unix_stream_socket_perms;
allow FMRadiod fuse:file create_file_perms;
allow FMRadiod fuse:file write;
allow FMRadiod mwireless_device:chr_file create_file_perms;
allow FMRadiod mwirelessd:unix_stream_socket unix_stream_socket_perms;
allow FMRadiod platform_app:binder call;
allow FMRadiod platform_app:fd use;
allow FMRadiod shell:fd use;
allow FMRadiod shell:fifo_file create_file_perms;
allow FMRadiod sysfs:file create_file_perms;
allow FMRadiod system_data_file:file r_file_perms;
allow FMRadiod tmpfs:dir create_dir_perms;
allow FMRadiod untrusted_app:fd use;
allow FMRadiod wireless_data_file:dir create_dir_perms;
allow FMRadiod wireless_data_file:sock_file create_file_perms;
