type fota_block_device;
allow recovery fota_block_device:blk_file { ioctl read write create getattr setattr lock append unlink link rename open };
allow recovery fota_block_device:dir { ioctl read write create getattr setattr unlink link rename add_name remove_name reparent search rmdir open };
allow unconfineddomain fota_block_device:chr_file { ioctl read write create getattr setattr lock relabelfrom append unlink link rename swapon quotaon mounton open audit_access };
allow unconfineddomain fota_block_device:file { ioctl read write create getattr setattr lock relabelfrom append unlink link rename swapon quotaon mounton open audit_access };
