type fuse;
type fuse_device;
allow FMRadiod fuse:file { ioctl read write create getattr setattr lock append unlink link rename open };
allow appdomain fuse:dir { ioctl read write create getattr setattr unlink link rename add_name remove_name reparent search rmdir open };
allow appdomain fuse:file { ioctl read write create getattr setattr lock append unlink link rename open };
allow codecIPC_server fuse:file { ioctl read write create getattr setattr lock append unlink link rename open };
allow diag fuse:dir { ioctl read write create getattr setattr unlink link rename add_name remove_name reparent search rmdir open };
allow diag fuse:file { ioctl read write create getattr setattr lock append unlink link rename open };
allow eeh fuse:dir { ioctl read write create getattr setattr unlink link rename add_name remove_name reparent search rmdir open };
allow eeh fuse:file { ioctl read write create getattr setattr lock append unlink link rename open };
allow healthd fuse:file { ioctl read write create getattr setattr lock append unlink link rename open };
allow init fuse:dir { ioctl read write create getattr setattr unlink link rename add_name remove_name reparent search rmdir open };
allow init fuse:file { ioctl read write create getattr setattr lock append unlink link rename open };
allow init_shell fuse:dir { ioctl read write create getattr setattr unlink link rename add_name remove_name reparent search rmdir open };
allow init_shell fuse:file { ioctl read write create getattr setattr lock append unlink link rename open };
allow keystore fuse:file { ioctl read write create getattr setattr lock append unlink link rename open };
allow log_on_boot fuse:dir { write add_name search };
allow log_on_boot fuse:file { write create open };
allow marvelltel fuse:dir { ioctl read write create getattr setattr unlink link rename add_name remove_name reparent search rmdir open };
allow marvelltel fuse:file { ioctl read write create getattr setattr append unlink rename open };
allow phservice fuse:file { ioctl read write create getattr setattr lock append unlink link rename open };
allow sdcardd fuse_device:chr_file { ioctl read write getattr lock append open };
allow shell fuse_device:chr_file { getattr };
allow unconfineddomain fuse_device:chr_file { ioctl read write create getattr setattr lock relabelfrom append unlink link rename swapon quotaon mounton open audit_access };
allow unconfineddomain fuse_device:file { ioctl read write create getattr setattr lock relabelfrom append unlink link rename swapon quotaon mounton open audit_access };
allow untrusted_app fuse_device:chr_file { getattr };
