allow adbd mrvlgpu_device:chr_file { append create getattr ioctl link lock open read rename setattr unlink write };
allow bluetooth mrvlgpu_device:chr_file { append create getattr ioctl link lock open read rename setattr unlink write };
allow bootanim mrvlgpu_device:chr_file { append create getattr ioctl link lock open read rename setattr unlink write };
allow mediaserver mrvlgpu_device:chr_file { append create getattr ioctl link lock open read rename setattr unlink write };
allow platform_app mrvlgpu_device:chr_file { append create getattr ioctl link lock open read rename setattr unlink write };
allow radio mrvlgpu_device:chr_file { append create getattr ioctl link lock open read rename setattr unlink write };
allow shell mrvlgpu_device:chr_file { append create getattr ioctl link lock open read rename setattr unlink write };
allow surfaceflinger mrvlgpu_device:chr_file { append create getattr ioctl link lock open read rename setattr unlink write };
allow system_app mrvlgpu_device:chr_file { append create getattr ioctl link lock open read rename setattr unlink write };
allow system_server mrvlgpu_device:chr_file { append create getattr ioctl link lock open read rename setattr unlink write };
allow unconfineddomain mrvlgpu_device:chr_file { append audit_access create getattr ioctl link lock mounton open quotaon read relabelfrom rename setattr swapon unlink write };
allow unconfineddomain mrvlgpu_device:file { append audit_access create getattr ioctl link lock mounton open quotaon read relabelfrom rename setattr swapon unlink write };
allow untrusted_app mrvlgpu_device:chr_file { append getattr ioctl lock open read write };
allow zygote mrvlgpu_device:chr_file { append create getattr ioctl link lock open read rename setattr unlink write };
