type geu_device;
allow drmserver geu_device:chr_file { ioctl read write create getattr setattr lock append unlink link rename open };
allow marvelltel geu_device:chr_file { ioctl read write create getattr setattr lock append unlink link rename open };
allow unconfineddomain geu_device:chr_file { ioctl read write create getattr setattr lock relabelfrom append unlink link rename swapon quotaon mounton open audit_access };
allow unconfineddomain geu_device:file { ioctl read write create getattr setattr lock relabelfrom append unlink link rename swapon quotaon mounton open audit_access };
