allow gpsd gps_data_file:dir { add_name getattr ioctl open read remove_name search write };
allow gpsd gps_data_file:fifo_file { append create getattr ioctl link lock open read rename setattr unlink write };
allow gpsd gps_data_file:file { append create getattr ioctl link lock open read rename setattr unlink write };
allow gpsd gps_data_file:lnk_file { append create getattr ioctl link lock open read rename setattr unlink write };
allow gpsd gps_data_file:sock_file { append create getattr ioctl link lock open read rename setattr unlink write };
allow gpsd gps_device:chr_file { append getattr ioctl lock open read write };
allow gpsd gps_socket:sock_file { append create getattr ioctl link lock open read rename setattr unlink write };
allow init gps_control:blk_file { relabelto };
allow init gps_control:chr_file { relabelto };
allow init gps_control:dir { relabelto };
allow init gps_control:fifo_file { relabelto };
allow init gps_control:file { relabelto };
allow init gps_control:lnk_file { relabelto };
allow init gps_control:sock_file { relabelto };
allow init gps_data_file:blk_file { relabelto };
allow init gps_data_file:chr_file { relabelto };
allow init gps_data_file:dir { relabelto };
allow init gps_data_file:fifo_file { relabelto };
allow init gps_data_file:file { relabelto };
allow init gps_data_file:lnk_file { relabelto };
allow init gps_data_file:sock_file { relabelto };
allow init gps_socket:blk_file { relabelto };
allow init gps_socket:chr_file { relabelto };
allow init gps_socket:dir { relabelto };
allow init gps_socket:fifo_file { relabelto };
allow init gps_socket:file { relabelto };
allow init gps_socket:lnk_file { relabelto };
allow init gps_socket:sock_file { relabelto };
allow mrvl_gpsd gps_data_file:dir { add_name create getattr ioctl link open read remove_name rename reparent rmdir search setattr unlink write };
allow mrvl_gpsd gps_data_file:sock_file { append create getattr ioctl link lock open read rename setattr unlink write };
allow mrvl_gpsd gps_device:chr_file { append create getattr ioctl link lock open read rename setattr unlink write };
allow rild gps_device:chr_file { append getattr ioctl lock open read write };
allow shell gps_device:chr_file { getattr };
allow system_server gps_control:file { append getattr ioctl lock open read write };
allow system_server gps_data_file:dir { add_name create getattr ioctl link open read remove_name rename reparent rmdir search setattr unlink write };
allow system_server gps_data_file:sock_file { append create getattr ioctl link lock open read rename setattr unlink write };
allow system_server gps_device:chr_file { append getattr ioctl lock open read write };
allow system_server gps_socket:sock_file { write };
allow unconfineddomain gps_control:chr_file { append audit_access create getattr ioctl link lock mounton open quotaon read relabelfrom rename setattr swapon unlink write };
allow unconfineddomain gps_control:dir { add_name append audit_access create execmod execute getattr ioctl link lock mounton open quotaon read relabelfrom remove_name rename reparent rmdir search setattr swapon unlink write };
allow unconfineddomain gps_control:fifo_file { append audit_access create execmod execute getattr ioctl link lock mounton open quotaon read relabelfrom rename setattr swapon unlink write };
allow unconfineddomain gps_control:file { append audit_access create getattr ioctl link lock mounton open quotaon read relabelfrom rename setattr swapon unlink write };
allow unconfineddomain gps_control:lnk_file { append audit_access create execmod execute getattr ioctl link lock mounton open quotaon read relabelfrom rename setattr swapon unlink write };
allow unconfineddomain gps_control:sock_file { append audit_access create execmod execute getattr ioctl link lock mounton open quotaon read relabelfrom rename setattr swapon unlink write };
allow unconfineddomain gps_data_file:chr_file { append audit_access create getattr ioctl link lock mounton open quotaon read relabelfrom rename setattr swapon unlink write };
allow unconfineddomain gps_data_file:dir { add_name append audit_access create execmod execute getattr ioctl link lock mounton open quotaon read relabelfrom remove_name rename reparent rmdir search setattr swapon unlink write };
allow unconfineddomain gps_data_file:fifo_file { append audit_access create execmod execute getattr ioctl link lock mounton open quotaon read relabelfrom rename setattr swapon unlink write };
allow unconfineddomain gps_data_file:file { append audit_access create getattr ioctl link lock mounton open quotaon read relabelfrom rename setattr swapon unlink write };
allow unconfineddomain gps_data_file:lnk_file { append audit_access create execmod execute getattr ioctl link lock mounton open quotaon read relabelfrom rename setattr swapon unlink write };
allow unconfineddomain gps_data_file:sock_file { append audit_access create execmod execute getattr ioctl link lock mounton open quotaon read relabelfrom rename setattr swapon unlink write };
allow unconfineddomain gps_device:chr_file { append audit_access create getattr ioctl link lock mounton open quotaon read relabelfrom rename setattr swapon unlink write };
allow unconfineddomain gps_device:file { append audit_access create getattr ioctl link lock mounton open quotaon read relabelfrom rename setattr swapon unlink write };
allow unconfineddomain gps_socket:chr_file { append audit_access create getattr ioctl link lock mounton open quotaon read relabelfrom rename setattr swapon unlink write };
allow unconfineddomain gps_socket:dir { add_name append audit_access create execmod execute getattr ioctl link lock mounton open quotaon read relabelfrom remove_name rename reparent rmdir search setattr swapon unlink write };
allow unconfineddomain gps_socket:fifo_file { append audit_access create execmod execute getattr ioctl link lock mounton open quotaon read relabelfrom rename setattr swapon unlink write };
allow unconfineddomain gps_socket:file { append audit_access create getattr ioctl link lock mounton open quotaon read relabelfrom rename setattr swapon unlink write };
allow unconfineddomain gps_socket:lnk_file { append audit_access create execmod execute getattr ioctl link lock mounton open quotaon read relabelfrom rename setattr swapon unlink write };
allow unconfineddomain gps_socket:sock_file { append audit_access create execmod execute getattr ioctl link lock mounton open quotaon read relabelfrom rename setattr swapon unlink write };
allow untrusted_app gps_data_file:dir { getattr };
allow untrusted_app gps_device:chr_file { getattr };
