type graphics_device, dev_type;
allow adbd graphics_device:dir { ioctl read write create getattr setattr unlink link rename add_name remove_name reparent search rmdir open };
allow bluetooth graphics_device:dir { ioctl read write create getattr setattr unlink link rename add_name remove_name reparent search rmdir open };
allow bootanim graphics_device:dir { ioctl read write create getattr setattr unlink link rename add_name remove_name reparent search rmdir open };
allow healthd graphics_device:chr_file { ioctl read write create getattr setattr lock append unlink link rename open };
allow healthd graphics_device:dir { ioctl read getattr search open };
allow mediaserver graphics_device:dir { ioctl read write create getattr setattr unlink link rename add_name remove_name reparent search rmdir open };
allow platform_app graphics_device:dir { ioctl read write create getattr setattr unlink link rename add_name remove_name reparent search rmdir open };
allow recovery graphics_device:chr_file { ioctl read write create getattr setattr lock append unlink link rename open };
allow recovery graphics_device:dir { ioctl read write create getattr setattr unlink link rename add_name remove_name reparent search rmdir open };
allow shell graphics_device:dir { getattr search };
allow surfaceflinger graphics_device:chr_file { ioctl read write getattr lock append open };
allow surfaceflinger graphics_device:dir { ioctl read write create getattr setattr unlink link rename add_name remove_name reparent search rmdir open };
allow system_app graphics_device:dir { ioctl read write create getattr setattr unlink link rename add_name remove_name reparent search rmdir open };
allow system_server graphics_device:dir { ioctl read write create getattr setattr unlink link rename add_name remove_name reparent search rmdir open };
allow unconfineddomain graphics_device:chr_file { ioctl read write create getattr setattr lock relabelfrom append unlink link rename swapon quotaon mounton open audit_access };
allow unconfineddomain graphics_device:file { ioctl read write create getattr setattr lock relabelfrom append unlink link rename swapon quotaon mounton open audit_access };
allow untrusted_app graphics_device:chr_file { ioctl getattr open };
allow untrusted_app graphics_device:dir { read getattr search open };
allow zygote graphics_device:dir { ioctl read write create getattr setattr unlink link rename add_name remove_name reparent search rmdir open };
