type hawk;
type hawk_exec;
type hawk_tmpfs;
allow debuggerd hawk:process { ptrace };
allow hawk hawk_exec:file { read getattr execute entrypoint open };
allow hawk hawk_tmpfs:file { read write create getattr unlink open };
allow init hawk:file { getattr execute execute_no_trans };
allow init hawk:process { transition noatsecure siginh rlimitinh };
allow init hawk_exec:file { read getattr execute open };
allow init hawk_tmpfs:blk_file { relabelto };
allow init hawk_tmpfs:chr_file { relabelto };
allow init hawk_tmpfs:dir { relabelto };
allow init hawk_tmpfs:fifo_file { relabelto };
allow init hawk_tmpfs:file { relabelto };
allow init hawk_tmpfs:lnk_file { relabelto };
allow init hawk_tmpfs:sock_file { relabelto };
allow recovery hawk_exec:file { ioctl read write create getattr setattr lock relabelfrom relabelto append unlink link rename open };
allow unconfineddomain hawk:binder { call set_context_mgr transfer };
allow unconfineddomain hawk_tmpfs:chr_file { ioctl read write create getattr setattr lock relabelfrom append unlink link rename swapon quotaon mounton open audit_access };
allow unconfineddomain hawk_tmpfs:dir { ioctl read write create getattr setattr lock relabelfrom append unlink link rename execute swapon quotaon mounton add_name remove_name reparent search rmdir open audit_access execmod };
allow unconfineddomain hawk_tmpfs:fifo_file { ioctl read write create getattr setattr lock relabelfrom append unlink link rename execute swapon quotaon mounton open audit_access execmod };
allow unconfineddomain hawk_tmpfs:file { ioctl read write create getattr setattr lock relabelfrom append unlink link rename swapon quotaon mounton open audit_access };
allow unconfineddomain hawk_tmpfs:lnk_file { ioctl read write create getattr setattr lock relabelfrom append unlink link rename execute swapon quotaon mounton open audit_access execmod };
allow unconfineddomain hawk_tmpfs:sock_file { ioctl read write create getattr setattr lock relabelfrom append unlink link rename execute swapon quotaon mounton open audit_access execmod };
allow untrusted_app hawk_exec:file { read getattr execute open };
dontaudit init hawk:process { noatsecure };
