allow hawk healthd:dir { getattr search };
allow hawk healthd:file { open read };
allow init healthd:process { noatsecure rlimitinh siginh transition };
allow marvelltel healthd:dir { add_name create getattr ioctl link open read remove_name rename reparent rmdir search setattr unlink write };
allow marvelltel healthd:file { append create getattr ioctl link lock open read rename setattr unlink write };
allow marvelltel healthd:lnk_file { append create getattr ioctl link lock open read rename setattr unlink write };
allow servicemanager healthd:dir { search };
allow servicemanager healthd:process { getattr };
allow system_server healthd:binder { transfer };
allow unconfineddomain healthd:binder { call set_context_mgr transfer };
allow vold healthd:fd { use };
dontaudit init healthd:process { noatsecure };
