type i2c_device;

allow mediaserver i2c_device:chr_file { append create getattr ioctl link lock open read rename setattr unlink write };
allow mediaserver i2c_device:dir { add_name create getattr ioctl link open read remove_name rename reparent rmdir search setattr unlink write };
allow shell i2c_device:chr_file { getattr };
allow touch_updater i2c_device:chr_file { append create getattr ioctl link lock open read rename setattr unlink write };
allow unconfineddomain i2c_device:chr_file { append audit_access create getattr ioctl link lock mounton open quotaon read relabelfrom rename setattr swapon unlink write };
allow unconfineddomain i2c_device:file { append audit_access create getattr ioctl link lock mounton open quotaon read relabelfrom rename setattr swapon unlink write };
allow untrusted_app i2c_device:chr_file { getattr };
