type installd;
type installd_exec;
type installd_socket;
type installd_tmpfs;
allow debuggerd installd:process { ptrace };
allow dex2oat installd:fd { use };
allow dex2oat installd:process { sigchld };
allow hawk installd:dir { getattr search };
allow hawk installd:file { read open };
allow init installd:process { transition noatsecure siginh rlimitinh };
allow init installd_exec:file { read getattr execute open };
allow init installd_socket:blk_file { relabelto };
allow init installd_socket:chr_file { relabelto };
allow init installd_socket:dir { relabelto };
allow init installd_socket:fifo_file { relabelto };
allow init installd_socket:file { relabelto };
allow init installd_socket:lnk_file { relabelto };
allow init installd_socket:sock_file { relabelto };
allow init installd_tmpfs:blk_file { relabelto };
allow init installd_tmpfs:chr_file { relabelto };
allow init installd_tmpfs:dir { relabelto };
allow init installd_tmpfs:fifo_file { relabelto };
allow init installd_tmpfs:file { relabelto };
allow init installd_tmpfs:lnk_file { relabelto };
allow init installd_tmpfs:sock_file { relabelto };
allow installd installd_exec:file { read getattr execute entrypoint open };
allow installd installd_tmpfs:file { read write };
allow marvelltel installd:lnk_file { ioctl read write create getattr setattr lock append unlink link rename open };
allow recovery installd_exec:file { ioctl read write create getattr setattr lock relabelfrom relabelto append unlink link rename open };
allow shell installd_exec:file { getattr };
allow system_server installd:unix_stream_socket { connectto };
allow system_server installd_socket:sock_file { write };
allow unconfineddomain installd:binder { call set_context_mgr transfer };
allow unconfineddomain installd_socket:chr_file { ioctl read write create getattr setattr lock relabelfrom append unlink link rename swapon quotaon mounton open audit_access };
allow unconfineddomain installd_socket:dir { ioctl read write create getattr setattr lock relabelfrom append unlink link rename execute swapon quotaon mounton add_name remove_name reparent search rmdir open audit_access execmod };
allow unconfineddomain installd_socket:fifo_file { ioctl read write create getattr setattr lock relabelfrom append unlink link rename execute swapon quotaon mounton open audit_access execmod };
allow unconfineddomain installd_socket:file { ioctl read write create getattr setattr lock relabelfrom append unlink link rename swapon quotaon mounton open audit_access };
allow unconfineddomain installd_socket:lnk_file { ioctl read write create getattr setattr lock relabelfrom append unlink link rename execute swapon quotaon mounton open audit_access execmod };
allow unconfineddomain installd_socket:sock_file { ioctl read write create getattr setattr lock relabelfrom append unlink link rename execute swapon quotaon mounton open audit_access execmod };
allow unconfineddomain installd_tmpfs:chr_file { ioctl read write create getattr setattr lock relabelfrom append unlink link rename swapon quotaon mounton open audit_access };
allow unconfineddomain installd_tmpfs:dir { ioctl read write create getattr setattr lock relabelfrom append unlink link rename execute swapon quotaon mounton add_name remove_name reparent search rmdir open audit_access execmod };
allow unconfineddomain installd_tmpfs:fifo_file { ioctl read write create getattr setattr lock relabelfrom append unlink link rename execute swapon quotaon mounton open audit_access execmod };
allow unconfineddomain installd_tmpfs:file { ioctl read write create getattr setattr lock relabelfrom append unlink link rename swapon quotaon mounton open audit_access };
allow unconfineddomain installd_tmpfs:lnk_file { ioctl read write create getattr setattr lock relabelfrom append unlink link rename execute swapon quotaon mounton open audit_access execmod };
allow unconfineddomain installd_tmpfs:sock_file { ioctl read write create getattr setattr lock relabelfrom append unlink link rename execute swapon quotaon mounton open audit_access execmod };
allow untrusted_app installd_exec:file { read getattr execute open };
allow untrusted_app installd_socket:sock_file { getattr };
dontaudit init installd:process { noatsecure };
