type kernel;
allow adbd kernel:security { read_policy };
allow appdomain kernel:security { compute_av check_context };
allow core_compressor kernel:fifo_file { ioctl read write create getattr setattr lock append unlink link rename open };
allow core_compressor kernel:process { sigchld };
allow debuggerd kernel:process { ptrace };
allow debuggerd kernel:system { syslog_read };
allow dhcp kernel:system { module_request };
allow domain kernel:fd { use };
allow dumpstate kernel:system { syslog_read };
allow hawk kernel:dir { getattr search };
allow hawk kernel:file { read open };
allow hci_attach kernel:system { module_request };
allow init kernel:process { setsched noatsecure };
allow init kernel:security { load_policy };
allow init kernel:system { syslog_read syslog_mod };
allow init_shell kernel:system { syslog_mod };
allow installd kernel:security { check_context };
allow keystore kernel:security { compute_av };
allow kinitlog kernel:system { syslog_read };
allow kmsg kernel:system { syslog_mod };
allow logd kernel:system { syslog_read syslog_mod };
allow marvelltel kernel:dir { ioctl read write create getattr setattr unlink link rename add_name remove_name reparent search rmdir open };
allow marvelltel kernel:file { ioctl read write create getattr setattr lock append unlink link rename open };
allow marvelltel kernel:lnk_file { ioctl read write create getattr setattr lock append unlink link rename open };
allow marvelltel kernel:system { syslog_read syslog_mod };
allow mediaserver kernel:system { module_request };
allow netd kernel:system { module_request };
allow racoon kernel:system { module_request };
allow recovery kernel:process { setsched };
allow recovery kernel:system { syslog_read };
allow rild kernel:system { module_request };
allow root_detect kernel:file { ioctl read write create getattr setattr lock append unlink link rename open };
allow run_hawk_on_boot kernel:system { syslog_mod };
allow runas kernel:security { check_context };
allow servicemanager kernel:security { compute_av };
allow shell kernel:system { syslog_read };
allow system_server kernel:process { setsched };
allow system_server kernel:security { compute_av };
allow system_server kernel:system { module_request };
allow unconfineddomain kernel:binder { call set_context_mgr transfer };
allow unconfineddomain kernel:security { compute_av compute_create compute_member check_context compute_relabel compute_user read_policy };
allow unconfineddomain kernel:system { ipc_info module_request };
allow untrusted_app kernel:security { read_policy };
allow vold kernel:process { setsched };
allow vold kernel:system { module_request };
allow wpa kernel:system { module_request };
allow zygote kernel:security { compute_av check_context };
