allow adbd kernel:security { read_policy };
allow appdomain kernel:security { check_context compute_av };
allow core_compressor kernel:fifo_file { append create getattr ioctl link lock open read rename setattr unlink write };
allow core_compressor kernel:process { sigchld };
allow debuggerd kernel:process { ptrace };
allow debuggerd kernel:system { syslog_read };
allow dhcp kernel:system { module_request };
allow domain kernel:fd { use };
allow dumpstate kernel:system { syslog_read };
allow hawk kernel:dir { getattr search };
allow hawk kernel:file { open read };
allow hci_attach kernel:system { module_request };
allow init kernel:process { noatsecure setsched };
allow init kernel:security { load_policy };
allow init kernel:system { syslog_mod syslog_read };
allow init_shell kernel:system { syslog_mod };
allow installd kernel:security { check_context };
allow keystore kernel:security { compute_av };
allow kinitlog kernel:system { syslog_read };
allow kmsg kernel:system { syslog_mod };
allow logd kernel:system { syslog_mod syslog_read };
allow marvelltel kernel:dir { add_name create getattr ioctl link open read remove_name rename reparent rmdir search setattr unlink write };
allow marvelltel kernel:file { append create getattr ioctl link lock open read rename setattr unlink write };
allow marvelltel kernel:lnk_file { append create getattr ioctl link lock open read rename setattr unlink write };
allow marvelltel kernel:system { syslog_mod syslog_read };
allow mediaserver kernel:system { module_request };
allow netd kernel:system { module_request };
allow racoon kernel:system { module_request };
allow recovery kernel:process { setsched };
allow recovery kernel:system { syslog_read };
allow rild kernel:system { module_request };
allow root_detect kernel:file { append create getattr ioctl link lock open read rename setattr unlink write };
allow run_hawk_on_boot kernel:system { syslog_mod };
allow runas kernel:security { check_context };
allow servicemanager kernel:security { compute_av };
allow shell kernel:system { syslog_read };
allow system_server kernel:process { setsched };
allow system_server kernel:security { compute_av };
allow system_server kernel:system { module_request };
allow unconfineddomain kernel:binder { call set_context_mgr transfer };
allow unconfineddomain kernel:security { check_context compute_av compute_create compute_member compute_relabel compute_user read_policy };
allow unconfineddomain kernel:system { ipc_info module_request };
allow untrusted_app kernel:security { read_policy };
allow vold kernel:process { setsched };
allow vold kernel:system { module_request };
allow wpa kernel:system { module_request };
allow zygote kernel:security { check_context compute_av };
