type keystore;
type keystore_data_file;
type keystore_exec;
type keystore_service;
type keystore_tmpfs;
allow appdomain keystore:binder { call transfer };
allow appdomain keystore:fd { use };
allow appdomain keystore:keystore_key { test get insert delete exist saw sign verify };
allow binderservicedomain keystore:binder { call transfer };
allow binderservicedomain keystore:fd { use };
allow binderservicedomain keystore:keystore_key { test get insert delete exist saw sign verify };
allow hawk keystore:dir { getattr search };
allow hawk keystore:file { read open };
allow init keystore:process { transition noatsecure siginh rlimitinh };
allow init keystore_data_file:blk_file { relabelto };
allow init keystore_data_file:chr_file { relabelto };
allow init keystore_data_file:dir { read create getattr setattr relabelto search open };
allow init keystore_data_file:fifo_file { relabelto };
allow init keystore_data_file:file { getattr relabelto };
allow init keystore_data_file:lnk_file { relabelto };
allow init keystore_data_file:sock_file { relabelto };
allow init keystore_exec:file { read getattr execute open };
allow init keystore_tmpfs:blk_file { relabelto };
allow init keystore_tmpfs:chr_file { relabelto };
allow init keystore_tmpfs:dir { relabelto };
allow init keystore_tmpfs:fifo_file { relabelto };
allow init keystore_tmpfs:file { relabelto };
allow init keystore_tmpfs:lnk_file { relabelto };
allow init keystore_tmpfs:sock_file { relabelto };
allow keystore keystore_data_file:dir { ioctl read write create getattr setattr unlink link rename add_name remove_name reparent search rmdir open };
allow keystore keystore_data_file:fifo_file { ioctl read write create getattr setattr lock append unlink link rename open };
allow keystore keystore_data_file:file { ioctl read write create getattr setattr lock append unlink link rename open };
allow keystore keystore_data_file:lnk_file { ioctl read write create getattr setattr lock append unlink link rename open };
allow keystore keystore_data_file:sock_file { ioctl read write create getattr setattr lock append unlink link rename open };
allow keystore keystore_exec:file { read getattr execute entrypoint open };
allow keystore keystore_service:service_manager { add };
allow keystore keystore_tmpfs:file { read write };
allow marvelltel keystore:lnk_file { ioctl read write create getattr setattr lock append unlink link rename open };
allow racoon keystore:binder { call transfer };
allow racoon keystore:fd { use };
allow racoon keystore:keystore_key { get sign verify };
allow recovery keystore_exec:file { ioctl read write create getattr setattr lock relabelfrom relabelto append unlink link rename open };
allow servicemanager keystore:dir { search };
allow servicemanager keystore:file { read open };
allow servicemanager keystore:process { getattr };
allow shell keystore_exec:file { getattr };
allow system_app keystore:keystore_key { test get insert delete exist saw reset password lock unlock zero sign verify grant duplicate clear_uid };
allow system_server keystore:keystore_key { test get insert delete exist saw reset password lock unlock zero sign verify grant duplicate clear_uid reset_uid sync_uid password_uid };
allow unconfineddomain keystore:binder { call set_context_mgr transfer };
allow unconfineddomain keystore_tmpfs:chr_file { ioctl read write create getattr setattr lock relabelfrom append unlink link rename swapon quotaon mounton open audit_access };
allow unconfineddomain keystore_tmpfs:dir { ioctl read write create getattr setattr lock relabelfrom append unlink link rename execute swapon quotaon mounton add_name remove_name reparent search rmdir open audit_access execmod };
allow unconfineddomain keystore_tmpfs:fifo_file { ioctl read write create getattr setattr lock relabelfrom append unlink link rename execute swapon quotaon mounton open audit_access execmod };
allow unconfineddomain keystore_tmpfs:file { ioctl read write create getattr setattr lock relabelfrom append unlink link rename swapon quotaon mounton open audit_access };
allow unconfineddomain keystore_tmpfs:lnk_file { ioctl read write create getattr setattr lock relabelfrom append unlink link rename execute swapon quotaon mounton open audit_access execmod };
allow unconfineddomain keystore_tmpfs:sock_file { ioctl read write create getattr setattr lock relabelfrom append unlink link rename execute swapon quotaon mounton open audit_access execmod };
allow untrusted_app keystore_exec:file { read getattr execute open };
allow wpa keystore:binder { call transfer };
allow wpa keystore:fd { use };
allow wpa keystore:keystore_key { get sign verify };
dontaudit init keystore:process { noatsecure };
