type kmsg;
type kmsg_device;
type kmsg_exec;
type kmsg_tmpfs;
allow debuggerd kmsg:process { ptrace };
allow hawk kmsg:dir { getattr search };
allow hawk kmsg:file { read open };
allow init kmsg:process { transition noatsecure siginh rlimitinh };
allow init kmsg_exec:file { read getattr execute open };
allow init kmsg_tmpfs:blk_file { relabelto };
allow init kmsg_tmpfs:chr_file { relabelto };
allow init kmsg_tmpfs:dir { relabelto };
allow init kmsg_tmpfs:fifo_file { relabelto };
allow init kmsg_tmpfs:file { relabelto };
allow init kmsg_tmpfs:lnk_file { relabelto };
allow init kmsg_tmpfs:sock_file { relabelto };
allow kmsg kmsg_exec:file { read getattr execute entrypoint open };
allow kmsg kmsg_tmpfs:file { ioctl read write create getattr setattr lock append unlink link rename open };
allow logd kmsg_device:chr_file { write append open };
allow marvelltel kmsg_device:chr_file { ioctl read write create getattr setattr lock append unlink link rename open };
allow marvelltel kmsg_device:dir { ioctl read write create getattr setattr unlink link rename add_name remove_name reparent search rmdir open };
allow recovery kmsg_exec:file { ioctl read write create getattr setattr lock relabelfrom relabelto append unlink link rename open };
allow servicemanager kmsg_device:chr_file { ioctl read write create getattr setattr lock append unlink link rename open };
allow shell kmsg_device:chr_file { getattr };
allow system_server kmsg_device:chr_file { ioctl read write create getattr setattr lock append unlink link rename open };
allow unconfineddomain kmsg:binder { call set_context_mgr transfer };
allow unconfineddomain kmsg_device:chr_file { ioctl read write create getattr setattr lock relabelfrom append unlink link rename swapon quotaon mounton open audit_access };
allow unconfineddomain kmsg_device:file { ioctl read write create getattr setattr lock relabelfrom append unlink link rename swapon quotaon mounton open audit_access };
allow unconfineddomain kmsg_tmpfs:chr_file { ioctl read write create getattr setattr lock relabelfrom append unlink link rename swapon quotaon mounton open audit_access };
allow unconfineddomain kmsg_tmpfs:dir { ioctl read write create getattr setattr lock relabelfrom append unlink link rename execute swapon quotaon mounton add_name remove_name reparent search rmdir open audit_access execmod };
allow unconfineddomain kmsg_tmpfs:fifo_file { ioctl read write create getattr setattr lock relabelfrom append unlink link rename execute swapon quotaon mounton open audit_access execmod };
allow unconfineddomain kmsg_tmpfs:file { ioctl read write create getattr setattr lock relabelfrom append unlink link rename swapon quotaon mounton open audit_access };
allow unconfineddomain kmsg_tmpfs:lnk_file { ioctl read write create getattr setattr lock relabelfrom append unlink link rename execute swapon quotaon mounton open audit_access execmod };
allow unconfineddomain kmsg_tmpfs:sock_file { ioctl read write create getattr setattr lock relabelfrom append unlink link rename execute swapon quotaon mounton open audit_access execmod };
allow untrusted_app kmsg_device:chr_file { getattr };
allow untrusted_app kmsg_exec:file { read getattr execute open };
allow untrusted_app kmsg_tmpfs:file { getattr };
dontaudit init kmsg:process { noatsecure };
