type log_on_boot;
type log_on_boot_exec;
type log_on_boot_tmpfs;
allow debuggerd log_on_boot:process { ptrace };
allow init log_on_boot:process { transition noatsecure siginh rlimitinh };
allow init log_on_boot_exec:file { read getattr execute open };
allow init log_on_boot_tmpfs:blk_file { relabelto };
allow init log_on_boot_tmpfs:chr_file { relabelto };
allow init log_on_boot_tmpfs:dir { relabelto };
allow init log_on_boot_tmpfs:fifo_file { relabelto };
allow init log_on_boot_tmpfs:file { relabelto };
allow init log_on_boot_tmpfs:lnk_file { relabelto };
allow init log_on_boot_tmpfs:sock_file { relabelto };
allow log_on_boot log_on_boot_exec:file { read getattr execute entrypoint open };
allow log_on_boot log_on_boot_tmpfs:file { read write };
allow recovery log_on_boot_exec:file { ioctl read write create getattr setattr lock relabelfrom relabelto append unlink link rename open };
allow shell log_on_boot_exec:file { getattr };
allow unconfineddomain log_on_boot:binder { call set_context_mgr transfer };
allow unconfineddomain log_on_boot_tmpfs:chr_file { ioctl read write create getattr setattr lock relabelfrom append unlink link rename swapon quotaon mounton open audit_access };
allow unconfineddomain log_on_boot_tmpfs:dir { ioctl read write create getattr setattr lock relabelfrom append unlink link rename execute swapon quotaon mounton add_name remove_name reparent search rmdir open audit_access execmod };
allow unconfineddomain log_on_boot_tmpfs:fifo_file { ioctl read write create getattr setattr lock relabelfrom append unlink link rename execute swapon quotaon mounton open audit_access execmod };
allow unconfineddomain log_on_boot_tmpfs:file { ioctl read write create getattr setattr lock relabelfrom append unlink link rename swapon quotaon mounton open audit_access };
allow unconfineddomain log_on_boot_tmpfs:lnk_file { ioctl read write create getattr setattr lock relabelfrom append unlink link rename execute swapon quotaon mounton open audit_access execmod };
allow unconfineddomain log_on_boot_tmpfs:sock_file { ioctl read write create getattr setattr lock relabelfrom append unlink link rename execute swapon quotaon mounton open audit_access execmod };
allow untrusted_app log_on_boot_exec:file { read getattr execute open };
dontaudit init log_on_boot:process { noatsecure };
