# wpa
allow wpa wifi_data_file:dir { read search };
allow wpa wifi_data_file:file { read write };
allow wpa wpa_socket:dir { create write add_name remove_name };
allow wpa wpa_socket:sock_file { create open read write setattr unlink };
allow wpa system_wpa_socket:sock_file { open read write };

# hostapd
allow hostapd wifi_data_file:dir { read search };
allow hostapd wifi_data_file:file { read write };
allow hostapd wpa_socket:dir { create write add_name remove_name };
allow hostapd wpa_socket:sock_file { create open read write setattr unlink };

# socket
allow system_server wpa_socket:unix_dgram_socket { write };
allow system_server system_wpa_socket:unix_dgram_socket { write };
allow wpa system_wpa_socket:unix_stream_socket { connectto };
# wifi
allow system_server wifi_data_file:dir { create rmdir setattr write add_name remove_name search };
allow system_server wifi_data_file:file { create open read write getattr setattr unlink };
allow system_server wpa_socket:dir { search add_name write };
allow system_server wpa_socket:sock_file { open read write getattr setattr };
allow system_server system_wpa_socket:sock_file { open read write getattr setattr };
