
allow FMRadiod mwirelessd:unix_stream_socket { accept acceptfrom append bind connect connectto create getattr getopt ioctl listen lock name_bind newconn read recv_msg recvfrom send_msg sendto setattr setopt shutdown write };
allow bluetooth mwirelessd:unix_stream_socket { accept acceptfrom append bind connect connectto create getattr getopt ioctl listen lock name_bind newconn read recv_msg recvfrom send_msg sendto setattr setopt shutdown write };
allow debuggerd mwirelessd:process { ptrace };
allow hawk mwirelessd:dir { getattr search };
allow hawk mwirelessd:file { open read };
allow init mwirelessd:process { noatsecure rlimitinh siginh transition };
allow init mwirelessd_exec:file { execute getattr open read };
allow init mwirelessd_tmpfs:blk_file { relabelto };
allow init mwirelessd_tmpfs:chr_file { relabelto };
allow init mwirelessd_tmpfs:dir { relabelto };
allow init mwirelessd_tmpfs:fifo_file { relabelto };
allow init mwirelessd_tmpfs:file { relabelto };
allow init mwirelessd_tmpfs:lnk_file { relabelto };
allow init mwirelessd_tmpfs:sock_file { relabelto };
allow mlan2040coex mwirelessd:unix_stream_socket { accept acceptfrom append bind connect connectto create getattr getopt ioctl listen lock name_bind newconn read recv_msg recvfrom send_msg sendto setattr setopt shutdown write };
allow mlaninit mwirelessd:unix_stream_socket { accept acceptfrom append bind connect connectto create getattr getopt ioctl listen lock name_bind newconn read recv_msg recvfrom send_msg sendto setattr setopt shutdown write };
allow mwirelessd mwirelessd_exec:file { entrypoint execute getattr open read };
allow mwirelessd mwirelessd_tmpfs:file { read write };
allow nfc mwirelessd:unix_stream_socket { accept acceptfrom append bind connect connectto create getattr getopt ioctl listen lock name_bind newconn read recv_msg recvfrom send_msg sendto setattr setopt shutdown write };
allow recovery mwirelessd_exec:file { append create getattr ioctl link lock open read relabelfrom relabelto rename setattr unlink write };
allow shell mwirelessd_exec:file { getattr };
allow system_server mwirelessd:unix_stream_socket { accept acceptfrom append bind connect connectto create getattr getopt ioctl listen lock name_bind newconn read recv_msg recvfrom send_msg sendto setattr setopt shutdown write };
allow unconfineddomain mwirelessd:binder { call set_context_mgr transfer };
allow unconfineddomain mwirelessd_tmpfs:chr_file { append audit_access create getattr ioctl link lock mounton open quotaon read relabelfrom rename setattr swapon unlink write };
allow unconfineddomain mwirelessd_tmpfs:dir { add_name append audit_access create execmod execute getattr ioctl link lock mounton open quotaon read relabelfrom remove_name rename reparent rmdir search setattr swapon unlink write };
allow unconfineddomain mwirelessd_tmpfs:fifo_file { append audit_access create execmod execute getattr ioctl link lock mounton open quotaon read relabelfrom rename setattr swapon unlink write };
allow unconfineddomain mwirelessd_tmpfs:file { append audit_access create getattr ioctl link lock mounton open quotaon read relabelfrom rename setattr swapon unlink write };
allow unconfineddomain mwirelessd_tmpfs:lnk_file { append audit_access create execmod execute getattr ioctl link lock mounton open quotaon read relabelfrom rename setattr swapon unlink write };
allow unconfineddomain mwirelessd_tmpfs:sock_file { append audit_access create execmod execute getattr ioctl link lock mounton open quotaon read relabelfrom rename setattr swapon unlink write };
allow untrusted_app mwirelessd_exec:file { execute getattr open read };
dontaudit init mwirelessd:process { noatsecure };
