type mwireless_device;
allow FMRadiod mwireless_device:chr_file { ioctl read write create getattr setattr lock append unlink link rename open };
allow mlan2040coex mwireless_device:chr_file { ioctl read write create getattr setattr lock append unlink link rename open };
allow mlaninit mwireless_device:chr_file { ioctl read write create getattr setattr lock append unlink link rename open };
allow mwirelessd mwireless_device:chr_file { ioctl read write create getattr setattr lock append unlink link rename open };
allow unconfineddomain mwireless_device:chr_file { ioctl read write create getattr setattr lock relabelfrom append unlink link rename swapon quotaon mounton open audit_access };
allow unconfineddomain mwireless_device:file { ioctl read write create getattr setattr lock relabelfrom append unlink link rename swapon quotaon mounton open audit_access };
allow untrusted_app mwireless_device:chr_file { ioctl read write create getattr setattr lock append unlink link rename open };
