type mwireless_device;

allow FMRadiod mwireless_device:chr_file { append create getattr ioctl link lock open read rename setattr unlink write };
allow mlan2040coex mwireless_device:chr_file { append create getattr ioctl link lock open read rename setattr unlink write };
allow mlaninit mwireless_device:chr_file { append create getattr ioctl link lock open read rename setattr unlink write };
allow mwirelessd mwireless_device:chr_file { append create getattr ioctl link lock open read rename setattr unlink write };
allow unconfineddomain mwireless_device:chr_file { append audit_access create getattr ioctl link lock mounton open quotaon read relabelfrom rename setattr swapon unlink write };
allow unconfineddomain mwireless_device:file { append audit_access create getattr ioctl link lock mounton open quotaon read relabelfrom rename setattr swapon unlink write };
allow untrusted_app mwireless_device:chr_file { append create getattr ioctl link lock open read rename setattr unlink write };
