allow debuggerd nfc:process { ptrace };
allow init nfc:process { noatsecure };
allow init nfc_data_file:blk_file { relabelto };
allow init nfc_data_file:chr_file { relabelto };
allow init nfc_data_file:dir { relabelto };
allow init nfc_data_file:fifo_file { relabelto };
allow init nfc_data_file:file { relabelto };
allow init nfc_data_file:lnk_file { relabelto };
allow init nfc_data_file:sock_file { relabelto };
allow init nfc_tmpfs:blk_file { relabelto };
allow init nfc_tmpfs:chr_file { relabelto };
allow init nfc_tmpfs:dir { relabelto };
allow init nfc_tmpfs:fifo_file { relabelto };
allow init nfc_tmpfs:file { relabelto };
allow init nfc_tmpfs:lnk_file { relabelto };
allow init nfc_tmpfs:sock_file { relabelto };
allow installd nfc_data_file:dir { add_name create getattr ioctl link open read relabelfrom relabelto remove_name rename reparent rmdir search setattr unlink write };
allow installd nfc_data_file:fifo_file { getattr relabelfrom relabelto rename setattr unlink };
allow installd nfc_data_file:file { getattr relabelfrom relabelto rename setattr unlink };
allow installd nfc_data_file:lnk_file { create getattr relabelfrom relabelto rename setattr unlink };
allow installd nfc_data_file:sock_file { getattr relabelfrom relabelto rename setattr unlink };
allow mlan2040coex nfc_device:chr_file { append create getattr ioctl link lock open read rename setattr unlink write };
allow mlaninit nfc_device:chr_file { append create getattr ioctl link lock open read rename setattr unlink write };
allow mned nfc_data_file:dir { add_name create getattr ioctl link open read remove_name rename reparent rmdir search setattr unlink write };
allow mned nfc_data_file:sock_file { append create getattr ioctl link lock open read rename setattr unlink write };
allow mwirelessd nfc_device:chr_file { append create getattr ioctl link lock open read rename setattr unlink write };
allow nfc nfc_data_file:dir { add_name create getattr ioctl link open read remove_name rename reparent rmdir search setattr unlink write };
allow nfc nfc_data_file:fifo_file { append create getattr ioctl link lock open read rename setattr unlink write };
allow nfc nfc_data_file:file { append create getattr ioctl link lock open read rename setattr unlink write };
allow nfc nfc_data_file:lnk_file { append create getattr ioctl link lock open read rename setattr unlink write };
allow nfc nfc_data_file:sock_file { append create getattr ioctl link lock open read rename setattr unlink write };
allow nfc nfc_device:chr_file { append create getattr ioctl link lock open read rename setattr unlink write };
allow nfc nfc_prop:property_service { set };
allow nfc nfc_service:service_manager { add };
allow nfc nfc_tmpfs:file { execute read write };
allow nfc sysfs_nfc_power_writable:file { append getattr ioctl lock open read write };
allow runas nfc:process { dyntransition };
allow shell nfc_device:chr_file { getattr };
allow system_server nfc_data_file:dir { getattr read search };
allow system_server nfc_data_file:file { getattr read write };
allow system_server sysfs_nfc_power_writable:file { append getattr ioctl lock open read write };
allow unconfineddomain nfc:binder { call set_context_mgr transfer };
allow unconfineddomain nfc_data_file:chr_file { append audit_access create getattr ioctl link lock mounton open quotaon read relabelfrom rename setattr swapon unlink write };
allow unconfineddomain nfc_data_file:dir { add_name append audit_access create execmod execute getattr ioctl link lock mounton open quotaon read relabelfrom remove_name rename reparent rmdir search setattr swapon unlink write };
allow unconfineddomain nfc_data_file:fifo_file { append audit_access create execmod execute getattr ioctl link lock mounton open quotaon read relabelfrom rename setattr swapon unlink write };
allow unconfineddomain nfc_data_file:file { append audit_access create getattr ioctl link lock mounton open quotaon read relabelfrom rename setattr swapon unlink write };
allow unconfineddomain nfc_data_file:lnk_file { append audit_access create execmod execute getattr ioctl link lock mounton open quotaon read relabelfrom rename setattr swapon unlink write };
allow unconfineddomain nfc_data_file:sock_file { append audit_access create execmod execute getattr ioctl link lock mounton open quotaon read relabelfrom rename setattr swapon unlink write };
allow unconfineddomain nfc_device:chr_file { append audit_access create getattr ioctl link lock mounton open quotaon read relabelfrom rename setattr swapon unlink write };
allow unconfineddomain nfc_device:file { append audit_access create getattr ioctl link lock mounton open quotaon read relabelfrom rename setattr swapon unlink write };
allow unconfineddomain nfc_tmpfs:chr_file { append audit_access create getattr ioctl link lock mounton open quotaon read relabelfrom rename setattr swapon unlink write };
allow unconfineddomain nfc_tmpfs:dir { add_name append audit_access create execmod execute getattr ioctl link lock mounton open quotaon read relabelfrom remove_name rename reparent rmdir search setattr swapon unlink write };
allow unconfineddomain nfc_tmpfs:fifo_file { append audit_access create execmod execute getattr ioctl link lock mounton open quotaon read relabelfrom rename setattr swapon unlink write };
allow unconfineddomain nfc_tmpfs:file { append audit_access create getattr ioctl link lock mounton open quotaon read relabelfrom rename setattr swapon unlink write };
allow unconfineddomain nfc_tmpfs:lnk_file { append audit_access create execmod execute getattr ioctl link lock mounton open quotaon read relabelfrom rename setattr swapon unlink write };
allow unconfineddomain nfc_tmpfs:sock_file { append audit_access create execmod execute getattr ioctl link lock mounton open quotaon read relabelfrom rename setattr swapon unlink write };
allow unconfineddomain sysfs_nfc_power_writable:chr_file { append audit_access create getattr ioctl link lock mounton open quotaon read relabelfrom rename setattr swapon unlink write };
allow unconfineddomain sysfs_nfc_power_writable:dir { add_name append audit_access create execmod execute getattr ioctl link lock mounton open quotaon read relabelfrom remove_name rename reparent rmdir search setattr swapon unlink write };
allow unconfineddomain sysfs_nfc_power_writable:fifo_file { append audit_access create execmod execute getattr ioctl link lock mounton open quotaon read relabelfrom rename setattr swapon unlink write };
allow unconfineddomain sysfs_nfc_power_writable:file { append audit_access create getattr ioctl link lock mounton open quotaon read relabelfrom rename setattr swapon unlink write };
allow unconfineddomain sysfs_nfc_power_writable:lnk_file { append audit_access create execmod execute getattr ioctl link lock mounton open quotaon read relabelfrom rename setattr swapon unlink write };
allow unconfineddomain sysfs_nfc_power_writable:sock_file { append audit_access create execmod execute getattr ioctl link lock mounton open quotaon read relabelfrom rename setattr swapon unlink write };
allow untrusted_app nfc_data_file:dir { getattr };
allow untrusted_app nfc_device:chr_file { getattr };
