type perfd, domain;
type perfd_exec, exec_type, file_type;
init_daemon_domain(perfd)
allow perfd shell:process { rlimitinh siginh noatsecure };
allow perfd shell_exec:file { getattr open read execute execute_no_trans };
allow perfd shell:process transition;
allow shell perfd:fd use;
allow shell perfd:process sigchld;
type_transition perfd shell_exec:process shell;

allow perfd property_socket:sock_file write;

allow perfd self:capability { setgid setuid };
allow perfd system_file:file execute;
allow perfd proc_net:file read;
allow perfd log_device:chr_file { read write open };

allow perfd sysfs:dir { search read open };
allow perfd sysfs:file { read write open getattr };
allow perfd sysfs:lnk_file { read getattr };

allow perfd proc:dir { search read open };
allow perfd proc:file { read write open getattr };
