type audio_prop;
type bluetooth_prop;
type logd_prop;
type radio_prop;
type system_prop;
allow atcmdsrv system_prop:property_service { set };
allow bluetooth bluetooth_prop:property_service { set };
allow eeh radio_prop:property_service { set };
allow eeh system_prop:property_service { set };
allow hawk radio_prop:property_service { set };
allow healthd system_prop:property_service { set };
allow marvelltel radio_prop:property_service { set };
allow marvelltel system_prop:property_service { set };
allow mediaserver audio_prop:property_service { set };
allow mediaserver system_prop:property_service { set };
allow mlan2040coex system_prop:property_service { set };
allow mlaninit system_prop:property_service { set };
allow mwirelessd system_prop:property_service { set };
allow netd system_prop:property_service { set };
allow radio radio_prop:property_service { set };
allow radio system_prop:property_service { set };
allow rild radio_prop:property_service { set };
allow run_hawk_on_boot radio_prop:property_service { set };
allow surfaceflinger system_prop:property_service { set };
allow system_app logd_prop:property_service { set };
allow system_app system_prop:property_service { set };
allow system_server system_prop:property_service { set };
auditallow netd system_prop:property_service { set };
