# create the new domain phservice
type phservice, domain;
type phservice_exec, exec_type, file_type;
init_daemon_domain(phservice)
type_transition init phservice_exec:process phservice;

allow servicemanager phservice:dir { ioctl read write create getattr setattr unlink link rename add_name remove_name reparent search rmdir open };
allow servicemanager phservice:file { ioctl read write create getattr setattr lock append unlink link rename open };
allow servicemanager phservice:process { getattr };
allow phservice servicemanager:binder { transfer call };
allow phservice shell_exec:file { read execute open execute_no_trans };
allow phservice sysfs:file { ioctl read write create getattr setattr lock append unlink link rename open };
allow phservice sysfs_devices_system_cpu:file { ioctl read write create getattr setattr lock append unlink link rename open };;
allow phservice dumpstate:fd use;
allow shell phservice:binder { call };
allow shell phservice_exec:file { getattr };
allow phservice shell:fd { use };
allow phservice shell:fifo_file { ioctl read write create getattr setattr lock append unlink link rename open };
allow phservice shell_exec:file { read execute execute_no_trans open };
allow system_app phservice:binder { call };
allow system_server phservice:binder { call };
allow phservice system_server_service:service_manager { add find };
#neverallow Google CTS-android-m-preview:
#neverallow { domain -system_server -system_app -init -installd } system_data_file:file { append create link unlink relabelfrom rename setattr write }
#allow phservice system_data_file:file create_file_perms;
allow phservice system_data_file:file r_file_perms;

allow phservice system_server:binder call;
allow phservice dumpstate:unix_stream_socket { read write getattr getopt setopt shutdown };
allow phservice shell:fd use;
allow phservice shell:fifo_file create_file_perms;
allow phservice app_data_file:file create_file_perms;
allow phservice untrusted_app:fd use;
allow phservice fuse:file create_file_perms;
#SEC removed: allow phservice system_server_service:service_manager { add find list};


allow phservice mrvlgpu_device:chr_file { open read write ioctl getattr lock append };
