allow debuggerd ppp:process { ptrace };
allow init ppp:process { noatsecure };
allow mtp ppp:process { rlimitinh siginh signal transition };
allow mtp ppp_exec:file { execute getattr open read };
allow ppp ppp_device:chr_file { append getattr ioctl lock open read write };
allow ppp ppp_exec:file { entrypoint execute getattr open read };
allow recovery ppp_exec:file { append create getattr ioctl link lock open read relabelfrom relabelto rename setattr unlink write };
allow shell ppp_device:chr_file { getattr };
allow shell ppp_exec:file { getattr };
allow unconfineddomain ppp:binder { call set_context_mgr transfer };
allow unconfineddomain ppp_device:chr_file { append audit_access create getattr ioctl link lock mounton open quotaon read relabelfrom rename setattr swapon unlink write };
allow unconfineddomain ppp_device:file { append audit_access create getattr ioctl link lock mounton open quotaon read relabelfrom rename setattr swapon unlink write };
allow untrusted_app ppp_device:chr_file { getattr };
allow untrusted_app ppp_exec:file { execute getattr open read };
dontaudit mtp ppp:process { noatsecure };
