allow bluetooth proc_bluetooth_writable:file { append getattr ioctl lock open read write };
allow dhcp proc_net:file { write };
allow domain proc:dir { getattr ioctl open read search };
allow domain proc:file { getattr ioctl lock open read };
allow domain proc:lnk_file { getattr ioctl lock open read };
allow domain proc_cpuinfo:file { getattr ioctl lock open read };
allow domain proc_net:dir { getattr ioctl open read search };
allow domain proc_net:file { getattr ioctl lock open read };
allow domain proc_net:lnk_file { getattr ioctl lock open read };
allow healthd proc_sysrq:file { append getattr ioctl lock open read write };
allow imsc proc_net:file { append create getattr ioctl link lock open read rename setattr unlink write };
allow init proc_security:file { append getattr ioctl lock open read write };
allow install_recovery proc:file { append open write };
allow netd proc_net:file { write };
allow recovery proc:file { append create getattr ioctl link lock open read rename setattr unlink write };
allow run_hawk_on_boot proc:file { append create getattr ioctl link lock open read rename setattr unlink write };
allow setup_fs proc_sysrq:file { append create getattr ioctl link lock open read rename setattr unlink write };
allow system_server proc_sysrq:file { append getattr ioctl lock open read write };
allow unconfineddomain proc:chr_file { append audit_access create getattr ioctl link lock mounton open quotaon read relabelfrom rename setattr swapon unlink write };
allow unconfineddomain proc:dir { add_name append audit_access create execmod execute getattr ioctl link lock mounton open quotaon read relabelfrom remove_name rename reparent rmdir search setattr swapon unlink write };
allow unconfineddomain proc:fifo_file { append audit_access create execmod execute getattr ioctl link lock mounton open quotaon read relabelfrom rename setattr swapon unlink write };
allow unconfineddomain proc:file { append audit_access create getattr ioctl link lock mounton open quotaon read relabelfrom rename setattr swapon unlink write };
allow unconfineddomain proc:lnk_file { append audit_access create execmod execute getattr ioctl link lock mounton open quotaon read relabelfrom rename setattr swapon unlink write };
allow unconfineddomain proc:sock_file { append audit_access create execmod execute getattr ioctl link lock mounton open quotaon read relabelfrom rename setattr swapon unlink write };
allow unconfineddomain proc_bluetooth_writable:chr_file { append audit_access create getattr ioctl link lock mounton open quotaon read relabelfrom rename setattr swapon unlink write };
allow unconfineddomain proc_bluetooth_writable:dir { add_name append audit_access create execmod execute getattr ioctl link lock mounton open quotaon read relabelfrom remove_name rename reparent rmdir search setattr swapon unlink write };
allow unconfineddomain proc_bluetooth_writable:fifo_file { append audit_access create execmod execute getattr ioctl link lock mounton open quotaon read relabelfrom rename setattr swapon unlink write };
allow unconfineddomain proc_bluetooth_writable:file { append audit_access create getattr ioctl link lock mounton open quotaon read relabelfrom rename setattr swapon unlink write };
allow unconfineddomain proc_bluetooth_writable:lnk_file { append audit_access create execmod execute getattr ioctl link lock mounton open quotaon read relabelfrom rename setattr swapon unlink write };
allow unconfineddomain proc_bluetooth_writable:sock_file { append audit_access create execmod execute getattr ioctl link lock mounton open quotaon read relabelfrom rename setattr swapon unlink write };
allow unconfineddomain proc_cpuinfo:chr_file { append audit_access create getattr ioctl link lock mounton open quotaon read relabelfrom rename setattr swapon unlink write };
allow unconfineddomain proc_cpuinfo:dir { add_name append audit_access create execmod execute getattr ioctl link lock mounton open quotaon read relabelfrom remove_name rename reparent rmdir search setattr swapon unlink write };
allow unconfineddomain proc_cpuinfo:fifo_file { append audit_access create execmod execute getattr ioctl link lock mounton open quotaon read relabelfrom rename setattr swapon unlink write };
allow unconfineddomain proc_cpuinfo:file { append audit_access create getattr ioctl link lock mounton open quotaon read relabelfrom rename setattr swapon unlink write };
allow unconfineddomain proc_cpuinfo:lnk_file { append audit_access create execmod execute getattr ioctl link lock mounton open quotaon read relabelfrom rename setattr swapon unlink write };
allow unconfineddomain proc_cpuinfo:sock_file { append audit_access create execmod execute getattr ioctl link lock mounton open quotaon read relabelfrom rename setattr swapon unlink write };
allow unconfineddomain proc_net:chr_file { append audit_access create getattr ioctl link lock mounton open quotaon read relabelfrom rename setattr swapon unlink write };
allow unconfineddomain proc_net:dir { add_name append audit_access create execmod execute getattr ioctl link lock mounton open quotaon read relabelfrom remove_name rename reparent rmdir search setattr swapon unlink write };
allow unconfineddomain proc_net:fifo_file { append audit_access create execmod execute getattr ioctl link lock mounton open quotaon read relabelfrom rename setattr swapon unlink write };
allow unconfineddomain proc_net:file { append audit_access create getattr ioctl link lock mounton open quotaon read relabelfrom rename setattr swapon unlink write };
allow unconfineddomain proc_net:lnk_file { append audit_access create execmod execute getattr ioctl link lock mounton open quotaon read relabelfrom rename setattr swapon unlink write };
allow unconfineddomain proc_net:sock_file { append audit_access create execmod execute getattr ioctl link lock mounton open quotaon read relabelfrom rename setattr swapon unlink write };
allow unconfineddomain proc_security:dir { add_name append audit_access create execmod execute getattr ioctl link lock mounton open quotaon read relabelfrom remove_name rename reparent rmdir search setattr swapon unlink write };
allow unconfineddomain proc_security:fifo_file { append audit_access create execmod execute getattr ioctl link lock mounton open quotaon read relabelfrom rename setattr swapon unlink write };
allow unconfineddomain proc_security:lnk_file { append audit_access create execmod execute getattr ioctl link lock mounton open quotaon read relabelfrom rename setattr swapon unlink write };
allow unconfineddomain proc_security:sock_file { append audit_access create execmod execute getattr ioctl link lock mounton open quotaon read relabelfrom rename setattr swapon unlink write };
allow unconfineddomain proc_sysrq:chr_file { append audit_access create getattr ioctl link lock mounton open quotaon read relabelfrom rename setattr swapon unlink write };
allow unconfineddomain proc_sysrq:dir { add_name append audit_access create execmod execute getattr ioctl link lock mounton open quotaon read relabelfrom remove_name rename reparent rmdir search setattr swapon unlink write };
allow unconfineddomain proc_sysrq:fifo_file { append audit_access create execmod execute getattr ioctl link lock mounton open quotaon read relabelfrom rename setattr swapon unlink write };
allow unconfineddomain proc_sysrq:file { append audit_access create getattr ioctl link lock mounton open quotaon read relabelfrom rename setattr swapon unlink write };
allow unconfineddomain proc_sysrq:lnk_file { append audit_access create execmod execute getattr ioctl link lock mounton open quotaon read relabelfrom rename setattr swapon unlink write };
allow unconfineddomain proc_sysrq:sock_file { append audit_access create execmod execute getattr ioctl link lock mounton open quotaon read relabelfrom rename setattr swapon unlink write };
allow untrusted_app proc_security:file { getattr ioctl lock open read };
allow untrusted_app proc_sysrq:file { append getattr ioctl lock open read write };
allow zygote proc_cpuinfo:file { mounton };
