type rild;
type rild_debug_socket;
type rild_exec;
type rild_socket;
type rild_tmpfs;
allow debuggerd rild:process { ptrace };
allow hawk rild:dir { getattr search };
allow hawk rild:file { read open };
allow init rild:process { transition noatsecure siginh rlimitinh };
allow init rild_debug_socket:blk_file { relabelto };
allow init rild_debug_socket:chr_file { relabelto };
allow init rild_debug_socket:dir { relabelto };
allow init rild_debug_socket:fifo_file { relabelto };
allow init rild_debug_socket:file { relabelto };
allow init rild_debug_socket:lnk_file { relabelto };
allow init rild_debug_socket:sock_file { relabelto };
allow init rild_exec:file { read getattr execute open };
allow init rild_socket:blk_file { relabelto };
allow init rild_socket:chr_file { relabelto };
allow init rild_socket:dir { relabelto };
allow init rild_socket:fifo_file { relabelto };
allow init rild_socket:file { relabelto };
allow init rild_socket:lnk_file { relabelto };
allow init rild_socket:sock_file { relabelto };
allow init rild_tmpfs:blk_file { relabelto };
allow init rild_tmpfs:chr_file { relabelto };
allow init rild_tmpfs:dir { relabelto };
allow init rild_tmpfs:fifo_file { relabelto };
allow init rild_tmpfs:file { relabelto };
allow init rild_tmpfs:lnk_file { relabelto };
allow init rild_tmpfs:sock_file { relabelto };
allow marvelltel rild:lnk_file { ioctl read write create getattr setattr lock append unlink link rename open };
allow mediaserver rild:unix_stream_socket { read write setopt connectto };
allow radio rild:unix_stream_socket { connectto };
allow radio rild_socket:sock_file { ioctl read write create getattr setattr lock append unlink link rename open };
allow recovery rild_exec:file { ioctl read write create getattr setattr lock relabelfrom relabelto append unlink link rename open };
allow rild rild_exec:file { read getattr execute entrypoint open };
allow rild rild_socket:sock_file { ioctl read write create getattr setattr lock append unlink link rename open };
allow rild rild_tmpfs:file { read write };
allow shell rild_exec:file { getattr };
allow system_server rild:unix_stream_socket { connectto };
allow unconfineddomain rild:binder { call set_context_mgr transfer };
allow unconfineddomain rild_debug_socket:chr_file { ioctl read write create getattr setattr lock relabelfrom append unlink link rename swapon quotaon mounton open audit_access };
allow unconfineddomain rild_debug_socket:dir { ioctl read write create getattr setattr lock relabelfrom append unlink link rename execute swapon quotaon mounton add_name remove_name reparent search rmdir open audit_access execmod };
allow unconfineddomain rild_debug_socket:fifo_file { ioctl read write create getattr setattr lock relabelfrom append unlink link rename execute swapon quotaon mounton open audit_access execmod };
allow unconfineddomain rild_debug_socket:file { ioctl read write create getattr setattr lock relabelfrom append unlink link rename swapon quotaon mounton open audit_access };
allow unconfineddomain rild_debug_socket:lnk_file { ioctl read write create getattr setattr lock relabelfrom append unlink link rename execute swapon quotaon mounton open audit_access execmod };
allow unconfineddomain rild_debug_socket:sock_file { ioctl read write create getattr setattr lock relabelfrom append unlink link rename execute swapon quotaon mounton open audit_access execmod };
allow unconfineddomain rild_socket:chr_file { ioctl read write create getattr setattr lock relabelfrom append unlink link rename swapon quotaon mounton open audit_access };
allow unconfineddomain rild_socket:dir { ioctl read write create getattr setattr lock relabelfrom append unlink link rename execute swapon quotaon mounton add_name remove_name reparent search rmdir open audit_access execmod };
allow unconfineddomain rild_socket:fifo_file { ioctl read write create getattr setattr lock relabelfrom append unlink link rename execute swapon quotaon mounton open audit_access execmod };
allow unconfineddomain rild_socket:file { ioctl read write create getattr setattr lock relabelfrom append unlink link rename swapon quotaon mounton open audit_access };
allow unconfineddomain rild_socket:lnk_file { ioctl read write create getattr setattr lock relabelfrom append unlink link rename execute swapon quotaon mounton open audit_access execmod };
allow unconfineddomain rild_socket:sock_file { ioctl read write create getattr setattr lock relabelfrom append unlink link rename execute swapon quotaon mounton open audit_access execmod };
allow unconfineddomain rild_tmpfs:chr_file { ioctl read write create getattr setattr lock relabelfrom append unlink link rename swapon quotaon mounton open audit_access };
allow unconfineddomain rild_tmpfs:dir { ioctl read write create getattr setattr lock relabelfrom append unlink link rename execute swapon quotaon mounton add_name remove_name reparent search rmdir open audit_access execmod };
allow unconfineddomain rild_tmpfs:fifo_file { ioctl read write create getattr setattr lock relabelfrom append unlink link rename execute swapon quotaon mounton open audit_access execmod };
allow unconfineddomain rild_tmpfs:file { ioctl read write create getattr setattr lock relabelfrom append unlink link rename swapon quotaon mounton open audit_access };
allow unconfineddomain rild_tmpfs:lnk_file { ioctl read write create getattr setattr lock relabelfrom append unlink link rename execute swapon quotaon mounton open audit_access execmod };
allow unconfineddomain rild_tmpfs:sock_file { ioctl read write create getattr setattr lock relabelfrom append unlink link rename execute swapon quotaon mounton open audit_access execmod };
allow untrusted_app rild_debug_socket:sock_file { getattr };
allow untrusted_app rild_exec:file { read getattr execute open };
allow untrusted_app rild_socket:sock_file { getattr };
dontaudit init rild:process { noatsecure };
