type root_detect;
type root_detect_exec;
type root_detect_tmpfs;
allow debuggerd root_detect:process { ptrace };
allow init root_detect:process { transition noatsecure siginh rlimitinh };
allow init root_detect_exec:file { read getattr execute open };
allow init root_detect_tmpfs:blk_file { relabelto };
allow init root_detect_tmpfs:chr_file { relabelto };
allow init root_detect_tmpfs:dir { relabelto };
allow init root_detect_tmpfs:fifo_file { relabelto };
allow init root_detect_tmpfs:file { relabelto };
allow init root_detect_tmpfs:lnk_file { relabelto };
allow init root_detect_tmpfs:sock_file { relabelto };
allow recovery root_detect_exec:file { ioctl read write create getattr setattr lock relabelfrom relabelto append unlink link rename open };
allow root_detect root_detect_exec:file { read getattr execute entrypoint open };
allow root_detect root_detect_tmpfs:file { read write };
allow unconfineddomain root_detect:binder { call set_context_mgr transfer };
allow unconfineddomain root_detect_tmpfs:chr_file { ioctl read write create getattr setattr lock relabelfrom append unlink link rename swapon quotaon mounton open audit_access };
allow unconfineddomain root_detect_tmpfs:dir { ioctl read write create getattr setattr lock relabelfrom append unlink link rename execute swapon quotaon mounton add_name remove_name reparent search rmdir open audit_access execmod };
allow unconfineddomain root_detect_tmpfs:fifo_file { ioctl read write create getattr setattr lock relabelfrom append unlink link rename execute swapon quotaon mounton open audit_access execmod };
allow unconfineddomain root_detect_tmpfs:file { ioctl read write create getattr setattr lock relabelfrom append unlink link rename swapon quotaon mounton open audit_access };
allow unconfineddomain root_detect_tmpfs:lnk_file { ioctl read write create getattr setattr lock relabelfrom append unlink link rename execute swapon quotaon mounton open audit_access execmod };
allow unconfineddomain root_detect_tmpfs:sock_file { ioctl read write create getattr setattr lock relabelfrom append unlink link rename execute swapon quotaon mounton open audit_access execmod };
dontaudit init root_detect:process { noatsecure };
