type sdcardd;
type sdcardd_exec;
type sdcardd_tmpfs;
allow debuggerd sdcardd:process { ptrace };
allow dumpstate sdcardd:process { signal };
allow dumpstate sdcardd_exec:file { ioctl read getattr lock open };
allow hawk sdcardd:dir { getattr search };
allow hawk sdcardd:file { read open };
allow init sdcardd:process { transition noatsecure siginh rlimitinh };
allow init sdcardd_exec:file { read getattr execute open };
allow init sdcardd_tmpfs:blk_file { relabelto };
allow init sdcardd_tmpfs:chr_file { relabelto };
allow init sdcardd_tmpfs:dir { relabelto };
allow init sdcardd_tmpfs:fifo_file { relabelto };
allow init sdcardd_tmpfs:file { relabelto };
allow init sdcardd_tmpfs:lnk_file { relabelto };
allow init sdcardd_tmpfs:sock_file { relabelto };
allow recovery sdcardd_exec:file { ioctl read write create getattr setattr lock relabelfrom relabelto append unlink link rename open };
allow sdcardd sdcardd_exec:file { read getattr execute entrypoint open };
allow sdcardd sdcardd_tmpfs:file { read write };
allow shell sdcardd_exec:file { getattr };
allow system_server sdcardd:dir { ioctl read getattr search open };
allow system_server sdcardd:file { ioctl read getattr lock open };
allow system_server sdcardd:lnk_file { ioctl read getattr lock open };
allow unconfineddomain sdcardd:binder { call set_context_mgr transfer };
allow unconfineddomain sdcardd_tmpfs:chr_file { ioctl read write create getattr setattr lock relabelfrom append unlink link rename swapon quotaon mounton open audit_access };
allow unconfineddomain sdcardd_tmpfs:dir { ioctl read write create getattr setattr lock relabelfrom append unlink link rename execute swapon quotaon mounton add_name remove_name reparent search rmdir open audit_access execmod };
allow unconfineddomain sdcardd_tmpfs:fifo_file { ioctl read write create getattr setattr lock relabelfrom append unlink link rename execute swapon quotaon mounton open audit_access execmod };
allow unconfineddomain sdcardd_tmpfs:file { ioctl read write create getattr setattr lock relabelfrom append unlink link rename swapon quotaon mounton open audit_access };
allow unconfineddomain sdcardd_tmpfs:lnk_file { ioctl read write create getattr setattr lock relabelfrom append unlink link rename execute swapon quotaon mounton open audit_access execmod };
allow unconfineddomain sdcardd_tmpfs:sock_file { ioctl read write create getattr setattr lock relabelfrom append unlink link rename execute swapon quotaon mounton open audit_access execmod };
allow untrusted_app sdcardd_exec:file { read getattr execute open };
dontaudit init sdcardd:process { noatsecure };
