type sensor_device;
allow system_server sensor_device:chr_file { ioctl read write create getattr setattr lock append unlink link rename open };
allow unconfineddomain sensor_device:chr_file { ioctl read write create getattr setattr lock relabelfrom append unlink link rename swapon quotaon mounton open audit_access };
allow unconfineddomain sensor_device:file { ioctl read write create getattr setattr lock relabelfrom append unlink link rename swapon quotaon mounton open audit_access };
