type setup_fs;
type setup_fs_exec;
type setup_fs_tmpfs;
allow debuggerd setup_fs:process { ptrace };
allow init setup_fs:process { transition noatsecure siginh rlimitinh };
allow init setup_fs_exec:file { read getattr execute open };
allow init setup_fs_tmpfs:blk_file { relabelto };
allow init setup_fs_tmpfs:chr_file { relabelto };
allow init setup_fs_tmpfs:dir { relabelto };
allow init setup_fs_tmpfs:fifo_file { relabelto };
allow init setup_fs_tmpfs:file { relabelto };
allow init setup_fs_tmpfs:lnk_file { relabelto };
allow init setup_fs_tmpfs:sock_file { relabelto };
allow recovery setup_fs_exec:file { ioctl read write create getattr setattr lock relabelfrom relabelto append unlink link rename open };
allow setup_fs setup_fs_exec:file { read getattr execute entrypoint open };
allow setup_fs setup_fs_tmpfs:file { read write };
allow shell setup_fs_exec:file { getattr };
allow unconfineddomain setup_fs:binder { call set_context_mgr transfer };
allow unconfineddomain setup_fs_tmpfs:chr_file { ioctl read write create getattr setattr lock relabelfrom append unlink link rename swapon quotaon mounton open audit_access };
allow unconfineddomain setup_fs_tmpfs:dir { ioctl read write create getattr setattr lock relabelfrom append unlink link rename execute swapon quotaon mounton add_name remove_name reparent search rmdir open audit_access execmod };
allow unconfineddomain setup_fs_tmpfs:fifo_file { ioctl read write create getattr setattr lock relabelfrom append unlink link rename execute swapon quotaon mounton open audit_access execmod };
allow unconfineddomain setup_fs_tmpfs:file { ioctl read write create getattr setattr lock relabelfrom append unlink link rename swapon quotaon mounton open audit_access };
allow unconfineddomain setup_fs_tmpfs:lnk_file { ioctl read write create getattr setattr lock relabelfrom append unlink link rename execute swapon quotaon mounton open audit_access execmod };
allow unconfineddomain setup_fs_tmpfs:sock_file { ioctl read write create getattr setattr lock relabelfrom append unlink link rename execute swapon quotaon mounton open audit_access execmod };
allow untrusted_app setup_fs_exec:file { read getattr execute open };
dontaudit init setup_fs:process { noatsecure };
