type shell;
type shell_data_file;
type shell_exec;
type shell_prop;
type shell_tmpfs;
allow FMRadiod shell:fd { use };
allow FMRadiod shell:fifo_file { ioctl read write create getattr setattr lock append unlink link rename open };
allow adbd shell:process { transition noatsecure siginh rlimitinh };
allow adbd shell_data_file:dir { ioctl read write create getattr setattr unlink link rename add_name remove_name reparent search rmdir open };
allow adbd shell_data_file:file { ioctl read write create getattr setattr lock append unlink link rename open };
allow adbd shell_exec:file { read getattr execute open };
allow adbd shell_prop:property_service { set };
allow appdomain shell:process { sigchld };
allow appdomain shell_data_file:file { write getattr };
allow appdomain shell_exec:file { ioctl read getattr lock execute execute_no_trans open };
allow binderservicedomain shell_data_file:file { write getattr };
allow bootanim shell_exec:file { getattr execute execute_no_trans };
allow codecIPC_server shell:fd { use };
allow debuggerd shell:process { ptrace };
allow debuggerd shell_data_file:dir { ioctl read write create getattr setattr unlink link rename add_name remove_name reparent search rmdir open };
allow debuggerd shell_data_file:file { ioctl read write create getattr setattr lock append unlink link rename open };
allow dhcp shell_exec:file { ioctl read getattr lock execute execute_no_trans open };
allow dumpstate shell_data_file:dir { ioctl read write create getattr setattr unlink link rename add_name remove_name reparent search rmdir open };
allow dumpstate shell_data_file:file { ioctl read write create getattr setattr lock append unlink link rename open };
allow dumpstate shell_exec:file { ioctl read getattr lock execute execute_no_trans open };
allow eeh shell_exec:file { read execute execute_no_trans open };
allow gpsd shell_exec:file { ioctl read getattr lock execute execute_no_trans open };
allow hawk shell:dir { getattr search };
allow hawk shell:file { read open };
allow hawk shell_exec:file { read execute execute_no_trans open };
allow imsc shell_exec:file { read execute execute_no_trans open };
allow init shell:process { transition noatsecure siginh rlimitinh };
allow init shell_data_file:blk_file { relabelto };
allow init shell_data_file:chr_file { relabelto };
allow init shell_data_file:dir { read create getattr setattr relabelto search open };
allow init shell_data_file:fifo_file { relabelto };
allow init shell_data_file:file { getattr relabelto };
allow init shell_data_file:lnk_file { relabelto };
allow init shell_data_file:sock_file { relabelto };
allow init shell_exec:file { read getattr execute open };
allow init shell_tmpfs:blk_file { relabelto };
allow init shell_tmpfs:chr_file { relabelto };
allow init shell_tmpfs:dir { relabelto };
allow init shell_tmpfs:fifo_file { relabelto };
allow init shell_tmpfs:file { relabelto };
allow init shell_tmpfs:lnk_file { relabelto };
allow init shell_tmpfs:sock_file { relabelto };
allow init_shell shell_exec:file { read getattr execute entrypoint open };
allow install_recovery shell_exec:file { ioctl read getattr lock execute execute_no_trans open };
allow installd shell_data_file:dir { ioctl read write create getattr setattr relabelfrom relabelto unlink link rename add_name remove_name reparent search rmdir open };
allow installd shell_data_file:fifo_file { getattr setattr relabelfrom relabelto unlink rename };
allow installd shell_data_file:file { getattr setattr relabelfrom relabelto unlink rename };
allow installd shell_data_file:lnk_file { create getattr setattr relabelfrom relabelto unlink rename };
allow installd shell_data_file:sock_file { getattr setattr relabelfrom relabelto unlink rename };
allow kinitlog shell_exec:file { read };
allow kmsg shell_exec:file { read };
allow load_g_cali_data shell_exec:file { ioctl read getattr lock open };
allow log_on_boot shell_exec:file { read };
allow marvelltel shell:lnk_file { ioctl read write create getattr setattr lock append unlink link rename open };
allow marvelltel shell_exec:file { read execute execute_no_trans open };
allow marvelltel shell_prop:property_service { set };
allow mlan2040coex shell_exec:file { read execute execute_no_trans open };
allow mlaninit shell_exec:file { read execute execute_no_trans open };
allow mrvl_gpsd shell_exec:file { read execute execute_no_trans open };
allow mwirelessd shell_exec:file { read execute execute_no_trans open };
allow netd shell_exec:file { ioctl read getattr lock execute execute_no_trans open };
allow phservice shell:fd { use };
allow phservice shell:fifo_file { ioctl read write create getattr setattr lock append unlink link rename open };
allow phservice shell_exec:file { read execute execute_no_trans open };
allow platform_app shell_data_file:dir { search };
allow platform_app shell_data_file:file { read getattr open };
allow recovery shell_exec:file { ioctl read write create getattr setattr lock relabelfrom relabelto append unlink link rename open };
allow rild shell_exec:file { ioctl read getattr lock execute execute_no_trans open };
allow run_hawk_on_boot shell_exec:file { read };
allow runas shell:fd { use };
allow runas shell:fifo_file { read write };
allow runas shell:process { sigchld dyntransition };
allow runas shell_data_file:file { read write };
allow shell shell_data_file:dir { ioctl read write create getattr setattr unlink link rename add_name remove_name reparent search rmdir open };
allow shell shell_data_file:file { ioctl read write create getattr setattr lock append unlink link rename execute execute_no_trans open };
allow shell shell_data_file:lnk_file { ioctl read write create getattr setattr lock append unlink link rename open };
allow shell shell_exec:file { ioctl read getattr lock execute execute_no_trans entrypoint open };
allow shell shell_prop:property_service { set };
allow shell shell_tmpfs:file { read write execute };
allow surfaceflinger shell:binder { call transfer };
allow surfaceflinger shell:fd { use };
allow system_app shell_data_file:dir { search };
allow system_server shell_data_file:dir { read getattr search };
allow system_server shell_data_file:file { read write getattr };
allow system_server shell_exec:file { read execute execute_no_trans open };
allow teecsstdca shell_exec:file { read execute execute_no_trans open };
allow touch_updater shell_exec:file { read execute execute_no_trans open };
allow unconfineddomain shell:binder { call set_context_mgr transfer };
allow unconfineddomain shell_tmpfs:chr_file { ioctl read write create getattr setattr lock relabelfrom append unlink link rename swapon quotaon mounton open audit_access };
allow unconfineddomain shell_tmpfs:dir { ioctl read write create getattr setattr lock relabelfrom append unlink link rename execute swapon quotaon mounton add_name remove_name reparent search rmdir open audit_access execmod };
allow unconfineddomain shell_tmpfs:fifo_file { ioctl read write create getattr setattr lock relabelfrom append unlink link rename execute swapon quotaon mounton open audit_access execmod };
allow unconfineddomain shell_tmpfs:file { ioctl read write create getattr setattr lock relabelfrom append unlink link rename swapon quotaon mounton open audit_access };
allow unconfineddomain shell_tmpfs:lnk_file { ioctl read write create getattr setattr lock relabelfrom append unlink link rename execute swapon quotaon mounton open audit_access execmod };
allow unconfineddomain shell_tmpfs:sock_file { ioctl read write create getattr setattr lock relabelfrom append unlink link rename execute swapon quotaon mounton open audit_access execmod };
allow untrusted_app shell_data_file:dir { ioctl read write getattr add_name remove_name search open };
allow untrusted_app shell_data_file:file { ioctl read getattr lock open };
allow vdc shell_data_file:file { write getattr };
allow vold shell_exec:file { ioctl read getattr lock execute execute_no_trans open };
dontaudit adbd shell:process { noatsecure };
dontaudit init shell:process { noatsecure };
