
allow at_router ssipc_device:chr_file { append create getattr ioctl link lock open read rename setattr unlink write };
allow pppmodem ssipc_device:chr_file { append create getattr ioctl link lock open read rename setattr unlink write };
allow system_server ssipc_device:chr_file { append create getattr ioctl link lock open read rename setattr unlink write };
allow unconfineddomain ssipc_device:chr_file { append audit_access create getattr ioctl link lock mounton open quotaon read relabelfrom rename setattr swapon unlink write };
allow unconfineddomain ssipc_device:file { append audit_access create getattr ioctl link lock mounton open quotaon read relabelfrom rename setattr swapon unlink write };
