type su_exec;
allow log_on_boot su_exec:file { read getattr execute execute_no_trans open };
allow marvelltel su_exec:file { read getattr execute execute_no_trans open };
allow mrvl_gpsd su_exec:dir { getattr };
allow mrvl_gpsd su_exec:file { getattr };
allow recovery su_exec:file { ioctl read write create getattr setattr lock relabelfrom relabelto append unlink link rename open };
allow root_detect su_exec:file { getattr };
allow untrusted_app su_exec:file { getattr };
