allow binderservicedomain surfaceflinger:binder { transfer };
allow bootanim surfaceflinger:binder { call transfer };
allow bootanim surfaceflinger:fd { use };
allow surfaceflinger sysfs:file { read write open getattr };
allow surfaceflinger sysfs:dir search;
