allow binderservicedomain surfaceflinger:binder { transfer };
allow bootanim surfaceflinger:binder { call transfer };
allow bootanim surfaceflinger:fd { use };
allow surfaceflinger sysfs:dir search;
allow surfaceflinger sysfs:file { ioctl read write create getattr setattr lock append unlink link rename open };
