allow FMRadiod sysfs:file { append create getattr ioctl link lock open read rename setattr unlink write };
allow bluetooth sysfs_bluetooth_writable:file { append getattr ioctl lock open read write };
allow bootanim sysfs:file { append create getattr ioctl link lock open read rename setattr unlink write };
allow domain sysfs:dir { getattr ioctl open read search };
allow domain sysfs:file { getattr ioctl lock open read };
allow domain sysfs:lnk_file { getattr ioctl lock open read };
allow domain sysfs_devices_system_cpu:dir { getattr ioctl open read search };
allow domain sysfs_devices_system_cpu:file { getattr ioctl lock open read };
allow domain sysfs_devices_system_cpu:lnk_file { getattr ioctl lock open read };
allow dumpstate sysfs:file { append open write };
allow eeh sysfs:file { append create getattr ioctl link lock open read rename setattr unlink write };
allow eeh sysfs_wake_lock:file { append create getattr ioctl link lock open read rename setattr unlink write };
allow gpsd sysfs:file { append getattr ioctl lock open read write };
allow healthd sysfs:file { write };
allow healthd sysfs_wake_lock:file { append getattr ioctl lock open read write };
allow init sysfs_type:dir { relabelto };
allow init sysfs_type:file { relabelto };
allow init sysfs_type:lnk_file { relabelto };
allow kernel sysfs:dir { relabelfrom };
allow kernel sysfs:file { relabelfrom };
allow kernel sysfs:lnk_file { relabelfrom };
allow kernel sysfs_type:dir { relabelto };
allow kernel sysfs_type:file { relabelto };
allow kernel sysfs_type:lnk_file { relabelto };
allow lmkd sysfs:file { append create getattr ioctl link lock open read rename setattr unlink write };
allow lmkd sysfs_lowmemorykiller:file { append open write };
allow load_g_cali_data sysfs:dir { add_name create getattr ioctl link open read remove_name rename reparent rmdir search setattr unlink write };
allow load_g_cali_data sysfs:file { append create getattr ioctl link lock open read rename setattr unlink write };
allow marvelltel sysfs:file { append create getattr ioctl link lock open read rename setattr unlink write };
allow marvelltel sysfs_devices_system_cpu:file { append create getattr ioctl link lock open read rename setattr unlink write };
allow mediaserver sysfs:file { append getattr ioctl lock open read write };
allow mlan2040coex sysfs:file { write };
allow mlaninit sysfs:file { write };
allow mwirelessd sysfs:file { write };
allow netd sysfs:file { write };
allow nfc sysfs:file { write };
allow phservice sysfs:file { append create getattr ioctl link lock open read rename setattr unlink write };
allow phservice sysfs_devices_system_cpu:file { append create getattr ioctl link lock open read rename setattr unlink write };
allow recovery sysfs:file { append create getattr ioctl link lock open read rename setattr unlink write };
allow rild sysfs:file { append create getattr ioctl link lock open read rename setattr unlink write };
allow rild sysfs_wake_lock:file { append getattr ioctl lock open read write };
allow surfaceflinger sysfs:file { append create getattr ioctl link lock open read rename setattr unlink write };
allow sysfs_type sysfs:filesystem { associate };
allow system_server sysfs:dir { add_name create getattr ioctl link open read remove_name rename reparent rmdir search setattr unlink write };
allow system_server sysfs:file { append getattr ioctl lock open read write };
allow system_server sysfs_devices_system_cpu:file { append open write };
allow system_server sysfs_lowmemorykiller:file { append getattr open write };
allow system_server sysfs_wake_lock:file { append getattr ioctl lock open read write };
allow ueventd sysfs:file { append getattr ioctl lock open read write };
allow ueventd sysfs_devices_system_cpu:file { append getattr ioctl lock open read write };
allow ueventd sysfs_type:dir { getattr ioctl open read relabelfrom relabelto search setattr };
allow ueventd sysfs_type:file { getattr relabelfrom relabelto setattr };
allow ueventd sysfs_type:lnk_file { getattr relabelfrom relabelto setattr };
allow unconfineddomain sysfs:chr_file { append audit_access create getattr ioctl link lock mounton open quotaon read relabelfrom rename setattr swapon unlink write };
allow unconfineddomain sysfs:dir { add_name append audit_access create execmod execute getattr ioctl link lock mounton open quotaon read relabelfrom remove_name rename reparent rmdir search setattr swapon unlink write };
allow unconfineddomain sysfs:fifo_file { append audit_access create execmod execute getattr ioctl link lock mounton open quotaon read relabelfrom rename setattr swapon unlink write };
allow unconfineddomain sysfs:file { append audit_access create getattr ioctl link lock mounton open quotaon read relabelfrom rename setattr swapon unlink write };
allow unconfineddomain sysfs:lnk_file { append audit_access create execmod execute getattr ioctl link lock mounton open quotaon read relabelfrom rename setattr swapon unlink write };
allow unconfineddomain sysfs:sock_file { append audit_access create execmod execute getattr ioctl link lock mounton open quotaon read relabelfrom rename setattr swapon unlink write };
allow unconfineddomain sysfs_bluetooth_writable:chr_file { append audit_access create getattr ioctl link lock mounton open quotaon read relabelfrom rename setattr swapon unlink write };
allow unconfineddomain sysfs_bluetooth_writable:dir { add_name append audit_access create execmod execute getattr ioctl link lock mounton open quotaon read relabelfrom remove_name rename reparent rmdir search setattr swapon unlink write };
allow unconfineddomain sysfs_bluetooth_writable:fifo_file { append audit_access create execmod execute getattr ioctl link lock mounton open quotaon read relabelfrom rename setattr swapon unlink write };
allow unconfineddomain sysfs_bluetooth_writable:file { append audit_access create getattr ioctl link lock mounton open quotaon read relabelfrom rename setattr swapon unlink write };
allow unconfineddomain sysfs_bluetooth_writable:lnk_file { append audit_access create execmod execute getattr ioctl link lock mounton open quotaon read relabelfrom rename setattr swapon unlink write };
allow unconfineddomain sysfs_bluetooth_writable:sock_file { append audit_access create execmod execute getattr ioctl link lock mounton open quotaon read relabelfrom rename setattr swapon unlink write };
allow unconfineddomain sysfs_devices_system_cpu:chr_file { append audit_access create getattr ioctl link lock mounton open quotaon read relabelfrom rename setattr swapon unlink write };
allow unconfineddomain sysfs_devices_system_cpu:dir { add_name append audit_access create execmod execute getattr ioctl link lock mounton open quotaon read relabelfrom remove_name rename reparent rmdir search setattr swapon unlink write };
allow unconfineddomain sysfs_devices_system_cpu:fifo_file { append audit_access create execmod execute getattr ioctl link lock mounton open quotaon read relabelfrom rename setattr swapon unlink write };
allow unconfineddomain sysfs_devices_system_cpu:file { append audit_access create getattr ioctl link lock mounton open quotaon read relabelfrom rename setattr swapon unlink write };
allow unconfineddomain sysfs_devices_system_cpu:lnk_file { append audit_access create execmod execute getattr ioctl link lock mounton open quotaon read relabelfrom rename setattr swapon unlink write };
allow unconfineddomain sysfs_devices_system_cpu:sock_file { append audit_access create execmod execute getattr ioctl link lock mounton open quotaon read relabelfrom rename setattr swapon unlink write };
allow unconfineddomain sysfs_lowmemorykiller:chr_file { append audit_access create getattr ioctl link lock mounton open quotaon read relabelfrom rename setattr swapon unlink write };
allow unconfineddomain sysfs_lowmemorykiller:dir { add_name append audit_access create execmod execute getattr ioctl link lock mounton open quotaon read relabelfrom remove_name rename reparent rmdir search setattr swapon unlink write };
allow unconfineddomain sysfs_lowmemorykiller:fifo_file { append audit_access create execmod execute getattr ioctl link lock mounton open quotaon read relabelfrom rename setattr swapon unlink write };
allow unconfineddomain sysfs_lowmemorykiller:file { append audit_access create getattr ioctl link lock mounton open quotaon read relabelfrom rename setattr swapon unlink write };
allow unconfineddomain sysfs_lowmemorykiller:lnk_file { append audit_access create execmod execute getattr ioctl link lock mounton open quotaon read relabelfrom rename setattr swapon unlink write };
allow unconfineddomain sysfs_lowmemorykiller:sock_file { append audit_access create execmod execute getattr ioctl link lock mounton open quotaon read relabelfrom rename setattr swapon unlink write };
allow unconfineddomain sysfs_wake_lock:chr_file { append audit_access create getattr ioctl link lock mounton open quotaon read relabelfrom rename setattr swapon unlink write };
allow unconfineddomain sysfs_wake_lock:dir { add_name append audit_access create execmod execute getattr ioctl link lock mounton open quotaon read relabelfrom remove_name rename reparent rmdir search setattr swapon unlink write };
allow unconfineddomain sysfs_wake_lock:fifo_file { append audit_access create execmod execute getattr ioctl link lock mounton open quotaon read relabelfrom rename setattr swapon unlink write };
allow unconfineddomain sysfs_wake_lock:file { append audit_access create getattr ioctl link lock mounton open quotaon read relabelfrom rename setattr swapon unlink write };
allow unconfineddomain sysfs_wake_lock:lnk_file { append audit_access create execmod execute getattr ioctl link lock mounton open quotaon read relabelfrom rename setattr swapon unlink write };
allow unconfineddomain sysfs_wake_lock:sock_file { append audit_access create execmod execute getattr ioctl link lock mounton open quotaon read relabelfrom rename setattr swapon unlink write };
allow unconfineddomain sysfs_writable:chr_file { append audit_access create getattr ioctl link lock mounton open quotaon read relabelfrom rename setattr swapon unlink write };
allow unconfineddomain sysfs_writable:dir { add_name append audit_access create execmod execute getattr ioctl link lock mounton open quotaon read relabelfrom remove_name rename reparent rmdir search setattr swapon unlink write };
allow unconfineddomain sysfs_writable:fifo_file { append audit_access create execmod execute getattr ioctl link lock mounton open quotaon read relabelfrom rename setattr swapon unlink write };
allow unconfineddomain sysfs_writable:file { append audit_access create getattr ioctl link lock mounton open quotaon read relabelfrom rename setattr swapon unlink write };
allow unconfineddomain sysfs_writable:lnk_file { append audit_access create execmod execute getattr ioctl link lock mounton open quotaon read relabelfrom rename setattr swapon unlink write };
allow unconfineddomain sysfs_writable:sock_file { append audit_access create execmod execute getattr ioctl link lock mounton open quotaon read relabelfrom rename setattr swapon unlink write };
allow untrusted_app sysfs_lowmemorykiller:file { getattr open read };
allow untrusted_app sysfs_wake_lock:file { getattr };
allow vold sysfs:file { append getattr ioctl lock open read write };
allow vold sysfs_wake_lock:file { append getattr ioctl lock open read write };
