attribute sysfs_type;
type sysfs;
type sysfs_bluetooth_writable;
type sysfs_devices_system_cpu;
type sysfs_lowmemorykiller;
type sysfs_wake_lock;
type sysfs_writable;
allow FMRadiod sysfs:file { ioctl read write create getattr setattr lock append unlink link rename open };
allow bluetooth sysfs_bluetooth_writable:file { ioctl read write getattr lock append open };
allow bootanim sysfs:file { ioctl read write create getattr setattr lock append unlink link rename open };
allow domain sysfs:dir { ioctl read getattr search open };
allow domain sysfs:file { ioctl read getattr lock open };
allow domain sysfs:lnk_file { ioctl read getattr lock open };
allow domain sysfs_devices_system_cpu:dir { ioctl read getattr search open };
allow domain sysfs_devices_system_cpu:file { ioctl read getattr lock open };
allow domain sysfs_devices_system_cpu:lnk_file { ioctl read getattr lock open };
allow dumpstate sysfs:file { write append open };
allow eeh sysfs:file { ioctl read write create getattr setattr lock append unlink link rename open };
allow eeh sysfs_wake_lock:file { ioctl read write create getattr setattr lock append unlink link rename open };
allow gpsd sysfs:file { ioctl read write getattr lock append open };
allow healthd sysfs:file { write };
allow healthd sysfs_wake_lock:file { ioctl read write getattr lock append open };
allow init sysfs_type:dir { relabelto };
allow init sysfs_type:file { relabelto };
allow init sysfs_type:lnk_file { relabelto };
allow kernel sysfs:dir { relabelfrom };
allow kernel sysfs:file { relabelfrom };
allow kernel sysfs:lnk_file { relabelfrom };
allow kernel sysfs_type:dir { relabelto };
allow kernel sysfs_type:file { relabelto };
allow kernel sysfs_type:lnk_file { relabelto };
allow lmkd sysfs:file { ioctl read write create getattr setattr lock append unlink link rename open };
allow lmkd sysfs_lowmemorykiller:file { write append open };
allow load_g_cali_data sysfs:dir { ioctl read write create getattr setattr unlink link rename add_name remove_name reparent search rmdir open };
allow load_g_cali_data sysfs:file { ioctl read write create getattr setattr lock append unlink link rename open };
allow marvelltel sysfs:file { ioctl read write create getattr setattr lock append unlink link rename open };
allow marvelltel sysfs_devices_system_cpu:file { ioctl read write create getattr setattr lock append unlink link rename open };
allow mediaserver sysfs:file { ioctl read write getattr lock append open };
allow mlan2040coex sysfs:file { write };
allow mlaninit sysfs:file { write };
allow mwirelessd sysfs:file { write };
allow netd sysfs:file { write };
allow nfc sysfs:file { write };
allow phservice sysfs:file { ioctl read write create getattr setattr lock append unlink link rename open };
allow phservice sysfs_devices_system_cpu:file { ioctl read write create getattr setattr lock append unlink link rename open };
allow recovery sysfs:file { ioctl read write create getattr setattr lock append unlink link rename open };
allow rild sysfs:file { ioctl read write create getattr setattr lock append unlink link rename open };
allow rild sysfs_wake_lock:file { ioctl read write getattr lock append open };
allow surfaceflinger sysfs:file { ioctl read write create getattr setattr lock append unlink link rename open };
allow sysfs_type sysfs:filesystem { associate };
allow system_server sysfs:dir { ioctl read write create getattr setattr unlink link rename add_name remove_name reparent search rmdir open };
allow system_server sysfs:file { ioctl read write getattr lock append open };
allow system_server sysfs_devices_system_cpu:file { write append open };
allow system_server sysfs_lowmemorykiller:file { write getattr append open };
allow system_server sysfs_wake_lock:file { ioctl read write getattr lock append open };
allow ueventd sysfs:file { ioctl read write getattr lock append open };
allow ueventd sysfs_devices_system_cpu:file { ioctl read write getattr lock append open };
allow ueventd sysfs_type:dir { ioctl read getattr setattr relabelfrom relabelto search open };
allow ueventd sysfs_type:file { getattr setattr relabelfrom relabelto };
allow ueventd sysfs_type:lnk_file { getattr setattr relabelfrom relabelto };
allow unconfineddomain sysfs:chr_file { ioctl read write create getattr setattr lock relabelfrom append unlink link rename swapon quotaon mounton open audit_access };
allow unconfineddomain sysfs:dir { ioctl read write create getattr setattr lock relabelfrom append unlink link rename execute swapon quotaon mounton add_name remove_name reparent search rmdir open audit_access execmod };
allow unconfineddomain sysfs:fifo_file { ioctl read write create getattr setattr lock relabelfrom append unlink link rename execute swapon quotaon mounton open audit_access execmod };
allow unconfineddomain sysfs:file { ioctl read write create getattr setattr lock relabelfrom append unlink link rename swapon quotaon mounton open audit_access };
allow unconfineddomain sysfs:lnk_file { ioctl read write create getattr setattr lock relabelfrom append unlink link rename execute swapon quotaon mounton open audit_access execmod };
allow unconfineddomain sysfs:sock_file { ioctl read write create getattr setattr lock relabelfrom append unlink link rename execute swapon quotaon mounton open audit_access execmod };
allow unconfineddomain sysfs_bluetooth_writable:chr_file { ioctl read write create getattr setattr lock relabelfrom append unlink link rename swapon quotaon mounton open audit_access };
allow unconfineddomain sysfs_bluetooth_writable:dir { ioctl read write create getattr setattr lock relabelfrom append unlink link rename execute swapon quotaon mounton add_name remove_name reparent search rmdir open audit_access execmod };
allow unconfineddomain sysfs_bluetooth_writable:fifo_file { ioctl read write create getattr setattr lock relabelfrom append unlink link rename execute swapon quotaon mounton open audit_access execmod };
allow unconfineddomain sysfs_bluetooth_writable:file { ioctl read write create getattr setattr lock relabelfrom append unlink link rename swapon quotaon mounton open audit_access };
allow unconfineddomain sysfs_bluetooth_writable:lnk_file { ioctl read write create getattr setattr lock relabelfrom append unlink link rename execute swapon quotaon mounton open audit_access execmod };
allow unconfineddomain sysfs_bluetooth_writable:sock_file { ioctl read write create getattr setattr lock relabelfrom append unlink link rename execute swapon quotaon mounton open audit_access execmod };
allow unconfineddomain sysfs_devices_system_cpu:chr_file { ioctl read write create getattr setattr lock relabelfrom append unlink link rename swapon quotaon mounton open audit_access };
allow unconfineddomain sysfs_devices_system_cpu:dir { ioctl read write create getattr setattr lock relabelfrom append unlink link rename execute swapon quotaon mounton add_name remove_name reparent search rmdir open audit_access execmod };
allow unconfineddomain sysfs_devices_system_cpu:fifo_file { ioctl read write create getattr setattr lock relabelfrom append unlink link rename execute swapon quotaon mounton open audit_access execmod };
allow unconfineddomain sysfs_devices_system_cpu:file { ioctl read write create getattr setattr lock relabelfrom append unlink link rename swapon quotaon mounton open audit_access };
allow unconfineddomain sysfs_devices_system_cpu:lnk_file { ioctl read write create getattr setattr lock relabelfrom append unlink link rename execute swapon quotaon mounton open audit_access execmod };
allow unconfineddomain sysfs_devices_system_cpu:sock_file { ioctl read write create getattr setattr lock relabelfrom append unlink link rename execute swapon quotaon mounton open audit_access execmod };
allow unconfineddomain sysfs_lowmemorykiller:chr_file { ioctl read write create getattr setattr lock relabelfrom append unlink link rename swapon quotaon mounton open audit_access };
allow unconfineddomain sysfs_lowmemorykiller:dir { ioctl read write create getattr setattr lock relabelfrom append unlink link rename execute swapon quotaon mounton add_name remove_name reparent search rmdir open audit_access execmod };
allow unconfineddomain sysfs_lowmemorykiller:fifo_file { ioctl read write create getattr setattr lock relabelfrom append unlink link rename execute swapon quotaon mounton open audit_access execmod };
allow unconfineddomain sysfs_lowmemorykiller:file { ioctl read write create getattr setattr lock relabelfrom append unlink link rename swapon quotaon mounton open audit_access };
allow unconfineddomain sysfs_lowmemorykiller:lnk_file { ioctl read write create getattr setattr lock relabelfrom append unlink link rename execute swapon quotaon mounton open audit_access execmod };
allow unconfineddomain sysfs_lowmemorykiller:sock_file { ioctl read write create getattr setattr lock relabelfrom append unlink link rename execute swapon quotaon mounton open audit_access execmod };
allow unconfineddomain sysfs_wake_lock:chr_file { ioctl read write create getattr setattr lock relabelfrom append unlink link rename swapon quotaon mounton open audit_access };
allow unconfineddomain sysfs_wake_lock:dir { ioctl read write create getattr setattr lock relabelfrom append unlink link rename execute swapon quotaon mounton add_name remove_name reparent search rmdir open audit_access execmod };
allow unconfineddomain sysfs_wake_lock:fifo_file { ioctl read write create getattr setattr lock relabelfrom append unlink link rename execute swapon quotaon mounton open audit_access execmod };
allow unconfineddomain sysfs_wake_lock:file { ioctl read write create getattr setattr lock relabelfrom append unlink link rename swapon quotaon mounton open audit_access };
allow unconfineddomain sysfs_wake_lock:lnk_file { ioctl read write create getattr setattr lock relabelfrom append unlink link rename execute swapon quotaon mounton open audit_access execmod };
allow unconfineddomain sysfs_wake_lock:sock_file { ioctl read write create getattr setattr lock relabelfrom append unlink link rename execute swapon quotaon mounton open audit_access execmod };
allow unconfineddomain sysfs_writable:chr_file { ioctl read write create getattr setattr lock relabelfrom append unlink link rename swapon quotaon mounton open audit_access };
allow unconfineddomain sysfs_writable:dir { ioctl read write create getattr setattr lock relabelfrom append unlink link rename execute swapon quotaon mounton add_name remove_name reparent search rmdir open audit_access execmod };
allow unconfineddomain sysfs_writable:fifo_file { ioctl read write create getattr setattr lock relabelfrom append unlink link rename execute swapon quotaon mounton open audit_access execmod };
allow unconfineddomain sysfs_writable:file { ioctl read write create getattr setattr lock relabelfrom append unlink link rename swapon quotaon mounton open audit_access };
allow unconfineddomain sysfs_writable:lnk_file { ioctl read write create getattr setattr lock relabelfrom append unlink link rename execute swapon quotaon mounton open audit_access execmod };
allow unconfineddomain sysfs_writable:sock_file { ioctl read write create getattr setattr lock relabelfrom append unlink link rename execute swapon quotaon mounton open audit_access execmod };
allow untrusted_app sysfs_lowmemorykiller:file { read getattr open };
allow untrusted_app sysfs_wake_lock:file { getattr };
allow vold sysfs:file { ioctl read write getattr lock append open };
allow vold sysfs_wake_lock:file { ioctl read write getattr lock append open };
