type system_block_device;
type system_data_file;
type system_file;
type system_ndebug_socket;
type system_wpa_socket;
allow FMRadiod system_data_file:file { ioctl read write create getattr setattr lock append unlink link rename open };
allow adbd system_data_file:file { ioctl read write create getattr setattr lock append unlink link rename open };
allow adbd system_file:file { ioctl read getattr lock execute execute_no_trans open };
allow appdomain system_data_file:dir { ioctl read getattr search open };
allow appdomain system_data_file:file { execute execute_no_trans execmod open };
allow appdomain system_data_file:lnk_file { getattr };
allow appdomain system_file:file { ioctl read getattr lock execute execute_no_trans open };
allow bootanim system_file:file { execute_no_trans };
allow codecIPC_server system_data_file:file { ioctl read write create getattr setattr lock append unlink link rename open };
allow debuggerd system_data_file:dir { ioctl read write create getattr setattr relabelfrom unlink link rename add_name remove_name reparent search rmdir open };
allow debuggerd system_data_file:file { open };
allow debuggerd system_ndebug_socket:sock_file { write };
allow dhcp system_file:file { ioctl read getattr lock execute execute_no_trans open };
allow diag system_data_file:dir { ioctl read write create getattr setattr unlink link rename add_name remove_name reparent search rmdir open };
allow diag system_data_file:file { ioctl read write create getattr setattr lock append unlink link rename open };
allow domain system_data_file:dir { getattr search };
allow domain system_data_file:file { read getattr };
allow domain system_data_file:lnk_file { ioctl read getattr lock open };
allow domain system_file:dir { ioctl read getattr search open };
allow domain system_file:file { ioctl read getattr lock execute open };
allow domain system_file:lnk_file { ioctl read getattr lock open };
allow drmserver system_data_file:file { ioctl read write create getattr setattr lock append unlink link rename open };
allow dumpstate system_data_file:dir { ioctl read write create getattr setattr relabelfrom unlink link rename add_name remove_name reparent search rmdir open };
allow dumpstate system_data_file:file { ioctl read write create getattr setattr lock append unlink link rename open };
allow dumpstate system_file:file { execute_no_trans };
allow eeh system_data_file:dir { ioctl read write create getattr setattr unlink link rename add_name remove_name reparent search rmdir open };
allow eeh system_data_file:file { ioctl read write create getattr setattr lock append unlink link rename open };
allow eeh system_file:file { execute_no_trans };
allow gpsd system_file:file { ioctl read getattr lock execute execute_no_trans open };
allow hawk system_file:file { execute_no_trans };
allow healthd system_data_file:file { ioctl read write create getattr setattr lock append unlink link rename open };
allow iml system_data_file:dir { ioctl read write create getattr setattr unlink link rename add_name remove_name reparent search rmdir open };
allow iml system_data_file:file { ioctl read write create getattr setattr lock append unlink link rename open };
allow init system_data_file:blk_file { relabelto };
allow init system_data_file:chr_file { relabelto };
allow init system_data_file:dir { relabelto };
allow init system_data_file:fifo_file { relabelto };
allow init system_data_file:file { relabelto };
allow init system_data_file:lnk_file { relabelto };
allow init system_data_file:sock_file { relabelto };
allow init system_file:file { execute_no_trans };
allow init system_ndebug_socket:blk_file { relabelto };
allow init system_ndebug_socket:chr_file { relabelto };
allow init system_ndebug_socket:dir { relabelto };
allow init system_ndebug_socket:fifo_file { relabelto };
allow init system_ndebug_socket:file { relabelto };
allow init system_ndebug_socket:lnk_file { relabelto };
allow init system_ndebug_socket:sock_file { relabelto };
allow init system_wpa_socket:blk_file { relabelto };
allow init system_wpa_socket:chr_file { relabelto };
allow init system_wpa_socket:dir { relabelto };
allow init system_wpa_socket:fifo_file { relabelto };
allow init system_wpa_socket:file { relabelto };
allow init system_wpa_socket:lnk_file { relabelto };
allow init system_wpa_socket:sock_file { relabelto };
allow init_shell system_file:file { execute_no_trans };
allow install_recovery system_file:file { ioctl read getattr lock execute execute_no_trans open };
allow installd system_data_file:dir { ioctl read write create getattr setattr relabelfrom unlink link rename add_name remove_name reparent search rmdir open };
allow installd system_data_file:fifo_file { getattr relabelfrom unlink };
allow installd system_data_file:file { getattr relabelfrom unlink };
allow installd system_data_file:lnk_file { create getattr setattr relabelfrom unlink };
allow installd system_data_file:sock_file { getattr relabelfrom unlink };
allow installd system_file:file { getattr execute execute_no_trans };
allow keystore system_data_file:file { ioctl read write create getattr setattr lock append unlink link rename open };
allow kinitlog system_data_file:dir { ioctl read write create getattr setattr unlink link rename add_name remove_name reparent search rmdir open };
allow kinitlog system_data_file:file { ioctl read write create getattr setattr lock append unlink link rename open };
allow kinitlog system_file:file { execute_no_trans };
allow kmsg system_file:file { execute_no_trans };
allow log_on_boot system_data_file:dir { write add_name remove_name };
allow log_on_boot system_data_file:file { write create append rename open };
allow log_on_boot system_file:file { execute_no_trans };
allow marvelltel system_data_file:dir { ioctl read write create getattr setattr unlink link rename mounton add_name remove_name reparent search rmdir open };
allow marvelltel system_data_file:file { ioctl read write create getattr setattr lock append unlink link rename open };
allow marvelltel system_file:file { execute_no_trans };
allow mediaserver system_data_file:dir { ioctl read write create getattr setattr unlink link rename add_name remove_name reparent search rmdir open };
allow mediaserver system_data_file:file { ioctl read write create getattr setattr lock append unlink link rename open };
allow mediaserver system_file:file { execmod };
allow memsicp system_data_file:file { ioctl read write create getattr setattr lock append unlink link rename open };
allow mlan2040coex system_data_file:dir { ioctl read write create getattr setattr unlink link rename add_name remove_name reparent search rmdir open };
allow mlan2040coex system_data_file:file { ioctl read write create getattr setattr lock append unlink link rename open };
allow mlan2040coex system_data_file:sock_file { ioctl read write create getattr setattr lock append unlink link rename open };
allow mlan2040coex system_file:file { execute_no_trans };
allow mlaninit system_data_file:dir { ioctl read write create getattr setattr unlink link rename add_name remove_name reparent search rmdir open };
allow mlaninit system_data_file:file { ioctl read write create getattr setattr lock append unlink link rename open };
allow mlaninit system_data_file:sock_file { ioctl read write create getattr setattr lock append unlink link rename open };
allow mlaninit system_file:file { execute_no_trans };
allow mned system_data_file:dir { ioctl read write create getattr setattr unlink link rename add_name remove_name reparent search rmdir open };
allow mned system_data_file:sock_file { ioctl read write create getattr setattr lock append unlink link rename open };
allow mrvl_gpsd system_data_file:dir { ioctl read write create getattr setattr unlink link rename add_name remove_name reparent search rmdir open };
allow mrvl_gpsd system_data_file:file { ioctl read write create getattr setattr lock append unlink link rename open };
allow mrvl_gpsd system_data_file:sock_file { ioctl read write create getattr setattr lock append unlink link rename open };
allow mrvl_gpsd system_file:file { execute_no_trans };
allow mwirelessd system_data_file:dir { ioctl read write create getattr setattr unlink link rename add_name remove_name reparent search rmdir open };
allow mwirelessd system_data_file:file { ioctl read write create getattr setattr lock append unlink link rename open };
allow mwirelessd system_data_file:sock_file { ioctl read write create getattr setattr lock append unlink link rename open };
allow mwirelessd system_file:file { execute_no_trans };
allow netd system_file:file { getattr execute execute_no_trans };
allow phservice system_data_file:file { ioctl read write create getattr setattr lock append unlink link rename open };
allow ppp system_file:file { ioctl read getattr lock execute execute_no_trans open };
allow racoon system_file:file { ioctl read getattr lock execute execute_no_trans open };
allow recovery system_block_device:blk_file { ioctl read write create getattr setattr lock append unlink link rename open };
allow recovery system_block_device:dir { ioctl read write create getattr setattr unlink link rename add_name remove_name reparent search rmdir open };
allow recovery system_data_file:dir { ioctl read write create getattr setattr unlink link rename add_name remove_name reparent search rmdir open };
allow recovery system_data_file:file { ioctl read write create getattr setattr lock append unlink link rename open };
allow recovery system_file:dir { ioctl read write create getattr setattr relabelfrom relabelto unlink link rename add_name remove_name reparent search rmdir open };
allow recovery system_file:file { ioctl read write create getattr setattr lock relabelfrom relabelto append unlink link rename open };
allow recovery system_file:lnk_file { ioctl read write create getattr setattr lock relabelfrom relabelto append unlink link rename open };
allow rild system_data_file:dir { ioctl read getattr search open };
allow rild system_data_file:file { ioctl read getattr lock open };
allow rild system_file:file { getattr execute execute_no_trans };
allow root_detect system_data_file:dir { ioctl read write create getattr setattr unlink link rename add_name remove_name reparent search rmdir open };
allow root_detect system_data_file:file { ioctl read write create getattr setattr lock append unlink link rename open };
allow run_hawk_on_boot system_file:file { execute_no_trans };
allow runas system_data_file:file { ioctl read getattr lock open };
allow sdcardd system_data_file:dir { ioctl read write create getattr setattr unlink link rename add_name remove_name reparent search rmdir open };
allow sdcardd system_data_file:file { ioctl read getattr lock open };
allow setup_fs system_file:file { execute_no_trans };
allow shell system_block_device:blk_file { getattr };
allow shell system_file:file { getattr execute execute_no_trans };
allow surfaceflinger system_data_file:file { ioctl read write create getattr setattr lock append unlink link rename open };
allow system_app system_data_file:dir { ioctl read write create getattr setattr unlink link rename add_name remove_name reparent search rmdir open };
allow system_app system_data_file:file { ioctl read write create getattr setattr lock append unlink link rename open };
allow system_server system_data_file:dir { ioctl read write create getattr setattr relabelfrom unlink link rename add_name remove_name reparent search rmdir open };
allow system_server system_data_file:fifo_file { ioctl read write create getattr setattr lock append unlink link rename open };
allow system_server system_data_file:file { ioctl read write create getattr setattr lock relabelfrom append unlink link rename open };
allow system_server system_data_file:lnk_file { ioctl read write create getattr setattr lock append unlink link rename open };
allow system_server system_data_file:sock_file { ioctl read write create getattr setattr lock append unlink link rename open };
allow system_server system_file:file { getattr execute execute_no_trans };
allow system_server system_ndebug_socket:sock_file { ioctl read write create getattr setattr lock append unlink link rename open };
allow system_server system_wpa_socket:sock_file { ioctl read write create getattr setattr lock append unlink link rename open };
allow touch_updater system_file:file { execute_no_trans };
allow ueventd system_data_file:file { ioctl read write create getattr setattr lock append unlink link rename open };
allow unconfineddomain system_block_device:chr_file { ioctl read write create getattr setattr lock relabelfrom append unlink link rename swapon quotaon mounton open audit_access };
allow unconfineddomain system_block_device:file { ioctl read write create getattr setattr lock relabelfrom append unlink link rename swapon quotaon mounton open audit_access };
allow unconfineddomain system_data_file:chr_file { ioctl read write create getattr setattr lock relabelfrom append unlink link rename swapon quotaon mounton open audit_access };
allow unconfineddomain system_data_file:dir { ioctl read write create getattr setattr lock relabelfrom append unlink link rename execute swapon quotaon mounton add_name remove_name reparent search rmdir open audit_access execmod };
allow unconfineddomain system_data_file:fifo_file { ioctl read write create getattr setattr lock relabelfrom append unlink link rename execute swapon quotaon mounton open audit_access execmod };
allow unconfineddomain system_data_file:file { ioctl read write create getattr setattr lock relabelfrom append unlink link rename swapon quotaon mounton open audit_access };
allow unconfineddomain system_data_file:lnk_file { ioctl read write create getattr setattr lock relabelfrom append unlink link rename execute swapon quotaon mounton open audit_access execmod };
allow unconfineddomain system_data_file:sock_file { ioctl read write create getattr setattr lock relabelfrom append unlink link rename execute swapon quotaon mounton open audit_access execmod };
allow unconfineddomain system_file:dir { ioctl read getattr search open };
allow unconfineddomain system_file:file { ioctl read getattr lock execute open };
allow unconfineddomain system_file:lnk_file { ioctl read getattr lock open };
allow unconfineddomain system_ndebug_socket:chr_file { ioctl read write create getattr setattr lock relabelfrom append unlink link rename swapon quotaon mounton open audit_access };
allow unconfineddomain system_ndebug_socket:dir { ioctl read write create getattr setattr lock relabelfrom append unlink link rename execute swapon quotaon mounton add_name remove_name reparent search rmdir open audit_access execmod };
allow unconfineddomain system_ndebug_socket:fifo_file { ioctl read write create getattr setattr lock relabelfrom append unlink link rename execute swapon quotaon mounton open audit_access execmod };
allow unconfineddomain system_ndebug_socket:file { ioctl read write create getattr setattr lock relabelfrom append unlink link rename swapon quotaon mounton open audit_access };
allow unconfineddomain system_ndebug_socket:lnk_file { ioctl read write create getattr setattr lock relabelfrom append unlink link rename execute swapon quotaon mounton open audit_access execmod };
allow unconfineddomain system_ndebug_socket:sock_file { ioctl read write create getattr setattr lock relabelfrom append unlink link rename execute swapon quotaon mounton open audit_access execmod };
allow unconfineddomain system_wpa_socket:chr_file { ioctl read write create getattr setattr lock relabelfrom append unlink link rename swapon quotaon mounton open audit_access };
allow unconfineddomain system_wpa_socket:dir { ioctl read write create getattr setattr lock relabelfrom append unlink link rename execute swapon quotaon mounton add_name remove_name reparent search rmdir open audit_access execmod };
allow unconfineddomain system_wpa_socket:fifo_file { ioctl read write create getattr setattr lock relabelfrom append unlink link rename execute swapon quotaon mounton open audit_access execmod };
allow unconfineddomain system_wpa_socket:file { ioctl read write create getattr setattr lock relabelfrom append unlink link rename swapon quotaon mounton open audit_access };
allow unconfineddomain system_wpa_socket:lnk_file { ioctl read write create getattr setattr lock relabelfrom append unlink link rename execute swapon quotaon mounton open audit_access execmod };
allow unconfineddomain system_wpa_socket:sock_file { ioctl read write create getattr setattr lock relabelfrom append unlink link rename execute swapon quotaon mounton open audit_access execmod };
allow untrusted_app system_block_device:blk_file { getattr };
allow vdc system_data_file:file { ioctl read write create getattr setattr lock append unlink link rename open };
allow vold system_data_file:dir { ioctl read write create getattr mounton add_name remove_name search open };
allow vold system_file:file { getattr execute execute_no_trans };
allow wpa system_wpa_socket:sock_file { write };
allow zygote system_data_file:dir { ioctl read getattr search open };
allow zygote system_data_file:file { ioctl read getattr lock open };
allow zygote system_file:file { getattr execute execute_no_trans execmod };
auditallow system_app system_data_file:dir { create setattr rename add_name remove_name rmdir };
auditallow system_app system_data_file:file { write create setattr append unlink link rename };
