allow appdomain system_server:binder { transfer };
allow appdomain system_server:fifo_file { append getattr ioctl lock open read write };
allow appdomain system_server:unix_stream_socket { getattr getopt read setopt shutdown write };
allow binderservicedomain system_server:binder { transfer };
allow debuggerd system_server:process { ptrace };
allow debuggerd system_server:unix_stream_socket { connectto };
allow domain system_server:fd { use };
allow drmserver system_server:fd { use };
allow dumpstate system_server:binder { transfer };
allow dumpstate system_server:process { signal };
allow hawk system_server:dir { getattr search };
allow hawk system_server:file { open read };
allow healthd system_server:fd { use };
allow init system_server:process { noatsecure };
allow init system_server_tmpfs:blk_file { relabelto };
allow init system_server_tmpfs:chr_file { relabelto };
allow init system_server_tmpfs:dir { relabelto };
allow init system_server_tmpfs:fifo_file { relabelto };
allow init system_server_tmpfs:file { relabelto };
allow init system_server_tmpfs:lnk_file { relabelto };
allow init system_server_tmpfs:sock_file { relabelto };
allow inputflinger system_server:fd { use };
allow lmkd system_server:dir { getattr ioctl open read search };
allow lmkd system_server:file { getattr ioctl lock open read write };
allow lmkd system_server:lnk_file { getattr ioctl lock open read };
allow marvelltel system_server:dir { append create getattr ioctl link lock open read rename setattr unlink write };
allow mediaserver system_server:fifo_file { getattr ioctl lock open read };
allow mrvl_gpsd system_server:unix_dgram_socket { accept append bind connect create getattr getopt ioctl listen lock name_bind read recv_msg recvfrom send_msg sendto setattr setopt shutdown write };
allow phservice system_server:binder { call };
allow platform_app system_server:unix_stream_socket { accept acceptfrom append bind connect connectto create getattr getopt ioctl listen lock name_bind newconn read recv_msg recvfrom send_msg sendto setattr setopt shutdown write };
allow servicemanager system_server:dir { search };
allow servicemanager system_server:process { getattr };
allow system_server system_server_tmpfs:file { execute read write };
allow unconfineddomain system_server:binder { call set_context_mgr transfer };
allow unconfineddomain system_server_tmpfs:chr_file { append audit_access create getattr ioctl link lock mounton open quotaon read relabelfrom rename setattr swapon unlink write };
allow unconfineddomain system_server_tmpfs:dir { add_name append audit_access create execmod execute getattr ioctl link lock mounton open quotaon read relabelfrom remove_name rename reparent rmdir search setattr swapon unlink write };
allow unconfineddomain system_server_tmpfs:fifo_file { append audit_access create execmod execute getattr ioctl link lock mounton open quotaon read relabelfrom rename setattr swapon unlink write };
allow unconfineddomain system_server_tmpfs:file { append audit_access create getattr ioctl link lock mounton open quotaon read relabelfrom rename setattr swapon unlink write };
allow unconfineddomain system_server_tmpfs:lnk_file { append audit_access create execmod execute getattr ioctl link lock mounton open quotaon read relabelfrom rename setattr swapon unlink write };
allow unconfineddomain system_server_tmpfs:sock_file { append audit_access create execmod execute getattr ioctl link lock mounton open quotaon read relabelfrom rename setattr swapon unlink write };
allow wpa system_server:unix_dgram_socket { sendto };
allow zygote system_server:process { dyntransition getpgid setpgid };
