
allow debuggerd system_app:process { ptrace };
allow imsc system_app_data_file:dir { add_name create getattr ioctl link open read remove_name rename reparent rmdir search setattr unlink write };
allow imsc system_app_data_file:file { append create getattr ioctl link lock open read rename setattr unlink write };
allow init system_app:process { noatsecure };
allow init system_app_data_file:blk_file { relabelto };
allow init system_app_data_file:chr_file { relabelto };
allow init system_app_data_file:dir { relabelto };
allow init system_app_data_file:fifo_file { relabelto };
allow init system_app_data_file:file { relabelto };
allow init system_app_data_file:lnk_file { relabelto };
allow init system_app_data_file:sock_file { relabelto };
allow init system_app_tmpfs:blk_file { relabelto };
allow init system_app_tmpfs:chr_file { relabelto };
allow init system_app_tmpfs:dir { relabelto };
allow init system_app_tmpfs:fifo_file { relabelto };
allow init system_app_tmpfs:file { relabelto };
allow init system_app_tmpfs:lnk_file { relabelto };
allow init system_app_tmpfs:sock_file { relabelto };
allow installd system_app_data_file:dir { add_name create getattr ioctl link open read relabelfrom relabelto remove_name rename reparent rmdir search setattr unlink write };
allow installd system_app_data_file:fifo_file { getattr relabelfrom relabelto rename setattr unlink };
allow installd system_app_data_file:file { getattr relabelfrom relabelto rename setattr unlink };
allow installd system_app_data_file:lnk_file { create getattr relabelfrom relabelto rename setattr unlink };
allow installd system_app_data_file:sock_file { getattr relabelfrom relabelto rename setattr unlink };
allow shell system_app_device:chr_file { getattr };
allow system_app system_app_data_file:dir { add_name create getattr ioctl link open read remove_name rename reparent rmdir search setattr unlink write };
allow system_app system_app_data_file:file { append create getattr ioctl link lock open read rename setattr unlink write };
allow system_app system_app_data_file:lnk_file { append create getattr ioctl link lock open read rename setattr unlink write };
allow system_app system_app_device:chr_file { append create getattr ioctl link lock open read rename setattr unlink write };
allow system_app system_app_service:service_manager { add };
allow system_app system_app_tmpfs:file { execute read write };
allow system_server system_app_data_file:dir { add_name create getattr ioctl link open read remove_name rename reparent rmdir search setattr unlink write };
allow system_server system_app_data_file:file { append create getattr ioctl link lock open read rename setattr unlink write };
allow unconfineddomain system_app:binder { call set_context_mgr transfer };
allow unconfineddomain system_app_data_file:chr_file { append audit_access create getattr ioctl link lock mounton open quotaon read relabelfrom rename setattr swapon unlink write };
allow unconfineddomain system_app_data_file:dir { add_name append audit_access create execmod execute getattr ioctl link lock mounton open quotaon read relabelfrom remove_name rename reparent rmdir search setattr swapon unlink write };
allow unconfineddomain system_app_data_file:fifo_file { append audit_access create execmod execute getattr ioctl link lock mounton open quotaon read relabelfrom rename setattr swapon unlink write };
allow unconfineddomain system_app_data_file:file { append audit_access create getattr ioctl link lock mounton open quotaon read relabelfrom rename setattr swapon unlink write };
allow unconfineddomain system_app_data_file:lnk_file { append audit_access create execmod execute getattr ioctl link lock mounton open quotaon read relabelfrom rename setattr swapon unlink write };
allow unconfineddomain system_app_data_file:sock_file { append audit_access create execmod execute getattr ioctl link lock mounton open quotaon read relabelfrom rename setattr swapon unlink write };
allow unconfineddomain system_app_device:chr_file { append audit_access create getattr ioctl link lock mounton open quotaon read relabelfrom rename setattr swapon unlink write };
allow unconfineddomain system_app_device:file { append audit_access create getattr ioctl link lock mounton open quotaon read relabelfrom rename setattr swapon unlink write };
allow unconfineddomain system_app_tmpfs:chr_file { append audit_access create getattr ioctl link lock mounton open quotaon read relabelfrom rename setattr swapon unlink write };
allow unconfineddomain system_app_tmpfs:dir { add_name append audit_access create execmod execute getattr ioctl link lock mounton open quotaon read relabelfrom remove_name rename reparent rmdir search setattr swapon unlink write };
allow unconfineddomain system_app_tmpfs:fifo_file { append audit_access create execmod execute getattr ioctl link lock mounton open quotaon read relabelfrom rename setattr swapon unlink write };
allow unconfineddomain system_app_tmpfs:file { append audit_access create getattr ioctl link lock mounton open quotaon read relabelfrom rename setattr swapon unlink write };
allow unconfineddomain system_app_tmpfs:lnk_file { append audit_access create execmod execute getattr ioctl link lock mounton open quotaon read relabelfrom rename setattr swapon unlink write };
allow unconfineddomain system_app_tmpfs:sock_file { append audit_access create execmod execute getattr ioctl link lock mounton open quotaon read relabelfrom rename setattr swapon unlink write };
allow untrusted_app system_app_data_file:dir { getattr search };
allow untrusted_app system_app_device:chr_file { getattr read };
