type teecsstdca;
type teecsstdca_device;
type teecsstdca_exec;
type teecsstdca_tmpfs;
allow atcmdsrv teecsstdca_device:chr_file { ioctl read write create getattr setattr lock append unlink link rename open };
allow debuggerd teecsstdca:process { ptrace };
allow diag teecsstdca_device:chr_file { ioctl read write create getattr setattr lock append unlink link rename open };
allow drmserver teecsstdca_device:chr_file { ioctl read write create getattr setattr lock append unlink link rename open };
allow eeh teecsstdca_device:chr_file { ioctl read write open };
allow hawk teecsstdca:dir { getattr search };
allow hawk teecsstdca:file { read open };
allow init teecsstdca:process { transition noatsecure siginh rlimitinh };
allow init teecsstdca_exec:file { read getattr execute open };
allow init teecsstdca_tmpfs:blk_file { relabelto };
allow init teecsstdca_tmpfs:chr_file { relabelto };
allow init teecsstdca_tmpfs:dir { relabelto };
allow init teecsstdca_tmpfs:fifo_file { relabelto };
allow init teecsstdca_tmpfs:file { relabelto };
allow init teecsstdca_tmpfs:lnk_file { relabelto };
allow init teecsstdca_tmpfs:sock_file { relabelto };
allow keystore teecsstdca_device:chr_file { ioctl read write getattr lock append open };
allow marvelltel teecsstdca:dir { ioctl read write create getattr setattr unlink link rename add_name remove_name reparent search rmdir open };
allow marvelltel teecsstdca:file { ioctl read write create getattr setattr lock append unlink link rename open };
allow marvelltel teecsstdca:lnk_file { ioctl read write create getattr setattr lock append unlink link rename open };
allow marvelltel teecsstdca_device:chr_file { ioctl read write create getattr setattr lock append unlink link rename open };
allow recovery teecsstdca_exec:file { ioctl read write create getattr setattr lock relabelfrom relabelto append unlink link rename open };
allow shell teecsstdca_device:chr_file { getattr };
allow shell teecsstdca_exec:file { getattr };
allow teecsstdca teecsstdca_device:chr_file { ioctl read write create getattr setattr lock append unlink link rename open };
allow teecsstdca teecsstdca_exec:file { read getattr execute entrypoint open };
allow teecsstdca teecsstdca_tmpfs:file { read write };
allow unconfineddomain teecsstdca:binder { call set_context_mgr transfer };
allow unconfineddomain teecsstdca_device:chr_file { ioctl read write create getattr setattr lock relabelfrom append unlink link rename swapon quotaon mounton open audit_access };
allow unconfineddomain teecsstdca_device:file { ioctl read write create getattr setattr lock relabelfrom append unlink link rename swapon quotaon mounton open audit_access };
allow unconfineddomain teecsstdca_tmpfs:chr_file { ioctl read write create getattr setattr lock relabelfrom append unlink link rename swapon quotaon mounton open audit_access };
allow unconfineddomain teecsstdca_tmpfs:dir { ioctl read write create getattr setattr lock relabelfrom append unlink link rename execute swapon quotaon mounton add_name remove_name reparent search rmdir open audit_access execmod };
allow unconfineddomain teecsstdca_tmpfs:fifo_file { ioctl read write create getattr setattr lock relabelfrom append unlink link rename execute swapon quotaon mounton open audit_access execmod };
allow unconfineddomain teecsstdca_tmpfs:file { ioctl read write create getattr setattr lock relabelfrom append unlink link rename swapon quotaon mounton open audit_access };
allow unconfineddomain teecsstdca_tmpfs:lnk_file { ioctl read write create getattr setattr lock relabelfrom append unlink link rename execute swapon quotaon mounton open audit_access execmod };
allow unconfineddomain teecsstdca_tmpfs:sock_file { ioctl read write create getattr setattr lock relabelfrom append unlink link rename execute swapon quotaon mounton open audit_access execmod };
allow untrusted_app teecsstdca_device:chr_file { getattr };
allow untrusted_app teecsstdca_exec:file { read getattr execute open };
dontaudit init teecsstdca:process { noatsecure };
