type touch_updater;
type touch_updater_exec;
type touch_updater_tmpfs;
allow debuggerd touch_updater:process { ptrace };
allow hawk touch_updater:dir { getattr search };
allow hawk touch_updater:file { read open };
allow init touch_updater:file { getattr execute execute_no_trans };
allow init touch_updater:process { transition noatsecure siginh rlimitinh };
allow init touch_updater_exec:file { read getattr execute open };
allow init touch_updater_tmpfs:blk_file { relabelto };
allow init touch_updater_tmpfs:chr_file { relabelto };
allow init touch_updater_tmpfs:dir { relabelto };
allow init touch_updater_tmpfs:fifo_file { relabelto };
allow init touch_updater_tmpfs:file { relabelto };
allow init touch_updater_tmpfs:lnk_file { relabelto };
allow init touch_updater_tmpfs:sock_file { relabelto };
allow recovery touch_updater_exec:file { ioctl read write create getattr setattr lock relabelfrom relabelto append unlink link rename open };
allow touch_updater touch_updater_exec:file { read getattr execute entrypoint open };
allow touch_updater touch_updater_tmpfs:file { read write };
allow unconfineddomain touch_updater:binder { call set_context_mgr transfer };
allow unconfineddomain touch_updater_tmpfs:chr_file { ioctl read write create getattr setattr lock relabelfrom append unlink link rename swapon quotaon mounton open audit_access };
allow unconfineddomain touch_updater_tmpfs:dir { ioctl read write create getattr setattr lock relabelfrom append unlink link rename execute swapon quotaon mounton add_name remove_name reparent search rmdir open audit_access execmod };
allow unconfineddomain touch_updater_tmpfs:fifo_file { ioctl read write create getattr setattr lock relabelfrom append unlink link rename execute swapon quotaon mounton open audit_access execmod };
allow unconfineddomain touch_updater_tmpfs:file { ioctl read write create getattr setattr lock relabelfrom append unlink link rename swapon quotaon mounton open audit_access };
allow unconfineddomain touch_updater_tmpfs:lnk_file { ioctl read write create getattr setattr lock relabelfrom append unlink link rename execute swapon quotaon mounton open audit_access execmod };
allow unconfineddomain touch_updater_tmpfs:sock_file { ioctl read write create getattr setattr lock relabelfrom append unlink link rename execute swapon quotaon mounton open audit_access execmod };
allow untrusted_app touch_updater_exec:file { read getattr execute open };
dontaudit init touch_updater:process { noatsecure };
