type ts_device;

allow system_app ts_device:chr_file { append getattr ioctl lock open read write };
allow unconfineddomain ts_device:chr_file { append audit_access create getattr ioctl link lock mounton open quotaon read relabelfrom rename setattr swapon unlink write };
allow unconfineddomain ts_device:file { append audit_access create getattr ioctl link lock mounton open quotaon read relabelfrom rename setattr swapon unlink write };
