type untrusted_app;
type untrusted_app_devpts;
type untrusted_app_tmpfs;
allow FMRadiod untrusted_app:fd { use };
allow debuggerd untrusted_app:process { ptrace };
allow hawk untrusted_app:dir { getattr search };
allow hawk untrusted_app:file { read open };
allow init untrusted_app:process { noatsecure };
allow init untrusted_app_tmpfs:blk_file { relabelto };
allow init untrusted_app_tmpfs:chr_file { relabelto };
allow init untrusted_app_tmpfs:dir { relabelto };
allow init untrusted_app_tmpfs:fifo_file { relabelto };
allow init untrusted_app_tmpfs:file { relabelto };
allow init untrusted_app_tmpfs:lnk_file { relabelto };
allow init untrusted_app_tmpfs:sock_file { relabelto };
allow phservice untrusted_app:fd { use };
allow runas untrusted_app:process { dyntransition };
allow surfaceflinger untrusted_app_tmpfs:file { write };
allow unconfineddomain untrusted_app:binder { call set_context_mgr transfer };
allow unconfineddomain untrusted_app_devpts:chr_file { ioctl read write create getattr setattr lock relabelfrom append unlink link rename swapon quotaon mounton open audit_access };
allow unconfineddomain untrusted_app_devpts:dir { ioctl read write create getattr setattr lock relabelfrom append unlink link rename execute swapon quotaon mounton add_name remove_name reparent search rmdir open audit_access execmod };
allow unconfineddomain untrusted_app_devpts:fifo_file { ioctl read write create getattr setattr lock relabelfrom append unlink link rename execute swapon quotaon mounton open audit_access execmod };
allow unconfineddomain untrusted_app_devpts:file { ioctl read write create getattr setattr lock relabelfrom append unlink link rename swapon quotaon mounton open audit_access };
allow unconfineddomain untrusted_app_devpts:lnk_file { ioctl read write create getattr setattr lock relabelfrom append unlink link rename execute swapon quotaon mounton open audit_access execmod };
allow unconfineddomain untrusted_app_devpts:sock_file { ioctl read write create getattr setattr lock relabelfrom append unlink link rename execute swapon quotaon mounton open audit_access execmod };
allow unconfineddomain untrusted_app_tmpfs:chr_file { ioctl read write create getattr setattr lock relabelfrom append unlink link rename swapon quotaon mounton open audit_access };
allow unconfineddomain untrusted_app_tmpfs:dir { ioctl read write create getattr setattr lock relabelfrom append unlink link rename execute swapon quotaon mounton add_name remove_name reparent search rmdir open audit_access execmod };
allow unconfineddomain untrusted_app_tmpfs:fifo_file { ioctl read write create getattr setattr lock relabelfrom append unlink link rename execute swapon quotaon mounton open audit_access execmod };
allow unconfineddomain untrusted_app_tmpfs:file { ioctl read write create getattr setattr lock relabelfrom append unlink link rename swapon quotaon mounton open audit_access };
allow unconfineddomain untrusted_app_tmpfs:lnk_file { ioctl read write create getattr setattr lock relabelfrom append unlink link rename execute swapon quotaon mounton open audit_access execmod };
allow unconfineddomain untrusted_app_tmpfs:sock_file { ioctl read write create getattr setattr lock relabelfrom append unlink link rename execute swapon quotaon mounton open audit_access execmod };
allow untrusted_app untrusted_app_devpts:chr_file { ioctl read write getattr open };
allow untrusted_app untrusted_app_tmpfs:file { read write execute };
