type vdc;
type vdc_exec;
type vdc_tmpfs;
allow debuggerd vdc:process { ptrace };
allow dumpstate vdc:process { transition signal siginh rlimitinh };
allow dumpstate vdc_exec:file { read getattr execute open };
allow init vdc:process { transition noatsecure siginh rlimitinh };
allow init vdc_exec:file { read getattr execute open };
allow init vdc_tmpfs:blk_file { relabelto };
allow init vdc_tmpfs:chr_file { relabelto };
allow init vdc_tmpfs:dir { relabelto };
allow init vdc_tmpfs:fifo_file { relabelto };
allow init vdc_tmpfs:file { relabelto };
allow init vdc_tmpfs:lnk_file { relabelto };
allow init vdc_tmpfs:sock_file { relabelto };
allow recovery vdc_exec:file { ioctl read write create getattr setattr lock relabelfrom relabelto append unlink link rename open };
allow shell vdc_exec:file { getattr };
allow unconfineddomain vdc:binder { call set_context_mgr transfer };
allow unconfineddomain vdc_tmpfs:chr_file { ioctl read write create getattr setattr lock relabelfrom append unlink link rename swapon quotaon mounton open audit_access };
allow unconfineddomain vdc_tmpfs:dir { ioctl read write create getattr setattr lock relabelfrom append unlink link rename execute swapon quotaon mounton add_name remove_name reparent search rmdir open audit_access execmod };
allow unconfineddomain vdc_tmpfs:fifo_file { ioctl read write create getattr setattr lock relabelfrom append unlink link rename execute swapon quotaon mounton open audit_access execmod };
allow unconfineddomain vdc_tmpfs:file { ioctl read write create getattr setattr lock relabelfrom append unlink link rename swapon quotaon mounton open audit_access };
allow unconfineddomain vdc_tmpfs:lnk_file { ioctl read write create getattr setattr lock relabelfrom append unlink link rename execute swapon quotaon mounton open audit_access execmod };
allow unconfineddomain vdc_tmpfs:sock_file { ioctl read write create getattr setattr lock relabelfrom append unlink link rename execute swapon quotaon mounton open audit_access execmod };
allow untrusted_app vdc_exec:file { read getattr execute open };
allow vdc vdc_exec:file { read getattr execute entrypoint open };
allow vdc vdc_tmpfs:file { read write };
dontaudit dumpstate vdc:process { noatsecure };
dontaudit init vdc:process { noatsecure };
