type vold;
type vold_exec;
type vold_prop;
type vold_socket;
type vold_tmpfs;
allow debuggerd vold:process { ptrace };
allow diag vold:unix_stream_socket { ioctl read write create getattr setattr lock append bind connect listen accept getopt setopt shutdown recvfrom sendto recv_msg send_msg name_bind connectto newconn acceptfrom };
allow diag vold_socket:sock_file { ioctl read write create getattr setattr lock append unlink link rename open };
allow hawk vold:dir { getattr search };
allow hawk vold:file { read open };
allow hawk vold:unix_stream_socket { connectto };
allow hawk vold_socket:sock_file { write };
allow healthd vold:binder { transfer };
allow init vold:process { transition noatsecure siginh rlimitinh };
allow init vold_exec:file { read getattr execute open };
allow init vold_socket:blk_file { relabelto };
allow init vold_socket:chr_file { relabelto };
allow init vold_socket:dir { relabelto };
allow init vold_socket:fifo_file { relabelto };
allow init vold_socket:file { relabelto };
allow init vold_socket:lnk_file { relabelto };
allow init vold_socket:sock_file { relabelto };
allow init vold_tmpfs:blk_file { relabelto };
allow init vold_tmpfs:chr_file { relabelto };
allow init vold_tmpfs:dir { relabelto };
allow init vold_tmpfs:fifo_file { relabelto };
allow init vold_tmpfs:file { relabelto };
allow init vold_tmpfs:lnk_file { relabelto };
allow init vold_tmpfs:sock_file { relabelto };
allow marvelltel vold:dir { ioctl read write create getattr setattr unlink link rename add_name remove_name reparent search rmdir open };
allow marvelltel vold:file { ioctl read write create getattr setattr lock append unlink link rename open };
allow marvelltel vold:lnk_file { ioctl read write create getattr setattr lock append unlink link rename open };
allow recovery vold_exec:file { ioctl read write create getattr setattr lock relabelfrom relabelto append unlink link rename open };
allow servicemanager vold:dir { search };
allow servicemanager vold:file { read open };
allow servicemanager vold:process { getattr };
allow shell vold_exec:file { getattr };
allow system_server vold:unix_stream_socket { connectto };
allow system_server vold_socket:sock_file { write };
allow unconfineddomain vold:binder { call set_context_mgr transfer };
allow unconfineddomain vold_socket:chr_file { ioctl read write create getattr setattr lock relabelfrom append unlink link rename swapon quotaon mounton open audit_access };
allow unconfineddomain vold_socket:dir { ioctl read write create getattr setattr lock relabelfrom append unlink link rename execute swapon quotaon mounton add_name remove_name reparent search rmdir open audit_access execmod };
allow unconfineddomain vold_socket:fifo_file { ioctl read write create getattr setattr lock relabelfrom append unlink link rename execute swapon quotaon mounton open audit_access execmod };
allow unconfineddomain vold_socket:file { ioctl read write create getattr setattr lock relabelfrom append unlink link rename swapon quotaon mounton open audit_access };
allow unconfineddomain vold_socket:lnk_file { ioctl read write create getattr setattr lock relabelfrom append unlink link rename execute swapon quotaon mounton open audit_access execmod };
allow unconfineddomain vold_socket:sock_file { ioctl read write create getattr setattr lock relabelfrom append unlink link rename execute swapon quotaon mounton open audit_access execmod };
allow unconfineddomain vold_tmpfs:chr_file { ioctl read write create getattr setattr lock relabelfrom append unlink link rename swapon quotaon mounton open audit_access };
allow unconfineddomain vold_tmpfs:dir { ioctl read write create getattr setattr lock relabelfrom append unlink link rename execute swapon quotaon mounton add_name remove_name reparent search rmdir open audit_access execmod };
allow unconfineddomain vold_tmpfs:fifo_file { ioctl read write create getattr setattr lock relabelfrom append unlink link rename execute swapon quotaon mounton open audit_access execmod };
allow unconfineddomain vold_tmpfs:file { ioctl read write create getattr setattr lock relabelfrom append unlink link rename swapon quotaon mounton open audit_access };
allow unconfineddomain vold_tmpfs:lnk_file { ioctl read write create getattr setattr lock relabelfrom append unlink link rename execute swapon quotaon mounton open audit_access execmod };
allow unconfineddomain vold_tmpfs:sock_file { ioctl read write create getattr setattr lock relabelfrom append unlink link rename execute swapon quotaon mounton open audit_access execmod };
allow untrusted_app vold_exec:file { read getattr execute open };
allow untrusted_app vold_socket:sock_file { getattr };
allow vdc vold:unix_stream_socket { connectto };
allow vdc vold_socket:sock_file { write };
allow vold vold_exec:file { read getattr execute entrypoint open };
allow vold vold_prop:property_service { set };
allow vold vold_tmpfs:file { read write };
dontaudit init vold:process { noatsecure };
