allow debuggerd vold:process { ptrace };
allow diag vold:unix_stream_socket { accept acceptfrom append bind connect connectto create getattr getopt ioctl listen lock name_bind newconn read recv_msg recvfrom send_msg sendto setattr setopt shutdown write };
allow diag vold_socket:sock_file { append create getattr ioctl link lock open read rename setattr unlink write };
allow hawk vold:dir { getattr search };
allow hawk vold:file { open read };
allow hawk vold:unix_stream_socket { connectto };
allow hawk vold_socket:sock_file { write };
allow healthd vold:binder { transfer };
allow init vold:process { noatsecure rlimitinh siginh transition };
allow init vold_exec:file { execute getattr open read };
allow init vold_socket:blk_file { relabelto };
allow init vold_socket:chr_file { relabelto };
allow init vold_socket:dir { relabelto };
allow init vold_socket:fifo_file { relabelto };
allow init vold_socket:file { relabelto };
allow init vold_socket:lnk_file { relabelto };
allow init vold_socket:sock_file { relabelto };
allow init vold_tmpfs:blk_file { relabelto };
allow init vold_tmpfs:chr_file { relabelto };
allow init vold_tmpfs:dir { relabelto };
allow init vold_tmpfs:fifo_file { relabelto };
allow init vold_tmpfs:file { relabelto };
allow init vold_tmpfs:lnk_file { relabelto };
allow init vold_tmpfs:sock_file { relabelto };
allow marvelltel vold:dir { add_name create getattr ioctl link open read remove_name rename reparent rmdir search setattr unlink write };
allow marvelltel vold:file { append create getattr ioctl link lock open read rename setattr unlink write };
allow marvelltel vold:lnk_file { append create getattr ioctl link lock open read rename setattr unlink write };
allow recovery vold_exec:file { append create getattr ioctl link lock open read relabelfrom relabelto rename setattr unlink write };
allow servicemanager vold:dir { search };
allow servicemanager vold:process { getattr };
allow shell vold_exec:file { getattr };
allow system_server vold:unix_stream_socket { connectto };
allow system_server vold_socket:sock_file { write };
allow unconfineddomain vold:binder { call set_context_mgr transfer };
allow unconfineddomain vold_socket:chr_file { append audit_access create getattr ioctl link lock mounton open quotaon read relabelfrom rename setattr swapon unlink write };
allow unconfineddomain vold_socket:dir { add_name append audit_access create execmod execute getattr ioctl link lock mounton open quotaon read relabelfrom remove_name rename reparent rmdir search setattr swapon unlink write };
allow unconfineddomain vold_socket:fifo_file { append audit_access create execmod execute getattr ioctl link lock mounton open quotaon read relabelfrom rename setattr swapon unlink write };
allow unconfineddomain vold_socket:file { append audit_access create getattr ioctl link lock mounton open quotaon read relabelfrom rename setattr swapon unlink write };
allow unconfineddomain vold_socket:lnk_file { append audit_access create execmod execute getattr ioctl link lock mounton open quotaon read relabelfrom rename setattr swapon unlink write };
allow unconfineddomain vold_socket:sock_file { append audit_access create execmod execute getattr ioctl link lock mounton open quotaon read relabelfrom rename setattr swapon unlink write };
allow unconfineddomain vold_tmpfs:chr_file { append audit_access create getattr ioctl link lock mounton open quotaon read relabelfrom rename setattr swapon unlink write };
allow unconfineddomain vold_tmpfs:dir { add_name append audit_access create execmod execute getattr ioctl link lock mounton open quotaon read relabelfrom remove_name rename reparent rmdir search setattr swapon unlink write };
allow unconfineddomain vold_tmpfs:fifo_file { append audit_access create execmod execute getattr ioctl link lock mounton open quotaon read relabelfrom rename setattr swapon unlink write };
allow unconfineddomain vold_tmpfs:file { append audit_access create getattr ioctl link lock mounton open quotaon read relabelfrom rename setattr swapon unlink write };
allow unconfineddomain vold_tmpfs:lnk_file { append audit_access create execmod execute getattr ioctl link lock mounton open quotaon read relabelfrom rename setattr swapon unlink write };
allow unconfineddomain vold_tmpfs:sock_file { append audit_access create execmod execute getattr ioctl link lock mounton open quotaon read relabelfrom rename setattr swapon unlink write };
allow untrusted_app vold_exec:file { execute getattr open read };
allow untrusted_app vold_socket:sock_file { getattr };
allow vdc vold:unix_stream_socket { connectto };
allow vdc vold_socket:sock_file { write };
allow vold vold_exec:file { entrypoint execute getattr open read };
allow vold vold_prop:property_service { set };
dontaudit init vold:process { noatsecure };
