type vpu_device;

allow shell vpu_device:chr_file { getattr };
allow unconfineddomain vpu_device:chr_file { append audit_access create getattr ioctl link lock mounton open quotaon read relabelfrom rename setattr swapon unlink write };
allow unconfineddomain vpu_device:file { append audit_access create getattr ioctl link lock mounton open quotaon read relabelfrom rename setattr swapon unlink write };
allow untrusted_app vpu_device:chr_file { getattr };
