allow init watchdogd:process { noatsecure rlimitinh siginh transition };
allow unconfineddomain watchdogd:binder { call set_context_mgr transfer };
dontaudit init watchdogd:process { noatsecure };
