type wireless_data_file;
allow FMRadiod wireless_data_file:dir { ioctl read write create getattr setattr unlink link rename add_name remove_name reparent search rmdir open };
allow FMRadiod wireless_data_file:sock_file { ioctl read write create getattr setattr lock append unlink link rename open };
allow bluetooth wireless_data_file:dir { ioctl read write create getattr setattr unlink link rename add_name remove_name reparent search rmdir open };
allow bluetooth wireless_data_file:sock_file { ioctl read write create getattr setattr lock append unlink link rename open };
allow init wireless_data_file:blk_file { relabelto };
allow init wireless_data_file:chr_file { relabelto };
allow init wireless_data_file:dir { relabelto };
allow init wireless_data_file:fifo_file { relabelto };
allow init wireless_data_file:file { relabelto };
allow init wireless_data_file:lnk_file { relabelto };
allow init wireless_data_file:sock_file { relabelto };
allow mlan2040coex wireless_data_file:dir { ioctl read write create getattr setattr unlink link rename add_name remove_name reparent search rmdir open };
allow mlan2040coex wireless_data_file:file { ioctl read write create getattr setattr lock append unlink link rename open };
allow mlan2040coex wireless_data_file:sock_file { ioctl read write create getattr setattr lock append unlink link rename open };
allow mlaninit wireless_data_file:dir { ioctl read write create getattr setattr unlink link rename add_name remove_name reparent search rmdir open };
allow mlaninit wireless_data_file:file { ioctl read write create getattr setattr lock append unlink link rename open };
allow mlaninit wireless_data_file:sock_file { ioctl read write create getattr setattr lock append unlink link rename open };
allow mwirelessd wireless_data_file:dir { ioctl read write create getattr setattr unlink link rename add_name remove_name reparent search rmdir open };
allow mwirelessd wireless_data_file:file { ioctl read write create getattr setattr lock append unlink link rename open };
allow mwirelessd wireless_data_file:sock_file { ioctl read write create getattr setattr lock append unlink link rename open };
allow nfc wireless_data_file:dir { ioctl read write create getattr setattr unlink link rename add_name remove_name reparent search rmdir open };
allow nfc wireless_data_file:sock_file { ioctl read write create getattr setattr lock append unlink link rename open };
allow system_server wireless_data_file:dir { ioctl read write create getattr setattr unlink link rename add_name remove_name reparent search rmdir open };
allow system_server wireless_data_file:sock_file { ioctl read write create getattr setattr lock append unlink link rename open };
allow ueventd wireless_data_file:dir { ioctl read write create getattr setattr unlink link rename add_name remove_name reparent search rmdir open };
allow ueventd wireless_data_file:file { ioctl read write create getattr setattr lock append unlink link rename open };
allow unconfineddomain wireless_data_file:chr_file { ioctl read write create getattr setattr lock relabelfrom append unlink link rename swapon quotaon mounton open audit_access };
allow unconfineddomain wireless_data_file:dir { ioctl read write create getattr setattr lock relabelfrom append unlink link rename execute swapon quotaon mounton add_name remove_name reparent search rmdir open audit_access execmod };
allow unconfineddomain wireless_data_file:fifo_file { ioctl read write create getattr setattr lock relabelfrom append unlink link rename execute swapon quotaon mounton open audit_access execmod };
allow unconfineddomain wireless_data_file:file { ioctl read write create getattr setattr lock relabelfrom append unlink link rename swapon quotaon mounton open audit_access };
allow unconfineddomain wireless_data_file:lnk_file { ioctl read write create getattr setattr lock relabelfrom append unlink link rename execute swapon quotaon mounton open audit_access execmod };
allow unconfineddomain wireless_data_file:sock_file { ioctl read write create getattr setattr lock relabelfrom append unlink link rename execute swapon quotaon mounton open audit_access execmod };
allow untrusted_app wireless_data_file:dir { search };
allow untrusted_app wireless_data_file:file { getattr };
