type zygote;
type zygote_socket;
type zygote_tmpfs;
allow appdomain zygote:fd { use };
allow appdomain zygote:process { sigchld };
allow appdomain zygote:unix_dgram_socket { write };
allow appdomain zygote_tmpfs:file { read };
allow debuggerd zygote:process { ptrace };
allow hawk zygote:dir { getattr search };
allow hawk zygote:file { read open };
allow init zygote:process { transition noatsecure siginh rlimitinh };
allow init zygote_socket:blk_file { relabelto };
allow init zygote_socket:chr_file { relabelto };
allow init zygote_socket:dir { relabelto };
allow init zygote_socket:fifo_file { relabelto };
allow init zygote_socket:file { relabelto };
allow init zygote_socket:lnk_file { relabelto };
allow init zygote_socket:sock_file { relabelto };
allow init zygote_tmpfs:blk_file { relabelto };
allow init zygote_tmpfs:chr_file { relabelto };
allow init zygote_tmpfs:dir { relabelto };
allow init zygote_tmpfs:fifo_file { relabelto };
allow init zygote_tmpfs:file { relabelto };
allow init zygote_tmpfs:lnk_file { relabelto };
allow init zygote_tmpfs:sock_file { relabelto };
allow marvelltel zygote:lnk_file { ioctl read write create getattr setattr lock append unlink link rename open };
allow system_server zygote:fd { use };
allow system_server zygote:process { sigchld sigkill };
allow system_server zygote:unix_dgram_socket { write };
allow system_server zygote:unix_stream_socket { getattr getopt connectto };
allow system_server zygote_socket:sock_file { write };
allow system_server zygote_tmpfs:file { read };
allow unconfineddomain zygote:binder { call set_context_mgr transfer };
allow unconfineddomain zygote_socket:chr_file { ioctl read write create getattr setattr lock relabelfrom append unlink link rename swapon quotaon mounton open audit_access };
allow unconfineddomain zygote_socket:dir { ioctl read write create getattr setattr lock relabelfrom append unlink link rename execute swapon quotaon mounton add_name remove_name reparent search rmdir open audit_access execmod };
allow unconfineddomain zygote_socket:fifo_file { ioctl read write create getattr setattr lock relabelfrom append unlink link rename execute swapon quotaon mounton open audit_access execmod };
allow unconfineddomain zygote_socket:file { ioctl read write create getattr setattr lock relabelfrom append unlink link rename swapon quotaon mounton open audit_access };
allow unconfineddomain zygote_socket:lnk_file { ioctl read write create getattr setattr lock relabelfrom append unlink link rename execute swapon quotaon mounton open audit_access execmod };
allow unconfineddomain zygote_socket:sock_file { ioctl read write create getattr setattr lock relabelfrom append unlink link rename execute swapon quotaon mounton open audit_access execmod };
allow unconfineddomain zygote_tmpfs:chr_file { ioctl read write create getattr setattr lock relabelfrom append unlink link rename swapon quotaon mounton open audit_access };
allow unconfineddomain zygote_tmpfs:dir { ioctl read write create getattr setattr lock relabelfrom append unlink link rename execute swapon quotaon mounton add_name remove_name reparent search rmdir open audit_access execmod };
allow unconfineddomain zygote_tmpfs:fifo_file { ioctl read write create getattr setattr lock relabelfrom append unlink link rename execute swapon quotaon mounton open audit_access execmod };
allow unconfineddomain zygote_tmpfs:file { ioctl read write create getattr setattr lock relabelfrom append unlink link rename swapon quotaon mounton open audit_access };
allow unconfineddomain zygote_tmpfs:lnk_file { ioctl read write create getattr setattr lock relabelfrom append unlink link rename execute swapon quotaon mounton open audit_access execmod };
allow unconfineddomain zygote_tmpfs:sock_file { ioctl read write create getattr setattr lock relabelfrom append unlink link rename execute swapon quotaon mounton open audit_access execmod };
allow untrusted_app zygote:unix_dgram_socket { getattr };
allow untrusted_app zygote_socket:sock_file { getattr };
allow zygote zygote_tmpfs:file { read write };
dontaudit init zygote:process { noatsecure };
